﻿// Variables
@primarycolor: #842828;
@secondrycolor: #d9c9ba;
@bluecolor: #2976a6;
@red: #ff0000;
@green: #24a649;
@black: #000000;
@white: #fff;
@gray: #ccc;
@import url('fonts.css');

// kww-custom-table
.kww-custom-table {
    tbody {
        tr {
            td {
                .kww-filled-btn-sm {
                    border-radius: 3px;
                    padding: 1px 7px 4px;

                    i {
                        font-size: 17px;
                    }

                    &:hover {
                        img {
                            filter: brightness(1) invert(1);
                        }
                    }
                }

                .kww-btn-pd {
                    padding: 1px 15px 4px;
                }
            }
        }
    }
}






//kww-custom-table
// Defaults
/* Scroll styles for -Webkit browser */
body::-webkit-scrollbar,
div::-webkit-scrollbar {
    width: 5px;
    height: 8px;
}

body::-webkit-scrollbar-thumb,
div::-webkit-scrollbar-thumb {
    min-height: 50px;
    background: #842828;
}

body::-webkit-scrollbar-track,
div::-webkit-scrollbar-track {
    background: #F9F9F9;
    border-radius: 10px;
}

.fullpageloader {
    display: none;
    position: absolute;
    background: #923734;
    width: 100vw;
    height: 100vh;
    z-index: 99999;
    top: 0;
    left: 0;
    align-items: center;
    justify-content: center;

    svg {
        width: 100px;
        margin-right: -45px;
    }
}

body.loader .fullpageloader {
    display: flex;
}

.kww-mobile-menu {
    display: none;
}

body * {
    font-family: "Runda", "Segoe UI", sans-serif;
    //font-family: "Segoe UI", sans-serif;
}

h1 {
    font-size: 36px;
    font-weight: 600;
}

h2 {
    font-size: 34px;
    font-weight: 700;
    color: @primarycolor;
    font-family: "adobe-jenson-pro";
}

h3 {
    font-size: 30px;
    font-weight: 700;
}

h5 {
    font-size: 24px;
    font-weight: 400;
}

p {
    font-size: 16px;
}

a[role="button"] {
    text-decoration: none;
}

.main-heading, .color-primary {
    color: @primarycolor;
}

.kww-filled-btn {
    background-color: @primarycolor;
    border: 1px solid @primarycolor;
    transition: all ease-in-out 0.25s;
    color: #fff;
    text-decoration: none;
    width: 100%;
    padding: 4px 8px;
    border-radius: 5px;
    box-shadow: 0px 4px 5px -4px #000;

    & * {
        font-size: 16px;
    }

    &:hover {
        background-color: @white;
        border: 1px solid @primarycolor;
        color: @primarycolor;
    }

    &:focus {
        outline: none;
        box-shadow: none;
    }
}

.kww-filled-btn-sm {
    .kww-filled-btn;
    text-decoration: none;
}

a.kww-filled-btn-sm {
    width: auto;
    display: inline-block;
    margin: 5px 0;
}

.kww-cancel-btn {
    border-radius: 6px;
    box-shadow: 1px 1px 4px -1px black;
    background: red;
    color: #fff;
    max-width: 185px;
    width: 100%;
    padding: 12px;
}

.kww-success-btn {
    border-radius: 6px;
    box-shadow: 1px 1px 4px -1px black;
    background: #24a649;
    color: #fff;
    max-width: 185px;
    width: 100%;
    padding: 12px;
}

// Kendo Overides

.k-pager-wrap .k-link.k-state-selected {
    background-color: @primarycolor;
    border-color: @primarycolor;
}

.k-grid-header {
    margin-bottom: 10px;
}

.k-grid,
.k-grid-header,
.k-grid-header-wrap,
.k-grid-header th.k-header,
div.k-grid-header,
.k-grid td,
.k-pager-wrap {
    border: 0
}

.k-header,
.k-grid-header,
.k-alt,
td.k-group-cell,
.k-grouping-row td,
.k-grid tr:hover {
    background: none;
}

.k-grid-header th.k-header {
    font-weight: bold
}

.k-grid-header {
    width: calc(100% - 8px);
}
.k-grid th a,
.k-grid td {
    font-size: 16px;
}

.k-grid th,
.k-grid-header th.k-header,
.k-grid td {
    padding: 10px 7px;
}

.k-grid-header th.k-header:first-child {
    padding-left: 5px;
}

.k-i-expand:before {
    font-family: "Font Awesome 5 Free";
    content: "\f0fe";
}

.k-i-collapse:before {
    font-family: "Font Awesome 5 Free";
    content: "\f146";
}

.hide-kendotable {
    max-height: 0;
    overflow: hidden;
}
// Bootstrap Button Overide
small {
    font-size: 12px;
}

.btn-group-lg > .btn, .btn-lg {
    min-width: 180px;
    font-size: 16px;
    padding: 11px 5px;
}

.btn-group-xl > .btn, .btn-xl {
    font-size: 16px;
    padding: 11px 5px;
    width: 100%;
    max-width: 400px;
}

.btn-primary {
    background-color: @primarycolor;
    border-color: @primarycolor;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
    background-color: #d9c9ba!important;
    border-color: #d9c9ba!important;
    box-shadow: none,
}

.btn-danger {
    background-color: @red;
    border-color: @red;
}

.btn-success {
    background-color: @green;
    border-color: @green;
}

.m-login-btm {
    line-height: 3.5;
}

.formWrapper {
    label {
        font-size: 14px;
        color: #515151;
        margin: 0;
    }
}

.lbltextfield {
    label {
        font-size: 14px;
        color: #656565;
        margin: 0;
    }

    .k-textbox {
        width: 100%;
    }
}

.field-validation-valid,
.field-validation-error {
    font-size: 12px;
    color: @red;
    display: block;
    min-height: 20px;
}

.form-control::placeholder {
    color: #ccc;
}

.form-group {
    margin-bottom: 0.25rem;
}

.custom-checkbox-style {
    /* The checkbox-custome */
    .checkbox-custome {
        display: inline-block;
        position: relative;
        margin-bottom: 12px;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        padding: 0 0 0 25px;

        input {
            position: absolute;
            opacity: 0;
            cursor: pointer;
            height: 0;
            width: 0;
            border-radius: 50px;
        }

        .checkmark {
            position: absolute;
            top: 15px;
            left: 0;
            height: 18px;
            width: 18px;
            background-color: #eee;
            border-radius: 50px;
        }
    }
    /* Hide the browser's default checkbox */
    /* Create a custom checkbox */
    /* On mouse-over, add a grey background color */
    .checkbox-custome:hover input ~ .checkmark {
        background-color: #000;
    }
    /* When the checkbox is checked, add a blue background */
    .checkbox-custome input:checked ~ .checkmark {
        background-color: #000;
    }
    /* Create the checkmark/indicator (hidden when not checked) */
    .checkmark:after {
        content: "";
        position: absolute;
        display: none;
    }
    /* Show the checkmark when checked */
    .checkbox-custome input:checked ~ .checkmark:after {
        display: block;
    }
    /* Style the checkmark/indicator */
    .checkbox-custome .checkmark:after {
        left: 7px;
        top: 3px;
        width: 5px;
        height: 10px;
        border: solid white;
        border-width: 0 3px 3px 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
    }
}

.modal {
    .modal-content {
        border-radius: 10px;
        border-radius: 10px;
        border: 2px solid @primarycolor;

        .modal-body {
            .fas {
                color: @primarycolor;
            }

            & h1.color-primary {
                font-size: 32px;
                font-family: "adobe-jenson-pro";
            }
        }
    }
}

@media only screen and (min-width: 1440px) {
    .modal-xl {
        max-width: 1342px;
    }
}

@media only screen and (min-height: 945px) {
    // Strech grid on Desktops
    .trademarklist .k-grid-content {
        height: calc(100vh - 460px) !important;
    }

    .trademarkdeadlist .k-grid-content {
        height: calc(100vh - 600px) !important;
    }
}

.kww-outline-btn {
    background-color: @white;
    border: 1px solid @primarycolor;
    transition: all ease-in-out 0.25s;
    color: @primarycolor;

    &:hover {
        background-color: @primarycolor;
        border: 1px solid @primarycolor;
        color: @white;
    }
}

.fullwidth {
    width: 100%;
}

.forgot-pass {
    color: @black;
    text-decoration: underline;

    &:hover {
        text-decoration: none;
        color: @black;
    }
}

a {
    color: @black;
    text-decoration: underline;

    &:hover {
        text-decoration: none;
        color: @black;
    }
}

.app-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow-x: hidden;

    & > .footer {
        padding: 15px 0;
        margin-top: auto;
    }
    // Universals
    #errorDiv {
        font-size: 12px;
        color: #ff0000;
    }
}

// Start kww-form-box
.kww-form-box {
    width: 95%;
    max-width: 450px;
    margin: 0 auto;
    border: 3px solid @primarycolor;
    padding: 30px;
    border-radius: 20px;
}

// Start Registration
.kww-registration-logo {
    img {
        width: 250px;
    }
}

.kww-regist-outer-cont {
    background-color: @primarycolor;
    padding: 30px;
    border-radius: 10px;
    height: calc(100% - 0px);
    display: flex;

    .kww-regist-inner-cont {
        background-color: @white;
        border-radius: 10px;
        width: 100%;
        height: 100%;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .header {
            background-color: @bluecolor;
            border-radius: 10px 10px 0 0px;
            position: relative;
            padding: 5px 10px;
            box-shadow: 1px 4px 7px -5px #000;

            a {
                color: @white;
                position: absolute;
                right: 10px;
                top: 3px;
                text-decoration: none;
                font-size: 25px;
            }
        }

        .content {
            padding: 30px 50px 0;
            height: 100%;

            .progress-container {
                border-bottom: 1px solid @gray;
            }

            .add-contract-btn {
                float: right;
                bottom: 70px;
                position: relative;
            }
        }

        .footer-btn-container {
            padding: 0 40px;
            width: 100%;
            height: 50px;

            .footer-btn {
                display: flex;
                justify-content: space-between;

                .btn-iconlft {
                    display: flex;
                    position: relative;
                    background-color: #f49393;
                    border: none;
                    text-decoration: none;
                    padding-left: 3.4rem;
                    padding-right: 1.5rem;

                    i {
                        display: flex;
                        align-items: center;
                        position: absolute;
                        z-index: 100;
                        top: 0;
                        border-radius: 0;
                        padding: 0 0.7rem;
                        height: 100%;
                        left: 0;
                        background-color: @primarycolor;
                        border-top-left-radius: inherit;
                        border-bottom-left-radius: inherit;
                        margin-right: 0.75rem;
                    }

                    &:hover {
                        background-color: #a95858;
                    }
                }

                .btn-iconrht {
                    display: flex;
                    position: relative;
                    background-color: #f49393;
                    border: none;
                    text-decoration: none;
                    padding-right: 3.4rem;
                    padding-left: 1.5rem;

                    i {
                        display: flex;
                        align-items: center;
                        position: absolute;
                        z-index: 100;
                        top: 0;
                        border-radius: 0;
                        padding: 0 0.7rem;
                        height: 100%;
                        right: 0;
                        background-color: @primarycolor;
                        border-top-right-radius: inherit;
                        border-bottom-right-radius: inherit;
                        margin-left: 0.75rem;
                    }

                    &:hover {
                        background-color: #a95858;
                    }
                }
            }
        }
    }
}

// Admin
.admin-header {
    img {
        height: 95px;
    }

    a {
        display: flex;
        justify-content: space-between;
        padding: 15px 10px;
        width: 250px;
        align-items: center;
        text-decoration: none;
        font-size: 18px;

        &:hover {
            color: #fff;

            img {
                filter: brightness(0) invert(1);
            }
        }
    }

    .fas {
        font-size: 26px;
    }

    .logout-icon {
        width: 30px;
        height: 26.5px;
    }
}

.attorneyMenu {
    list-style-type: none;
    display: inline-block;
    background: #90372f;
    padding: 0;
    border-radius: 10px;
    float: right;

    li {
        display: inline-block;
        padding: 10px;

        a {
            padding: 10px;
            color: #fff;
            text-decoration: none;
        }
    }
}

.tbl-middle-align {
    td {
        vertical-align: middle !important;
    }

    .tbl-date-red {
        position: relative;

        &:before {
            content: "";
            width: 10px;
            height: 10px;
            background: #f00;
            position: absolute;
            border-radius: 10px;
            left: -7px;
            top: 55px;
        }
    }

    .tbl-date-yellow {
        position: relative;

        &:before {
            content: "";
            width: 10px;
            height: 10px;
            background: yellow;
            position: absolute;
            border-radius: 10px;
            left: -7px;
            top: 55px;
        }
    }
}

// Main Navigation
.kww-main-nav {
    ul {
        padding: 0;
        display: flex;
        list-style: none;
        margin:0 0 10px 0;

        li {
            background: #842828;
            text-decoration: none;
            color: #fff;
            border-right: 2px solid #fff;
            flex-basis: 20%;

            &:hover {
                background-color: @secondrycolor;
            }

            a {
                color: #fff;
                text-decoration: none;
                display: flex;
                justify-content: space-between;
                align-items: center;
                cursor: pointer;
                padding: 13px 10px;
                font-size: 18px;
            }

            .fas {
                font-size: 26px;
            }
        }

        .active {
            background-color: @secondrycolor;
        }
    }
}

// Sub Navigation
.kww-sub-nav {
    ul {
        list-style: none;
        padding: 0;
        display: flex;

        li + li {
            &:before {
                padding: 8px;
                color: black;
                content: "|\00a0";
            }
        }

        li.active {
            a {
                color: @secondrycolor;
            }
        }
    }
}

// Upload Button
.upload-box-wrapper {
    max-width: 340px;
    margin-left: auto;
    margin-right: auto;

    .upload-btn-wrapper {
        position: relative;

        input[type="file"] {
            position: absolute;
            left: 0;
            top: 0;
            opacity: 0;
            height: 100%;
            width: 100%;
        }

        .btn-iconlft {
            display: flex;
            position: relative;
            background-color: #f49393;
            border: none;
            text-decoration: none;
            padding: 10px 123px;

            i {
                display: flex;
                align-items: center;
                position: absolute;
                z-index: 100;
                top: 0;
                border-radius: 0;
                padding: 0 0.7rem;
                height: 100%;
                left: 0;
                background-color: @primarycolor;
                border-top-left-radius: inherit;
                border-bottom-left-radius: inherit;
                margin-right: 0.75rem;
            }

            &:hover {
                background-color: #a95858;
            }
        }
    }
}


.head-box {
    border: 1px solid #842828;
    color: #842828;
    display: table;
    margin-left: auto;
    margin-right: auto;
    padding: 7px 50px;

    p {
        text-decoration: underline;
    }
}

.two-lbl {
    line-height: 1;
    margin: 6px 0;

    .h-lbl {
        margin-bottom: 3px;
        font-weight: 500;
        display: block;
    }
}

.border-bottom-line {
    border-bottom: 3px solid @primarycolor;
}

/* Data Table */
.dataTables_paginate {
    ul {
        li {
            a {
                text-decoration: none;
            }
        }
    }
}

.dataTable {
    tbody {
        tr {
            td {
                padding: 14px 0;
            }
        }
    }
}

.small-txt > * {
    font-size: 12px;
    line-height: 1.2;
    list-style: none;

  
}

.small-txt > ul > li {
    margin-bottom: 10px;
}

.navbar-nav > li, .dropdown-menu > li {
    padding: 0;
    margin-bottom: 0;

    & a {
        display: block;
    }
} .dt-bootstrap4 {
    #customerDatatable {
        thead {
            tr {
                th {
                    &:before, &:after {
                        bottom: 0 !important;
                    }
                }
            }
        }
    }
}

.dateSelectorW {

    label {
        font-size: 14px;
        color: #515151;
        text-align: left;
        margin: 0;
        display: block;
    }

    .k-datepicker {
        width: 100%;
    }
}

#divTrademarkList {
    .tmistCancel {
        display: block;
        text-align: right;
    }

    
}
.tm-arch-btn {
    width: 100%;
    padding: 0.25em 0;
}

.DateRangeDiv {
    max-width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.iconimg {
    display: flex;
    align-items: center;
    position: absolute;
    z-index: 100;
    top: 0;
    border-radius: 0;
    padding: 0 0.7rem;
    height: 100%;
    left: 0;
    background-color: @primarycolor;
    border-top-left-radius: inherit;
    border-bottom-left-radius: inherit;
    margin-right: 0.75rem;

    img {
        width: 80%;
    }
}


// kendo calender ui override

.k-calendar td.k-state-selected .k-link {
    border-color: #842828;
    color: #fff;
    background-color: #842828;
}

.k-calendar td.k-state-focused .k-link {
    box-shadow: inset 0 0 2px 1px #842828;
}

.k-calendar .k-calendar-header .k-today
, .k-calendar .k-footer .k-nav-today {
    color: #842828;
}

.k-calendar .k-calendar-header .k-today, .k-calendar .k-footer .k-nav-today {
    color: #842828;

    &:hover {
        color: #842828;
    }
}

.k-calendar .k-today .k-link {
    color: #842828;
    box-shadow: inset 0 0 0 1px #842828;
}
//kww kendo calender ui override

//kww-dashboard-tile
.kww-dashboard-tile {
    background-color: #F2ECE7;
    height: 125px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 30px;
    color: #222222;

    h6 {
        font-size: 19px;
        font-weight: normal;
    }

    small {
        font-size: 12px;
    }

    &:hover {
        background-color: #efe2d7;
    }
}
//kww-dashboard-tile

.m56top{
    margin-top:56px;
    margin-bottom:0;
}

.addReadMore {
    .readMore, .readLess {
        color: @primarycolor !important;
    }
}

.StatusBox {
    cursor: pointer;
    &:hover {
        background-color: #efe2d7;
    }
}