﻿@import url('fonts.css');
.kww-custom-table tbody tr td .kww-filled-btn-sm {
  border-radius: 3px;
  padding: 1px 7px 4px;
}
.kww-custom-table tbody tr td .kww-filled-btn-sm i {
  font-size: 17px;
}
.kww-custom-table tbody tr td .kww-filled-btn-sm:hover img {
  filter: brightness(1) invert(1);
}
.kww-custom-table tbody tr td .kww-btn-pd {
  padding: 1px 15px 4px;
}
/* Scroll styles for -Webkit browser */
body::-webkit-scrollbar,
div::-webkit-scrollbar {
  width: 5px;
  height: 8px;
}
body::-webkit-scrollbar-thumb,
div::-webkit-scrollbar-thumb {
  min-height: 50px;
  background: #842828;
}
body::-webkit-scrollbar-track,
div::-webkit-scrollbar-track {
  background: #F9F9F9;
  border-radius: 10px;
}
.fullpageloader {
  display: none;
  position: absolute;
  background: #923734;
  width: 100vw;
  height: 100vh;
  z-index: 99999;
  top: 0;
  left: 0;
  align-items: center;
  justify-content: center;
}
.fullpageloader svg {
  width: 100px;
  margin-right: -45px;
}
body.loader .fullpageloader {
  display: flex;
}
.kww-mobile-menu {
  display: none;
}
body * {
  font-family: "Runda", "Segoe UI", sans-serif;
}
h1 {
  font-size: 36px;
  font-weight: 600;
}
h2 {
  font-size: 34px;
  font-weight: 700;
  color: #842828;
  font-family: "adobe-jenson-pro";
}
h3 {
  font-size: 30px;
  font-weight: 700;
}
h5 {
  font-size: 24px;
  font-weight: 400;
}
p {
  font-size: 16px;
}
a[role="button"] {
  text-decoration: none;
}
.main-heading,
.color-primary {
  color: #842828;
}
.kww-filled-btn {
  background-color: #842828;
  border: 1px solid #842828;
  transition: all ease-in-out 0.25s;
  color: #fff;
  text-decoration: none;
  width: 100%;
  padding: 4px 8px;
  border-radius: 5px;
  box-shadow: 0px 4px 5px -4px #000;
}
.kww-filled-btn * {
  font-size: 16px;
}
.kww-filled-btn:hover {
  background-color: #fff;
  border: 1px solid #842828;
  color: #842828;
}
.kww-filled-btn:focus {
  outline: none;
  box-shadow: none;
}
.kww-filled-btn-sm {
  background-color: #842828;
  border: 1px solid #842828;
  transition: all ease-in-out 0.25s;
  color: #fff;
  width: 100%;
  padding: 4px 8px;
  border-radius: 5px;
  box-shadow: 0px 4px 5px -4px #000;
  text-decoration: none;
}
.kww-filled-btn-sm * {
  font-size: 16px;
}
.kww-filled-btn-sm:hover {
  background-color: #fff;
  border: 1px solid #842828;
  color: #842828;
}
.kww-filled-btn-sm:focus {
  outline: none;
  box-shadow: none;
}
a.kww-filled-btn-sm {
  width: auto;
  display: inline-block;
  margin: 5px 0;
}
.kww-cancel-btn {
  border-radius: 6px;
  box-shadow: 1px 1px 4px -1px black;
  background: red;
  color: #fff;
  max-width: 185px;
  width: 100%;
  padding: 12px;
}
.kww-success-btn {
  border-radius: 6px;
  box-shadow: 1px 1px 4px -1px black;
  background: #24a649;
  color: #fff;
  max-width: 185px;
  width: 100%;
  padding: 12px;
}
.k-pager-wrap .k-link.k-state-selected {
  background-color: #842828;
  border-color: #842828;
}
.k-grid-header {
  margin-bottom: 10px;
}
.k-grid,
.k-grid-header,
.k-grid-header-wrap,
.k-grid-header th.k-header,
div.k-grid-header,
.k-grid td,
.k-pager-wrap {
  border: 0;
}
.k-header,
.k-grid-header,
.k-alt,
td.k-group-cell,
.k-grouping-row td,
.k-grid tr:hover {
  background: none;
}
.k-grid-header th.k-header {
  font-weight: bold;
}
.k-grid-header {
  width: calc(100% - 8px);
}
.k-grid th a,
.k-grid td {
  font-size: 16px;
}
.k-grid th,
.k-grid-header th.k-header,
.k-grid td {
  padding: 10px 7px;
}
.k-grid-header th.k-header:first-child {
  padding-left: 5px;
}
.k-i-expand:before {
  font-family: "Font Awesome 5 Free";
  content: "\f0fe";
}
.k-i-collapse:before {
  font-family: "Font Awesome 5 Free";
  content: "\f146";
}
.hide-kendotable {
  max-height: 0;
  overflow: hidden;
}
small {
  font-size: 12px;
}
.btn-group-lg > .btn,
.btn-lg {
  min-width: 180px;
  font-size: 16px;
  padding: 11px 5px;
}
.btn-group-xl > .btn,
.btn-xl {
  font-size: 16px;
  padding: 11px 5px;
  width: 100%;
  max-width: 400px;
}
.btn-primary {
  background-color: #842828;
  border-color: #842828;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
  background-color: #d9c9ba !important;
  border-color: #d9c9ba !important;
  box-shadow: none;
}
.btn-danger {
  background-color: #ff0000;
  border-color: #ff0000;
}
.btn-success {
  background-color: #24a649;
  border-color: #24a649;
}
.m-login-btm {
  line-height: 3.5;
}
.formWrapper label {
  font-size: 14px;
  color: #515151;
  margin: 0;
}
.lbltextfield label {
  font-size: 14px;
  color: #656565;
  margin: 0;
}
.lbltextfield .k-textbox {
  width: 100%;
}
.field-validation-valid,
.field-validation-error {
  font-size: 12px;
  color: #ff0000;
  display: block;
  min-height: 20px;
}
.form-control::placeholder {
  color: #ccc;
}
.form-group {
  margin-bottom: 0.25rem;
}
.custom-checkbox-style {
  /* The checkbox-custome */
  /* Hide the browser's default checkbox */
  /* Create a custom checkbox */
  /* On mouse-over, add a grey background color */
  /* When the checkbox is checked, add a blue background */
  /* Create the checkmark/indicator (hidden when not checked) */
  /* Show the checkmark when checked */
  /* Style the checkmark/indicator */
}
.custom-checkbox-style .checkbox-custome {
  display: inline-block;
  position: relative;
  margin-bottom: 12px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding: 0 0 0 25px;
}
.custom-checkbox-style .checkbox-custome input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
  border-radius: 50px;
}
.custom-checkbox-style .checkbox-custome .checkmark {
  position: absolute;
  top: 15px;
  left: 0;
  height: 18px;
  width: 18px;
  background-color: #eee;
  border-radius: 50px;
}
.custom-checkbox-style .checkbox-custome:hover input ~ .checkmark {
  background-color: #000;
}
.custom-checkbox-style .checkbox-custome input:checked ~ .checkmark {
  background-color: #000;
}
.custom-checkbox-style .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.custom-checkbox-style .checkbox-custome input:checked ~ .checkmark:after {
  display: block;
}
.custom-checkbox-style .checkbox-custome .checkmark:after {
  left: 7px;
  top: 3px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.modal .modal-content {
  border-radius: 10px;
  border: 2px solid #842828;
}
.modal .modal-content .modal-body .fas {
  color: #842828;
}
.modal .modal-content .modal-body h1.color-primary {
  font-size: 32px;
  font-family: "adobe-jenson-pro";
}
@media only screen and (min-width: 1440px) {
  .modal-xl {
    max-width: 1342px;
  }
}
@media only screen and (min-height: 945px) {
  .trademarklist .k-grid-content {
    height: calc(100vh - 460px) !important;
  }
  .trademarkdeadlist .k-grid-content {
    height: calc(100vh - 600px) !important;
  }
}
.kww-outline-btn {
  background-color: #fff;
  border: 1px solid #842828;
  transition: all ease-in-out 0.25s;
  color: #842828;
}
.kww-outline-btn:hover {
  background-color: #842828;
  border: 1px solid #842828;
  color: #fff;
}
.fullwidth {
  width: 100%;
}
.forgot-pass {
  color: #000000;
  text-decoration: underline;
}
.forgot-pass:hover {
  text-decoration: none;
  color: #000000;
}
a {
  color: #000000;
  text-decoration: underline;
}
a:hover {
  text-decoration: none;
  color: #000000;
}
.app-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow-x: hidden;
}
.app-wrapper > .footer {
  padding: 15px 0;
  margin-top: auto;
}
.app-wrapper #errorDiv {
  font-size: 12px;
  color: #ff0000;
}
.kww-form-box {
  width: 95%;
  max-width: 450px;
  margin: 0 auto;
  border: 3px solid #842828;
  padding: 30px;
  border-radius: 20px;
}
.kww-registration-logo img {
  width: 250px;
}
.kww-regist-outer-cont {
  background-color: #842828;
  padding: 30px;
  border-radius: 10px;
  height: calc(100% - 0px);
  display: flex;
}
.kww-regist-outer-cont .kww-regist-inner-cont {
  background-color: #fff;
  border-radius: 10px;
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.kww-regist-outer-cont .kww-regist-inner-cont .header {
  background-color: #2976a6;
  border-radius: 10px 10px 0 0px;
  position: relative;
  padding: 5px 10px;
  box-shadow: 1px 4px 7px -5px #000;
}
.kww-regist-outer-cont .kww-regist-inner-cont .header a {
  color: #fff;
  position: absolute;
  right: 10px;
  top: 3px;
  text-decoration: none;
  font-size: 25px;
}
.kww-regist-outer-cont .kww-regist-inner-cont .content {
  padding: 30px 50px 0;
  height: 100%;
}
.kww-regist-outer-cont .kww-regist-inner-cont .content .progress-container {
  border-bottom: 1px solid #ccc;
}
.kww-regist-outer-cont .kww-regist-inner-cont .content .add-contract-btn {
  float: right;
  bottom: 70px;
  position: relative;
}
.kww-regist-outer-cont .kww-regist-inner-cont .footer-btn-container {
  padding: 0 40px;
  width: 100%;
  height: 50px;
}
.kww-regist-outer-cont .kww-regist-inner-cont .footer-btn-container .footer-btn {
  display: flex;
  justify-content: space-between;
}
.kww-regist-outer-cont .kww-regist-inner-cont .footer-btn-container .footer-btn .btn-iconlft {
  display: flex;
  position: relative;
  background-color: #f49393;
  border: none;
  text-decoration: none;
  padding-left: 3.4rem;
  padding-right: 1.5rem;
}
.kww-regist-outer-cont .kww-regist-inner-cont .footer-btn-container .footer-btn .btn-iconlft i {
  display: flex;
  align-items: center;
  position: absolute;
  z-index: 100;
  top: 0;
  border-radius: 0;
  padding: 0 0.7rem;
  height: 100%;
  left: 0;
  background-color: #842828;
  border-top-left-radius: inherit;
  border-bottom-left-radius: inherit;
  margin-right: 0.75rem;
}
.kww-regist-outer-cont .kww-regist-inner-cont .footer-btn-container .footer-btn .btn-iconlft:hover {
  background-color: #a95858;
}
.kww-regist-outer-cont .kww-regist-inner-cont .footer-btn-container .footer-btn .btn-iconrht {
  display: flex;
  position: relative;
  background-color: #f49393;
  border: none;
  text-decoration: none;
  padding-right: 3.4rem;
  padding-left: 1.5rem;
}
.kww-regist-outer-cont .kww-regist-inner-cont .footer-btn-container .footer-btn .btn-iconrht i {
  display: flex;
  align-items: center;
  position: absolute;
  z-index: 100;
  top: 0;
  border-radius: 0;
  padding: 0 0.7rem;
  height: 100%;
  right: 0;
  background-color: #842828;
  border-top-right-radius: inherit;
  border-bottom-right-radius: inherit;
  margin-left: 0.75rem;
}
.kww-regist-outer-cont .kww-regist-inner-cont .footer-btn-container .footer-btn .btn-iconrht:hover {
  background-color: #a95858;
}
.admin-header img {
  height: 95px;
}
.admin-header a {
  display: flex;
  justify-content: space-between;
  padding: 15px 10px;
  width: 250px;
  align-items: center;
  text-decoration: none;
  font-size: 18px;
}
.admin-header a:hover {
  color: #fff;
}
.admin-header a:hover img {
  filter: brightness(0) invert(1);
}
.admin-header .fas {
  font-size: 26px;
}
.admin-header .logout-icon {
  width: 30px;
  height: 26.5px;
}
.attorneyMenu {
  list-style-type: none;
  display: inline-block;
  background: #90372f;
  padding: 0;
  border-radius: 10px;
  float: right;
}
.attorneyMenu li {
  display: inline-block;
  padding: 10px;
}
.attorneyMenu li a {
  padding: 10px;
  color: #fff;
  text-decoration: none;
}
.tbl-middle-align td {
  vertical-align: middle !important;
}
.tbl-middle-align .tbl-date-red {
  position: relative;
}
.tbl-middle-align .tbl-date-red:before {
  content: "";
  width: 10px;
  height: 10px;
  background: #f00;
  position: absolute;
  border-radius: 10px;
  left: -7px;
  top: 55px;
}
.tbl-middle-align .tbl-date-yellow {
  position: relative;
}
.tbl-middle-align .tbl-date-yellow:before {
  content: "";
  width: 10px;
  height: 10px;
  background: yellow;
  position: absolute;
  border-radius: 10px;
  left: -7px;
  top: 55px;
}
.kww-main-nav ul {
  padding: 0;
  display: flex;
  list-style: none;
  margin: 0 0 10px 0;
}
.kww-main-nav ul li {
  background: #842828;
  text-decoration: none;
  color: #fff;
  border-right: 2px solid #fff;
  flex-basis: 20%;
}
.kww-main-nav ul li:hover {
  background-color: #d9c9ba;
}
.kww-main-nav ul li a {
  color: #fff;
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  padding: 13px 10px;
  font-size: 18px;
}
.kww-main-nav ul li .fas {
  font-size: 26px;
}
.kww-main-nav ul .active {
  background-color: #d9c9ba;
}
.kww-sub-nav ul {
  list-style: none;
  padding: 0;
  display: flex;
}
.kww-sub-nav ul li + li:before {
  padding: 8px;
  color: black;
  content: "|\00a0";
}
.kww-sub-nav ul li.active a {
  color: #d9c9ba;
}
.upload-box-wrapper {
  max-width: 340px;
  margin-left: auto;
  margin-right: auto;
}
.upload-box-wrapper .upload-btn-wrapper {
  position: relative;
}
.upload-box-wrapper .upload-btn-wrapper input[type="file"] {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  height: 100%;
  width: 100%;
}
.upload-box-wrapper .upload-btn-wrapper .btn-iconlft {
  display: flex;
  position: relative;
  background-color: #f49393;
  border: none;
  text-decoration: none;
  padding: 10px 123px;
}
.upload-box-wrapper .upload-btn-wrapper .btn-iconlft i {
  display: flex;
  align-items: center;
  position: absolute;
  z-index: 100;
  top: 0;
  border-radius: 0;
  padding: 0 0.7rem;
  height: 100%;
  left: 0;
  background-color: #842828;
  border-top-left-radius: inherit;
  border-bottom-left-radius: inherit;
  margin-right: 0.75rem;
}
.upload-box-wrapper .upload-btn-wrapper .btn-iconlft:hover {
  background-color: #a95858;
}
.head-box {
  border: 1px solid #842828;
  color: #842828;
  display: table;
  margin-left: auto;
  margin-right: auto;
  padding: 7px 50px;
}
.head-box p {
  text-decoration: underline;
}
.two-lbl {
  line-height: 1;
  margin: 6px 0;
}
.two-lbl .h-lbl {
  margin-bottom: 3px;
  font-weight: 500;
  display: block;
}
.border-bottom-line {
  border-bottom: 3px solid #842828;
}
/* Data Table */
.dataTables_paginate ul li a {
  text-decoration: none;
}
.dataTable tbody tr td {
  padding: 14px 0;
}
.small-txt > * {
  font-size: 12px;
  line-height: 1.2;
  list-style: none;
}
.small-txt > ul > li {
  margin-bottom: 10px;
}
.navbar-nav > li,
.dropdown-menu > li {
  padding: 0;
  margin-bottom: 0;
}
.navbar-nav > li a,
.dropdown-menu > li a {
  display: block;
}
.dt-bootstrap4 #customerDatatable thead tr th:before,
.dt-bootstrap4 #customerDatatable thead tr th:after {
  bottom: 0 !important;
}
.dateSelectorW label {
  font-size: 14px;
  color: #515151;
  text-align: left;
  margin: 0;
  display: block;
}
.dateSelectorW .k-datepicker {
  width: 100%;
}
#divTrademarkList .tmistCancel {
  display: block;
  text-align: right;
}
.tm-arch-btn {
  width: 100%;
  padding: 0.25em 0;
}
.DateRangeDiv {
  max-width: 70%;
  margin-left: auto;
  margin-right: auto;
}
.iconimg {
  display: flex;
  align-items: center;
  position: absolute;
  z-index: 100;
  top: 0;
  border-radius: 0;
  padding: 0 0.7rem;
  height: 100%;
  left: 0;
  background-color: #842828;
  border-top-left-radius: inherit;
  border-bottom-left-radius: inherit;
  margin-right: 0.75rem;
}
.iconimg img {
  width: 80%;
}
.k-calendar td.k-state-selected .k-link {
  border-color: #842828;
  color: #fff;
  background-color: #842828;
}
.k-calendar td.k-state-focused .k-link {
  box-shadow: inset 0 0 2px 1px #842828;
}
.k-calendar .k-calendar-header .k-today,
.k-calendar .k-footer .k-nav-today {
  color: #842828;
}
.k-calendar .k-calendar-header .k-today,
.k-calendar .k-footer .k-nav-today {
  color: #842828;
}
.k-calendar .k-calendar-header .k-today:hover,
.k-calendar .k-footer .k-nav-today:hover {
  color: #842828;
}
.k-calendar .k-today .k-link {
  color: #842828;
  box-shadow: inset 0 0 0 1px #842828;
}
.kww-dashboard-tile {
  background-color: #F2ECE7;
  height: 125px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 30px;
  color: #222222;
}
.kww-dashboard-tile h6 {
  font-size: 19px;
  font-weight: normal;
}
.kww-dashboard-tile small {
  font-size: 12px;
}
.kww-dashboard-tile:hover {
  background-color: #efe2d7;
}
.m56top {
  margin-top: 56px;
  margin-bottom: 0;
}
.addReadMore .readMore,
.addReadMore .readLess {
  color: #842828 !important;
}
.StatusBox {
  cursor: pointer;
}
.StatusBox:hover {
  background-color: #efe2d7;
}