﻿// Variables
@primarycolor: #842828;
@secondrycolor: #d9c9ba;
@bluecolor: #2976a6;
@red: #ff0000;
@green: #24a649;
@black: #000000;
@white: #fff;
@gray: #ccc;

@media (min-width: 1200px) {
    .container {
        max-width: 1272px;
    }
}

@media (min-width: 320px) and (max-width: 480px) {
    .d-sm-block {
        display: block;
    }
}

@media (max-width: 768px) {

    h1 {
        font-size: 30px;
    }

    h2 {
        font-size: 26px;
        margin: 15px 0;
    }

    h3 {
        font-size: 24px;
    }

    h3 {
        font-size: 22px;
    }

    h5 {
        font-size: 20px;
    }

    p {
        font-size: 16px;
    }

    .btn-group-lg > .btn, .btn-lg,
    .btn-group-xl > .btn, .btn-xl {
        width: 100%;
    }

    .kww-form-box {
        padding: 15px;
    }

    .admin-header, .kww-main-nav, .kww-sub-nav {
        display: none !important;
    }

    .kww-regist-outer-cont {
        padding: 15px;

        .kww-regist-inner-cont {
            .content {
                padding: 20px 10px 0;

                .add-contract-btn {
                    float: none !important;
                    bottom: 0 !important;
                    position: relative;
                    display: block;
                    margin-left: auto;
                    margin-right: auto;
                }
            }
        }
    }

    .m-login-btm {
        display: inline-block;
        width: 100%;

        .w-50 {
            width: 100% !important;
            text-align: center;

            .custom-checkbox-style {
                display: inline-block;
                margin: 0 auto;
            }
        }
    }

    .kww-registration-logo {
        display: none;
    }

    .action-buttons .btn-lg,
    .action-buttons .btn-xl {
        margin-top: 5px;
        margin-bottom: 5px;
    }

    .app-wrapper > .footer img {
        display: table;
        margin: 0 auto;
    }

    /***Drawer Menu**/
    .kww-mobile-menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 15px;
        border-bottom: 1px solid @gray;

        .menu-mobile {
            button {
                border: none;
                background-color: transparent;
                font-size: 28px;

                &:focus {
                    outline: none;
                }
            }
        }

        .kww-drawer-menu {
            background-color: @primarycolor;

            .navbar-nav {
                li {
                    a {
                        color: @white;
                        border-bottom: 1px solid #983838;
                        text-decoration: none;
                        padding: 10px 10px;
                        position: relative;

                        &:after {
                            top: 21px;
                            position: absolute;
                            right: 15px;
                        }
                    }
                }

                ul {
                    position: static !important;
                    transform: inherit !important;
                    width: 100%;
                    border: none;
                    border-radius: 0;
                    background-color: @secondrycolor;
                    padding: 0;

                    li {
                        a {
                            border-bottom: 1px solid #c5b7a9;
                            color: #983838;

                            &:hover {
                                color: @secondrycolor;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 1023px) {
    #tmDetailModalCenter {
        padding: 0px !important;

        & header {
            h2 {
                margin: 0
            }

            & > div:nth-child(2) {
                min-width: 65px;

                & a:first-child > span {
                    display: none;
                }
            }
        }
    }
}

@media (max-width: 767px) {
    .k-overflow-grid {
        overflow-x: auto;
        & > .k-grid {
            min-width: 700px;
        }
    }
}

@media (min-width: 1024px) {
    #tmDetailModalCenter {
        padding: 0px !important;

        & header {
            & > div:nth-child(2) {
                & a:first-child {
                    position: absolute;
                    left: 15px;
                    top: 80px;
                }
            }
        }
    }
}