﻿@media (min-width: 1200px) {
  .container {
    max-width: 1272px;
  }
}
@media (min-width: 320px) and (max-width: 480px) {
  .d-sm-block {
    display: block;
  }
}
@media (max-width: 768px) {
  h1 {
    font-size: 30px;
  }
  h2 {
    font-size: 26px;
    margin: 15px 0;
  }
  h3 {
    font-size: 24px;
  }
  h3 {
    font-size: 22px;
  }
  h5 {
    font-size: 20px;
  }
  p {
    font-size: 16px;
  }
  .btn-group-lg > .btn,
  .btn-lg,
  .btn-group-xl > .btn,
  .btn-xl {
    width: 100%;
  }
  .kww-form-box {
    padding: 15px;
  }
  .admin-header,
  .kww-main-nav,
  .kww-sub-nav {
    display: none !important;
  }
  .kww-regist-outer-cont {
    padding: 15px;
  }
  .kww-regist-outer-cont .kww-regist-inner-cont .content {
    padding: 20px 10px 0;
  }
  .kww-regist-outer-cont .kww-regist-inner-cont .content .add-contract-btn {
    float: none !important;
    bottom: 0 !important;
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .m-login-btm {
    display: inline-block;
    width: 100%;
  }
  .m-login-btm .w-50 {
    width: 100% !important;
    text-align: center;
  }
  .m-login-btm .w-50 .custom-checkbox-style {
    display: inline-block;
    margin: 0 auto;
  }
  .kww-registration-logo {
    display: none;
  }
  .action-buttons .btn-lg,
  .action-buttons .btn-xl {
    margin-top: 5px;
    margin-bottom: 5px;
  }
  .app-wrapper > .footer img {
    display: table;
    margin: 0 auto;
  }
  /***Drawer Menu**/
  .kww-mobile-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    border-bottom: 1px solid #ccc;
  }
  .kww-mobile-menu .menu-mobile button {
    border: none;
    background-color: transparent;
    font-size: 28px;
  }
  .kww-mobile-menu .menu-mobile button:focus {
    outline: none;
  }
  .kww-mobile-menu .kww-drawer-menu {
    background-color: #842828;
  }
  .kww-mobile-menu .kww-drawer-menu .navbar-nav li a {
    color: #fff;
    border-bottom: 1px solid #983838;
    text-decoration: none;
    padding: 10px 10px;
    position: relative;
  }
  .kww-mobile-menu .kww-drawer-menu .navbar-nav li a:after {
    top: 21px;
    position: absolute;
    right: 15px;
  }
  .kww-mobile-menu .kww-drawer-menu .navbar-nav ul {
    position: static !important;
    transform: inherit !important;
    width: 100%;
    border: none;
    border-radius: 0;
    background-color: #d9c9ba;
    padding: 0;
  }
  .kww-mobile-menu .kww-drawer-menu .navbar-nav ul li a {
    border-bottom: 1px solid #c5b7a9;
    color: #983838;
  }
  .kww-mobile-menu .kww-drawer-menu .navbar-nav ul li a:hover {
    color: #d9c9ba;
  }
}
@media (max-width: 1023px) {
  #tmDetailModalCenter {
    padding: 0px !important;
  }
  #tmDetailModalCenter header h2 {
    margin: 0;
  }
  #tmDetailModalCenter header > div:nth-child(2) {
    min-width: 65px;
  }
  #tmDetailModalCenter header > div:nth-child(2) a:first-child > span {
    display: none;
  }
}
@media (max-width: 767px) {
  .k-overflow-grid {
    overflow-x: auto;
  }
  .k-overflow-grid > .k-grid {
    min-width: 700px;
  }
}
@media (min-width: 1024px) {
  #tmDetailModalCenter {
    padding: 0px !important;
  }
  #tmDetailModalCenter header > div:nth-child(2) a:first-child {
    position: absolute;
    left: 15px;
    top: 80px;
  }
}