﻿@import url('fonts.css');
.nav-tabs {
  display: flex;
}
.nav-tabs li {
  background: #842828;
  padding: 13px 10px;
  text-decoration: none;
  color: #fff;
  border-right: 2px solid #fff;
  flex-basis: 20%;
}
.nav-tabs li a {
  color: #fff;
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
.nav-tabs .active {
  background-color: #d9c9ba;
}
.responsive-tabs-container .tab-content .breadcrumb {
  list-style: none;
  display: flex;
  padding: 0;
  background: none;
}
.responsive-tabs-container .tab-content .breadcrumb li + li:before {
  padding: 8px;
  color: black;
  content: "|\00a0";
}
.responsive-tabs-container .tab-content .main-pills li {
  background: #842828;
  padding: 13px 10px;
  text-decoration: none;
  color: #fff;
  border-right: 2px solid #fff;
  flex-basis: 20%;
}
.responsive-tabs-container .tab-content .main-pills li:hover {
  opacity: 0.3;
}
.responsive-tabs-container .tab-content .main-pills li a {
  color: #fff;
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
.responsive-tabs-container .tab-content .main-pills .active {
  opacity: 0.3;
}
.responsive-tabs-container[class*="accordion-"] .tab-pane {
  margin-bottom: 15px;
}
.responsive-tabs-container[class*="accordion-"] .accordion-link {
  display: none;
  margin-bottom: 10px;
  padding: 10px 15px;
  background-color: #f5f5f5;
  border-radius: 3px;
  border: 1px solid #ddd;
  color: #333;
}
.responsive-tabs-container[class*="accordion-"] .accordion-link.active {
  border-bottom: medium none;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  color: #ff6600;
}
@media (max-width: 767px) {
  .responsive-tabs-container.accordion-xs .nav-tabs {
    display: none;
  }
  .breadcrumb {
    display: none !important;
  }
  .responsive-tabs-container.accordion-xs .accordion-link {
    display: block;
  }
  .responsive-tabs-container .tab-content {
    border: none;
  }
  .responsive-tabs-container[class*="accordion-"] .tab-pane {
    border: 1px solid #ddd;
    border-top: none;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-width: medium 1px 1px;
    margin-bottom: 10px;
    margin-top: -10px;
    padding: 10px 10px 0;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .responsive-tabs-container.accordion-sm .nav-tabs {
    display: none;
  }
  .breadcrumb {
    display: none !important;
  }
  .responsive-tabs-container.accordion-sm .accordion-link {
    display: block;
  }
  .responsive-tabs-container .tab-content {
    border: none;
  }
  .responsive-tabs-container[class*="accordion-"] .tab-pane {
    border: 1px solid #ddd;
    border-top: none;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-width: medium 1px 1px;
    margin-bottom: 10px;
    margin-top: -10px;
    padding: 10px 10px 0;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .responsive-tabs-container.accordion-md .nav-tabs {
    display: none;
  }
  .responsive-tabs-container.accordion-md .accordion-link {
    display: block;
  }
}
@media (min-width: 1200px) {
  .responsive-tabs-container.accordion-lg .nav-tabs {
    display: none;
  }
  .responsive-tabs-container.accordion-lg .accordion-link {
    display: block;
  }
}
/***************/