﻿@{
    ViewData["Title"] = "Admin";
    Layout = "~/Views/Shared/_MenuLayout.cshtml";
}


<div class="container">
    

    <!--Form-->
    <div class="row">
        <div class="col-lg-12">
            <h2 class="main-heading">Attorneys of Record</h2>
            <div class="row">
                <div class="col-lg-12">
                    <h2 class="my-3 font-weight-bold text-center">Current Attorneys of Record</h2>


                    <div class="">

                        <div class="maindiv" style=" display: flex; justify-content: space-between;">
                            <div class="left">
                                <h2 class="m-0">Add Additional Attorneys</h2>
                                <p>Enter the name and email for additional attorneys of record</p>
                            </div>
                            <div class="right">
                                <a class="btn btn-success add-contract-btn" data-toggle="modal" href="#addAttorneyModal"><i class="fas fa-plus"></i> Add Attorney</a>

                            </div>
                        </div>



                        <div class="mt-5">
                            
                                <h1 for="tradeserial"><strong>Attorney List</strong></h1>
                                <table class="w-100" >
                                    <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>Email</th>
                                            <th></th>
                                        </tr>
                                    </thead>

                                    <tbody style="line-height:3">
                                        <tr>
                                            <td>JungJin Lee</td>
                                            <td>docket@trademarklawyerfirm.com</td>
                                            <td class="text-right">
                                                <a href="#" class="btn-sm kww-filled-btn-sm"> Edit</a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>JungJin Lee</td>
                                            <td>docket@trademarklawyerfirm.com</td>

                                            <td class="text-right">
                                                <a href="#" class="btn-sm kww-filled-btn-sm"> Edit</a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>JungJin Lee</td>
                                            <td>docket@trademarklawyerfirm.com</td>
    
                                            <td class="text-right">
                                                <a href="#" class="btn-sm kww-filled-btn-sm"> Edit</a>
                                            </td>
                                        </tr>

                                    </tbody>
                                </table>
                            
                               
                            
                        </div>


                    </div>
                </div>

                <div class="modal" id="addAttorneyModal" tabindex="-1" role="dialog">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">

                            <div class="modal-body">
                                <h5>Add Attorney</h5>
                                <div class="form-group">
                                    <label for="name">Attorney Name</label>
                                    <input type="text" class="form-control" id="name">
                                </div>

                                <div class="form-group">
                                    <label for="email">Primary Email</label>
                                    <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="user@email.com">
                                </div>

                                <a class="btn btn-secondary text-light" data-dismiss="modal">Cancel</a>
                                <a class="btn btn-success add-contract-btn float-right" > Add Attorney</a>
                            </div>

                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
    <!--FOrm-->
    <footer class="row">
        <div class="col-lg-12 text-right">
            <img src="/images/Logo.Masked.png">
        </div>
    </footer>

</div>