﻿@using Kendo.Mvc.UI
@model TmManager.Trademarks.TrademarkResponseForKendo
@{
    ViewData["Title"] = "Admin";
    Layout = "~/Views/Shared/_MenuLayout.cshtml";
}

<div class="modal" id="fetchingDataModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">

            <div class="modal-body text-center">
                <i class="fas fa-pulse fa-sync-alt fa-2x"></i>
                <h4>Fetching data from system...</h4>
                <p>Retrieving trademark data from the database. This may take few seconds.</p>
                <a class="btn btn-secondary text-light" data-dismiss="modal">Cancel Action</a>
            </div>

        </div>
    </div>
</div>

<div class="container">
    <div class="kww-sub-nav">
        <ul>
            <li><a href="/admin">Admin Home</a></li>
            <li class="active"><a href="/admin/createdtrademark">Imported Trademarks</a></li>
            <li><a href="/admin/registrationdeadline">Registration Deadlines</a></li>
            <li><a href="/admin/tmevent">TM Events</a></li>
            <li><a href="/admin/tmdocument">TM Documents</a></li>
        </ul>
    </div>
    <div class="row">
        <div class="col-lg-12 mb-4">
            <h2>Admin</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="DateRangeDiv text-center" id="divFilters">
                <h3>Enter Date Range</h3>
                <p class="text-left my-4">Select the date range indicating the target timespan to view a list of trademarks from the local database by the date first created in the system.</p>
                <div id="mt-4">
                    <div class="row">
                        <div class="col-lg-6 mb-4">
                            <div class="dateSelectorW">
                                <div class="lbltextfield">
                                    <label>Trademark Status <span class="text-danger">*</span></label>
                                    <select class="form-control w-100" id="TrademarkStatus">
                                        <option value="">All</option>
                                        <option value="registered">Registered</option>
                                        <option value="notregistered">Not Registered</option>
                                        <option value="dead">Dead</option>
                                        <option value="attorneyissue">Attorney of Issue</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 mb-4"></div>
                        <div class="col-lg-6">
                            <div class="dateSelectorW">
                                <label class="k-label">Start Date <span class="text-danger">*</span></label>
                                @Html.Kendo().DatePickerFor(model => model.StartDate).Format("MM/dd/yyyy").Value(DateTime.Now.AddDays(-7).Date).HtmlAttributes(new { @type = "text" })
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="dateSelectorW">
                                <label class="k-label">End Date <span class="text-danger">*</span></label>
                                @Html.Kendo().DatePickerFor(model => model.EndDate).Format("MM/dd/yyyy").Value(DateTime.Now.Date).HtmlAttributes(new { @type = "text" })
                            </div>
                        </div>
                    </div>
                </div>
                <input type="button" id="btnSearch" role="button" class="btn btn-primary btn-xl mt-5" value="Search for Trademark(s)" />
                <span class="field-validation-error mt-2" id="ServerError" data-valmsg-for="Password" data-valmsg-replace="true"></span>
            </div>
            <div id="divTrademarkList" class="hide-kendotable mt-4">
                @*<div class="tmistCancel">
                <input type="button" id="btnCancel" role="button" class="btn btn-primary" value="Cancel" />
            </div>*@
                <h4 class="mb-3">Search Results</h4>
                <div class="kww-custom-table">
                    @(Html.Kendo().Grid<TmManager.Trademarks.TrademarkSearchReportModel>
                    ()
                    .Name("Grid")
                    .Columns(columns =>
                    {
                        columns.Bound(c => c.Name).Title("Trademark Name").Width("20%");
                        columns.Bound(c => c.SerialNumber).Title("Serial Number").Width("20%");
                        columns.Bound(c => c.ClientName).Title("Client Name").Width("20%");
                        columns.Bound(c => c.ClientEmail).Title("Client Email").Width("20%");
                        columns.Bound(c => c.ImportedDate).Format("{0:yyyy.MM.dd HH:mm:ss}").Title("Date Imported").Width("20%");
                        columns.Bound(c => c.Id).Title("Action").ClientTemplate("<a class='kww-filled-btn-sm' data-ajax='true' data-ajax-method='GET' data-ajax-begin='OnTrademarkDetailBegin' data-ajax-success='OnTrademarkDetailSuccess' href='/trademark/gettrademarkdetail?id=#=data.Id#'><img src='../images/Icon-file.png' /></a>").Width("20%");
                    })
                    .Pageable(pager => pager
                    .Input(false)
                    .Numeric(true)
                    .Info(true)
                    .PreviousNext(true)
                    .Refresh(true)
                    )
                    //.Scrollable()
                    .AutoBind(true)
                    //.HtmlAttributes(new { style = "height:100%;" })
                    .Sortable()
                    .DataSource(dataSource => dataSource
                    .Ajax()
                    .PageSize(10)
                    .Read(read => read.Action("CreatedTrademark", "Admin"))
                    .ServerOperation(true)

                 ))
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="tmDetailModalCenter" tabindex="-1" role="dialog" aria-labelledby="tmModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
        <partial name="TrademarkDetailsPartial" />
    </div>
</div>

<script>
    function GetByDate(fromdate, todate, trademarkstatus) {
        var MyGrid = $("#Grid").data("kendoGrid");
        var arrayFilter = [];
        arrayFilter.push({ field: "StartDate", operator: "ge", value: fromdate });
        arrayFilter.push({ field: "EndDate", operator: "le", value: todate });
        arrayFilter.push({ field: "TrademarkStatus", operator: "eq", value: trademarkstatus });
        MyGrid.dataSource.filter(arrayFilter);
        $('#divTrademarkList').removeClass('hide-kendotable');
    }

    $('#btnSearch').click(function () {
        var FromDate = $('#StartDate').val();
        var ToDate = $('#EndDate').val();
        var TrademarkStatus = $('#TrademarkStatus').val();
        if (FromDate == "" || FromDate == null || ToDate == "" || ToDate == null) {
            $('#ServerError').html("Start and End date can not be empty");
        }
        else if (new Date(FromDate) > new Date(ToDate)) {
            $('#ServerError').html("Start date should not be greater than end date");
        }
        else {
            $('#divFilters').addClass('d-none');
            GetByDate(FromDate, ToDate, TrademarkStatus);
        }
    });
    $('#btnCancel').click(function () {
        $('#divTrademarkList').addClass('hide-kendotable');
        $('#divFilters').removeClass('d-none');
    });

    $(document).ready(function () {
        $("#StartDate").kendoTextBox();
        $("#EndDate").kendoTextBox();

        var data = $.urlParam('load');
        if (data == "yes") {
            var MyGrid = $("#Grid").data("kendoGrid");
            var arrayFilter = [];
            var fromdate = "01/01/1990";
            var todate = $('#EndDate').val();
            var trademarkstatus = $('#TrademarkStatus').val();
            arrayFilter.push({ field: "StartDate", operator: "ge", value: fromdate });
            arrayFilter.push({ field: "EndDate", operator: "le", value: todate });
            arrayFilter.push({ field: "TrademarkStatus", operator: "eq", value: trademarkstatus });
            MyGrid.dataSource.filter(arrayFilter);
            $('#divFilters').addClass('hide-kendotable');
            $('#divTrademarkList').removeClass('hide-kendotable');
        }
    });

    function OnTrademarkDetailBegin() {
        $("#imgTrademark").attr("src", ' ');
        $('#fetchingDataModal').modal('show');
    }

    function OnTrademarkUpdateBegin() {
        $("#imgTrademark").attr("src", ' ');
        $('#tmDetailModalCenter').modal('hide');
        $('#fetchingDataModal').modal('show');
    }
</script>