﻿@{
    ViewData["Title"] = "Admin";
    Layout = "~/Views/Shared/_MenuLayout.cshtml";
}


<div class="container">
   
    <!--Form-->
    <div class="row">
        <div class="col-lg-12">
            <h3>Trademarks</h3>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <img src="~/images/cross.png" />
                    <h1 class="my-3 font-weight-bold">Trademark dead</h1>

                </div>

                <div class="col-lg-12">
                    <table class="w-100">
                        <thead>
                            <tr>
                                <th>Trademark Name</th>
                                <th>Serial Number</th>
                                <th>Client Name</th>
                                <th>Client Email</th>
                                <th>Date Abandoned</th>
                                <th>Click to change status</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Nike Zonail</td>
                                <td>87275324</td>
                                <td>Nike, Inc.</td>
                                <td>client@company.com</td>
                                <td>2018.04.12</td>
                                <td><i class="fas fa-user-check mr-5 text-success"></i> Assigned</td>

                            </tr>

                        </tbody>
                    </table>
                    <hr />
                </div>


              


                <div class="col-lg-12 text-center">
                    <i class="fas fa-exclamation-triangle fa-3x text-danger"></i>
                    <h1 class="my-3 font-weight-bold">Trademarks with Unrecognized Attorney of Record</h1>

                </div>

                <div class="col-lg-12">
                    <table class="w-100">
                        <thead>
                            <tr>
                                <th>Trademark Name</th>
                                <th>Serial Number</th>
                                <th>Client Name</th>
                                <th>Client Email</th>
                                <th>Attorney of Record</th>
                                <th>Click to change status</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Nike Zonail</td>
                                <td>87275324</td>
                                <td>Nike, Inc.</td>
                                <td>client@company.com</td>
                                <td>Robert J.Unkown</td>
                                <td><i class="fas fa-user-check mr-5 text-success"></i> Assigned</td>

                            </tr>

                        </tbody>
                    </table>
                </div>




            </div>


           


    <!--FOrm-->
    <footer class="row">
        <div class="col-lg-12 text-right">
            <img src="/images/Logo.Masked.png">
        </div>
    </footer>

</div>