﻿@{
    ViewData["Title"] = "Admin";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container">
    <!--Grid-->
    <h2 class="my-3 font-weight-bold text-center">View Archived TM Import Batches (90 day max)</h2>
    <div class="form-group row">
        <div class="col-lg-4">
            <input type="date" class="form-control" id="date" aria-describedby="emailHelp" placeholder="From">
        </div>
        <div class="col-lg-4">
            <input type="date" class="form-control" id="email" aria-describedby="emailHelp" placeholder="To">
        </div>
        <div class="col-lg-2">
            <a class="btn kww-filled-btn" href="">Search</a>
        </div>
    </div>
    <hr />
    <!-- Accordion card -->
    <div class="accordion" id="accordionEx" role="tablist" aria-multiselectable="true">
        <!-- Accordion card -->
        <div class="card">

            <!-- Card header -->
            <div class="card-header" role="tab" id="headingOne1">
                <a data-toggle="collapse" data-parent="#accordionEx" href="#collapseOne1" aria-expanded="true"
                   aria-controls="collapseOne1">
                    <h5 class="mb-0">
                        <i class="fas fa-plus-square"></i>
                        TM Batch 2021-01-22 08:57
                    </h5>
                    <p>6 of 6 trademarks retrieved</p>
                </a>
            </div>
            <!-- Card body -->
            <div id="collapseOne1" class="collapse show" role="tabpanel" aria-labelledby="headingOne1"
                 data-parent="#accordionEx">
                <div class="card-body">
                    <table class="w-100">
                        <thead>
                            <tr>
                                <th scope="row">Email</th>
                                <th>Client Name</th>
                                <th>Serial Number</th>
                                <th>Trademark Name</th>
                                <th>Date Imported</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    user@email.com
                                </td>
                                <td>Acme Industries</td>
                                <td>8891004</td>
                                <td>Three Ships</td>
                                <td>2021.21 08:57:13</td>
                                <td><button class="btn kww-filled-btn w-100 p-0">Pending</button></td>
                            </tr>
                            <tr>
                                <td>
                                    user@email.com
                                </td>
                                <td>Acme Industries</td>
                                <td>8891004</td>
                                <td>Three Ships</td>
                                <td>2021.21 08:57:13</td>
                                <td><i class="fas fa-check mr-2 text-success"></i><span>Accepted</span></td>
                            </tr>
                            <tr>
                                <td>
                                    user@email.com
                                </td>
                                <td>Acme Industries</td>
                                <td>8891004</td>
                                <td>Three Ships</td>
                                <td>2021.21 08:57:13</td>
                                <td><i class="far fa-times-circle mr-2 text-danger"></i><span>Rejected</span></td>
                            </tr>
                            <tr>
                                <td>
                                    user@email.com
                                </td>
                                <td>Acme Industries</td>
                                <td>8891004</td>
                                <td>Three Ships</td>
                                <td>2021.21 08:57:13</td>
                                <td><i class="fas fa-check mr-2 text-success"></i><span>Accepted</span></td>
                            </tr>
                            <tr>
                                <td>
                                    user@email.com
                                </td>
                                <td>Acme Industries</td>
                                <td>8891004</td>
                                <td>Three Ships</td>
                                <td>2021.21 08:57:13</td>
                                <td><i class="fas fa-check mr-2 text-success"></i><span>Accepted</span></td>
                            </tr>
                            <tr>
                                <td>
                                    user@email.com
                                </td>
                                <td>Acme Industries</td>
                                <td>8891004</td>
                                <td>Three Ships</td>
                                <td>2021.21 08:57:13</td>
                                <td><i class="far fa-times-circle mr-2 text-danger"></i><span>Rejected</span></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
        <!-- Accordion card -->
    </div>

    <!-- Accordion card -->
    <!--Grid-->
</div>
