﻿@{
    ViewData["Title"] = "Admin";
    Layout = "~/Views/Shared/_MenuLayout.cshtml";
}


<div class="container">
    <div class="kww-sub-nav">
        <ul>
            <li class="active"><a href="">Key Matrics</a></li>
            <li><a href="">Deadlines and Next Actions</a></li>
        </ul>
    </div>
    <!--Form-->
    <div class="row">
        <div class="col-lg-12">
            <h2>Admin</h2>
            <div class="row">
           
            </div>
        </div>
    </div>
    <!--FOrm-->
</div>