﻿@model TmManager.Trademarks.TrademarkCountsResponse
@{
    ViewData["Title"] = "Admin";
    Layout = "~/Views/Shared/_MenuLayout.cshtml";
}


<div class="container">
    <div class="kww-sub-nav">
        <ul>
            <li class="active"><a href="/admin">Admin Home</a></li>
            <li><a href="/admin/createdtrademark">Imported Trademarks</a></li>
            <li><a href="/admin/registrationdeadline">Registration Deadlines</a></li>
            <li><a href="/admin/tmevent">TM Events</a></li>
            <li><a href="/admin/tmdocument">TM Documents</a></li>
        </ul>
    </div>
    <div class="row">
        <div class="col-lg-12 mb-4">
            <h2>Admin</h2>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-lg-3 col-md-3 col-sm-6">
            <a href="/admin/createdtrademark?load=yes" class="text-decoration-none">
                <div class="kww-dashboard-tile">
                    <h6>Number of Trademarks</h6>
                    <h3>@Model.TrademarkCounts</h3>
                    <small>Metric description goes here.</small>
                </div>
            </a>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6">
            <a href="/admin/tmdocument?load=yes" class="text-decoration-none">
                <div class="kww-dashboard-tile">
                    <h6>New Documents last 7 days</h6>
                    <h3>@Model.DocumentsCounts</h3>
                    <small>Metric description goes here.</small>
                </div>
            </a>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6">
            <a href="/admin/tmevent?load=yes" class="text-decoration-none">
                <div class="kww-dashboard-tile">
                    <h6>Events last 7 days</h6>
                    <h3>@Model.EventsCounts</h3>
                    <small>Metric description goes here.</small>
                </div>
            </a>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6">
            <a href="/client/clientlist?load=yes" class="text-decoration-none">
                <div class="kww-dashboard-tile">
                    <h6>Number of Clients</h6>
                    <h3>@Model.ClientsCount</h3>
                    <small>Metric description goes here.</small>
                </div>
            </a>
        </div>
    </div>
</div>