﻿@{
    ViewData["Title"] = "Admin";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container">
    <!--Message Success-->
    <div class="row">
        <div class="col-lg-12">
            <div class="succes text-center">
                <i class="fas fa-thumbs-up fa-3x text-success mb-3"></i>
                <h4>Success!</h4>
                <p>Trademark with the serial number 88910043 was found! This trademark is not yet present in the system</p>
            </div>
            <h3>Three Ships</h3>
            <form>
                <div class="row">
                    <label class="col-sm-6 col-form-label"><strong>Client Name</strong></label>
                    <label class="col-sm-6 col-form-label">Acme Industries, Inc.</label>
                </div>
                <div class="row">
                    <label class="col-sm-6 col-form-label"><strong>Primary Email</strong></label>
                    <label class="col-sm-6 col-form-label">user@email.com</label>
                </div>
                <div class="row">
                    <label class="col-sm-6 col-form-label"><strong>Primary Phone</strong></label>
                    <label class="col-sm-6 col-form-label">(734) 777-0000</label>
                </div>
                <div class="row">
                    <label class="col-sm-6 col-form-label"><strong>Street Address</strong></label>
                    <label class="col-sm-6 col-form-label">123 Elm</label>
                </div>
                <div class="row">
                    <label class="col-sm-6 col-form-label"><strong>City</strong></label>
                    <label class="col-sm-6 col-form-label">Ann Arbor</label>
                </div>
                <div class="row">
                    <label class="col-sm-6 col-form-label"><strong>State/Province</strong></label>
                    <label class="col-sm-6 col-form-label">MI</label>
                </div>
                <div class="row">
                    <label class="col-sm-6 col-form-label"><strong>Zip Code</strong></label>
                    <label class="col-sm-6 col-form-label">48105</label>
                </div>
                <div class="row">
                    <label class="col-sm-6 col-form-label"><strong>Country</strong></label>
                    <label class="col-sm-6 col-form-label">USA</label>
                </div>
            </form>
            <div class="row">
                <div class="col-lg-6"><button class="kww-cancel-btn border-0">Reject</button></div>
                <div class="col-lg-6"><button class="kww-success-btn border-0 float-right">Accept</button></div>
                <label class="col-sm-10 col-form-label">NOTE: if you accept, a new trademark will be entered into the system, if you reject, a new trademark will NOT be created.</label>

            </div>
        </div>
    </div>
    <!--Message Success-->
</div>