﻿@{
    ViewData["Title"] = "Admin";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container">
    <!--Message alert-->
    <div class="row">
        <div class="col-lg-12 text-center">
            <i class="fas fa-exclamation-circle fa-3x text-danger mb-3"></i>
            <h4>Already in system!</h4>
            <p>Trademark with the serial number 88910043 is already in the system.</p>
            <a href="#" class="btn kww-filled-btn">Try Again</a>
        </div>
    </div>
    <!--Message Alert-->
    <!--Message alert-->
    <div class="row">
        <div class="col-lg-12 text-center">
            <i class="fas fa-thumbs-down fa-3x text-danger mb-3"></i>
            <h4>Oh no!</h4>
            <p>Trademark with the serial number 88910043 was not found in the USPTO database.</p>
            <a href="#" class="btn kww-filled-btn">Try Again</a>
        </div>
    </div>
    <!--Message Alert-->
</div>