﻿@model TmManager.Models.ForgotPasswordForAdminModel
@{
    ViewData["Title"] = "Forgot Password";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid mt-4" id="divResetPassword">
    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-12 offset-lg-4 offset-md-4 offset-sm-0">
            <div class="kww-form-box">
                <img src="~/images/logo.png" class="fullwidth" />
                <h1 class="text-center my-3">Reset Password?</h1>
                <p>You can reset your password by entering your new password below.</p>
                <form class="formWrapper" method="post" asp-action="resetpasswordforadmin" asp-controller="admin" data-ajax="true" data-ajax-success="OnSuccessReset" novalidate>
                    @Html.HiddenFor(x => x.UserId)
                    <div class="form-group">
                        <label for="exampleInputEmail1">New Password <span class="text-danger">*</span></label>
                        <input asp-for="Password" autocomplete="off" aria-describedby="emailHelp" placeholder="Enter password" class="form-control" />
                        <span asp-validation-for="Password" id="spanPassword" class="emailError"></span>
                    </div>

                    <div class="form-group">
                        <label for="exampleInputEmail1">Confirm Password <span class="text-danger">*</span></label>
                        <input asp-for="ConfirmPassword" autocomplete="off" aria-describedby="emailHelp" placeholder="Enter password" class="form-control" />
                        <span asp-validation-for="ConfirmPassword" id="spanConfirmPassword" class="emailError"></span>
                    </div>

                    <div class="form-group">
                        <button type="submit" class="btn btn-primary btn-xl">Change Password</button>
                        <span id="divError" class="text-danger"></span>
                    </div>
                    <p class="text-center mt-4"><a href="/home/index"><b>Nevermind</b></a></p>
                </form>
            </div>
        </div>
    </div>
</div>


<div class="container-fluid mt-4 d-none" id="divSuccess">
    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-12 offset-lg-4 offset-md-4 offset-sm-0">
            <div class="kww-form-box">
                <img src="~/images/logo.png" class="w-90" />
                <h2 class="text-center my-3">Success!</h2>
                <p>Your password has been reset. You can now use it to login to the system.</p>
                <form>
                    <div class="form-group">
                        <a href="/home/index" class="btn btn-primary btn-xl">Login to the System</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    function OnSuccessReset(res) {
        if (res.IsSuccess) {
            $('#divResetPassword').addClass("d-none");
            $('#divSuccess').removeClass("d-none");
        } else {
            if (res.Errors != undefined && res.Errors.length > 0) {
                $('#spanPassword, #spanConfirmPassword, #divError').html(' ');
                for (var i = 0; i < res.Errors.length; i++) {
                    if (res.Errors[i] == "Password is required" || res.Errors[i] == "Password must be at least 6 characters" || res.Errors[i] == "Password must match confirm password field") {
                        $('#spanPassword').html(res.Errors[i]);
                    }
                    if (res.Errors[i] == "Confirm Password is required" || res.Errors[i] == "Confirm Password must be at least 6 characters") {
                        $('#spanConfirmPassword').html(res.Errors[i]);
                    }
                    if (res.Errors[i] != "Password is required" && res.Errors[i] != "Password must be at least 6 characters" && res.Errors[i] != "Confirm Password is required" && res.Errors[i] != "Confirm Password must be at least 6 characters" && res.Errors[i] != "Password must match confirm password field") {
                        $('#divError').html(res.Errors[0]);
                    }
                }
            }
        }
    }
</script>