﻿@model List<TmManager.Trademarks.TrademarkImportItemsModel>
@{
    ViewData["Title"] = "Admin";
    Layout = "~/Views/Shared/_MenuLayout.cshtml";
}
<div class="modal" id="fetchingDataModel" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">

            <div class="modal-body text-center">
                <i class="fas fa-pulse fa-sync-alt fa-2x"></i>
                <h4>Fetching Records..</h4>
                <p>Checking data in file. This may take few seconds.</p>
                <a class="btn btn-secondary text-light" data-dismiss="modal">Cancel Action</a>
            </div>

        </div>
    </div>
</div>

<div class="container">
    <div class="kww-sub-nav">
        <ul>
            <li><a href="/trademark">Trademarks</a></li>
            <li><a href="/trademark/newtrademark">New Trademark</a></li>
            <li class="active"><a href="/trademark/uploadfile">Upload File</a></li>
            <li><a href="">Trademarks Retrieved</a></li>
            <li><a href="">Archived Files</a></li>
            <li><a href="/trademark/trademarkdeadlist">Dead Trademarks</a></li>
            <li><a href="/trademark/unknownattorney">Unknown Attorney Trademarks </a></li>
        </ul>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <h2>Upload File</h2>
        </div>
    </div>
    <form method="post" asp-action="fetchtrademark" asp-controller="trademark" novalidate>
        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-12 offset-lg-2 offset-md-2 offset-sm-0">
                <div class="text-center">
                    <img class="mb-3" src="~/images/Alerticon.png" />
                       <h3>Duplicate check results</h3>
                </div>
             
                <h4>@Model.Where(x => x.IsDuplicate).Count() existing trademarks.</h4>

                <div class="row">
                    <div class="col-lg-6">
                        <h6>Email</h6>
                    </div>
                    <div class="col-lg-6">
                        <h6>Serial Number</h6>
                    </div>
                </div>

                @if (Model != null && Model.Count() > 0)
                {
                    foreach (var item in Model.Where(x => x.IsDuplicate))
                    {

                        <div class="row">
                            <label class="col-6">@item.Email</label>
                            <label class="col-6">@item.SerialNumber</label>
                        </div>
                    }
                }

                <h4>@Model.Where(x => x.IsDuplicate == false).Count() new trademarks.</h4>

                <div class="row">
                    <div class="col-lg-6">
                        <h6>Email</h6>
                    </div>
                    <div class="col-lg-6">
                        <h6>Serial Number</h6>
                    </div>
                </div>

                @if (Model != null && Model.Count() > 0)
                {
                    foreach (var item in Model.Where(x => x.IsDuplicate == false))
                    {
            <div class="row">
                <input asp-for="@item.Email" hidden />
                <input asp-for="@item.SerialNumber" hidden />
                <label class="col-6">@item.Email</label>
                <label class="col-6">@item.SerialNumber</label>
            </div>
                    }
                }

                <div class="row my-3 action-buttons">
                    <div class="col-sm-6 col-12">
                        <a href="/trademark/uploadfile" role="button" class="btn btn-danger btn-lg">Cancel</a>
                    </div>
                    <div class="col-sm-6 col-12">
                        <input type="submit" class="btn btn-success btn-lg fa-pull-right" data-toggle="modal" data-target="#fetchingDataModel" value="Fetch Trademarks" />
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<script>
    $('.kww-main-nav ul').find('li').removeClass('active');
    $('#navTrademarks').parent().addClass('active');
</script>