﻿@model TmManager.Trademarks.TrademarkImportFileModel
@{
    ViewData["Title"] = "Admin";
    Layout = "~/Views/Shared/_MenuLayout.cshtml";
}

<div class="container">
    <div class="kww-sub-nav">
        <ul>
            <li><a href="/trademark">Trademarks</a></li>
            <li><a href="/trademark/newtrademark">New Trademark</a></li>
            <li class="active"><a href="/trademark/uploadfile">Upload File</a></li>
            <li><a href="/trademark/trademarkretrieved">Trademarks Retrieved</a></li>
            <li><a href="">Archived Files</a></li>
            <li><a href="/trademark/trademarkdeadlist">Dead Trademarks</a></li>
            <li><a href="/trademark/unknownattorney">Unknown Attorney Trademarks </a></li>
        </ul>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <h2>Upload File</h2>
        </div>
    </div>
    <form method="post" asp-action="fetchtrademark" asp-controller="trademark" novalidate>
        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-12 offset-lg-2 offset-md-2 offset-sm-0">
               
                <div class="text-center">
                    <img class="mb-3" src="~/images/thumsUp.png" />
                    @{
                    }
                    <h3>TM Batch @Model.BatchName has been sent!</h3>
                    <p>The batch contains @Model.TrademarkFileItems.Where(x => x.IsDuplicate == false).Count() trademarks.</p>
                </div>
                <div class="row">
                    @if (Model.TrademarkFileItems.Where(x => x.IsDuplicate == false).Any())
                    {
                        <div class="col-lg-6">
                            <h6>Email</h6>
                        </div>

                        <div class="col-lg-6">
                            <h6>Serial Number</h6>
                        </div>
                    }
                </div>

                @if (Model != null && Model.TrademarkFileItems.Count() > 0)
                {
                    foreach (var item in Model.TrademarkFileItems.Where(x => x.IsDuplicate == false))
                    {

                        <div class="row">
                            <label class="col-lg-6">@item.Email</label>
                            <label class="col-lg-6">@item.SerialNumber</label>
                        </div>
                    }
                }

                <div class="col-sm-12 col-12 text-center my-4">
                    <a href="/trademark/TrademarkRetrieved" role="button" class="btn btn-primary btn-xl">Done</a>
                </div>

                <div class="row">
                    <div class="col-12">
                        <p>NOTE: The system is fetching USPTO data for the above trademarks. This process may take some time. Retrieved trademarks will be available in the "Trademarks Retrieved" page for further processing.</p>
                    </div>
                </div>

            </div>
        </div>
    </form>
</div>
<script>
    $('.kww-main-nav ul').find('li').removeClass('active');
    $('#navTrademarks').parent().addClass('active');
</script>