﻿@using Kendo.Mvc.UI
@model TmManager.Trademarks.TrademarkSearchReportModel
@{
    ViewData["Title"] = "Trademarks";
    Layout = "~/Views/Shared/_MenuLayout.cshtml";
}

<div class="modal" id="fetchingDataModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body text-center">
                <i class="fas fa-pulse fa-sync-alt fa-2x"></i>
                <h4>Fetching data from system...</h4>
                <p>Retrieving trademark data from the database. This may take few seconds.</p>
                <a class="btn btn-secondary text-light" data-dismiss="modal">Cancel Action</a>
            </div>
        </div>
    </div>
</div>

<input type="hidden" id="hdnId" />
<div class="container">
    <div class="kww-sub-nav">
        <ul>
            <li class="active"><a href="/trademark">Trademarks</a></li>
            <li><a href="/trademark/newtrademark">New Trademark</a></li>
            <li><a href="/trademark/uploadfile">Upload File</a></li>
            <li><a href="/trademark/trademarkretrieved">Trademarks Retrieved</a></li>
            <li><a href="/trademark/trademarkarchieved">Archived Files</a></li>
            <li><a href="/trademark/trademarkdeadlist">Dead Trademarks</a></li>
            <li><a href="/trademark/unknownattorney">Unknown Attorney Trademarks </a></li>
        </ul>
    </div>
    <div class="row">
        <div class="col-lg-12 mb-4">
            <h2 class="mb-3">Trademarks</h2>

        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="kww-form-box col-xs p-4" id="divFilters">
                <h3 class="text-center">Search Local Database</h3>
                <p class="mt-1 px-3">Enter the USPTO trademark serial number OR the USPTO registration number OR the client account email OR the client name to search the local trademark database</p>
                <div class="col-lg-12">

                    <div class="lbltextfield">
                        <label>Trademark Serial Number</label>
                        @Html.Kendo().TextBoxFor(model => model.SerialNumber).HtmlAttributes(new { @type = "text", placeholder = "88910043" })
                    </div>
                    <div class="text-center my-3">
                        <h4> OR </h4>
                    </div>
                    <div class="lbltextfield">
                        <label>Trademark Registration Number</label>
                        @Html.Kendo().TextBoxFor(model => model.RegistrationNumber).HtmlAttributes(new { @type = "text", placeholder = "6284797" })
                    </div>

                    <div class="text-center my-3">
                        <h4> OR </h4>
                    </div>
                    <div class="lbltextfield">
                        <label>USPTO Email</label>
                        @Html.Kendo().TextBoxFor(model => model.ClientEmail).HtmlAttributes(new { @type = "text", placeholder = "user@email.com" })
                    </div>
                    <div class="text-center my-3">
                        <h4> OR </h4>
                    </div>
                    <div class="lbltextfield">
                        <label for="tradeserial">USPTO Owner</label>
                        @Html.Kendo().TextBoxFor(model => model.ClientName).HtmlAttributes(new { @type = "text", placeholder = "Doe, John" })
                    </div>

                </div>
                <input type="button" id="btnSearch" role="button" class="btn btn-primary btn-xl mt-5" value="Search for Trademark(s)" />
                <span class="field-validation-error text-center mt-1" id="ServerError" data-valmsg-for="Password" data-valmsg-replace="true"></span>
            </div>

            <div id="divTrademarkList" class="hide-kendotable mt-4">
                @*<div class="tmistCancel">
                <input type="button" id="btnCancel" role="button" class="btn btn-primary" value="Cancel" />
            </div>*@
                <h4 class="mb-3">Search Results</h4>
                <div class="kww-custom-table">
                    @(Html.Kendo().Grid<TmManager.Trademarks.TrademarkSearchReportModel>
                    ()
                    .Name("Grid")
                    .EnableCustomBinding(true)
                    .Columns(columns =>
                    {
                        columns.Bound(c => c.Name).Title("Trademark Name").Width("20%");
                        columns.Bound(c => c.SerialNumber).Title("Serial Number").Width("20%");
                        columns.Bound(c => c.ClientName).Title("Client Name").Width("20%"); ;
                        columns.Bound(c => c.ClientEmail).Title("Client Email").Width("20%");
                        columns.Bound(c => c.ImportedDate).Format("{0:yyyy.MM.dd HH:mm:ss}").Title("Date Imported").Width("20%"); ;
                        columns.Bound(c => c.Id).Title("Action").ClientTemplate("<a class='kww-filled-btn-sm' data-ajax='true' data-ajax-method='GET' data-ajax-begin='OnTrademarkDetailBegin' data-ajax-success='OnTrademarkDetailSuccess' href='/trademark/gettrademarkdetail?id=#=data.Id#'><img src='../images/Icon-file.png' /></a>").Width("20%");
                    })
                    .Pageable(pager => pager
                    .Input(false)
                    .Numeric(true)
                    .Info(true)
                    .PreviousNext(true)
                    .Refresh(true)
                    )
                    // .Scrollable()
                    .AutoBind(true)
                    //.HtmlAttributes(new { style = "height:100%;" })
                    .Sortable()
                    .DataSource(dataSource => dataSource
                    .Ajax()
                    .PageSize(10)
                    .Read(read => read.Action("SearchTrademark", "Trademark"))
                    .ServerOperation(true)
                 ))
                </div>
            </div>
        </div>
    </div>

    <div class="modal" id="tmDetailModalCenter" tabindex="-1" role="dialog" aria-labelledby="tmModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
            <partial name="TrademarkDetailsPartial" />
        </div>
    </div>
    <!--End Model-->
</div>


<script>
    $('.kww-main-nav ul').find('li').removeClass('active');
    $('#navTrademarks').parent().addClass('active');

    function GetByDate(serialNumber, clientEmail, clientName, registrationNumber) {
        var MyGrid = $("#Grid").data("kendoGrid");
        var arrayFilter = [];
        arrayFilter.push({ field: "SerialNumber", operator: "eq", value: serialNumber });
        arrayFilter.push({ field: "RegistrationNumber", operator: "eq", value: registrationNumber });
        arrayFilter.push({ field: "ClientEmail", operator: "eq", value: clientEmail });
        arrayFilter.push({ field: "ClientName", operator: "eq", value: clientName });
        MyGrid.dataSource.filter(arrayFilter);
        $('#divTrademarkList').removeClass('hide-kendotable');
    }

    $('#btnSearch').click(function () {
        var SerialNumber = $('#SerialNumber').val();
        var ClientEmail = $('#ClientEmail').val();
        var ClientName = $('#ClientName').val();
        var RegistrationNumber = $('#RegistrationNumber').val();
        if (SerialNumber != "" || ClientEmail != "" || ClientName != "" || RegistrationNumber != "") {
            $('#divFilters').addClass('d-none');
            GetByDate(SerialNumber, ClientEmail, ClientName, RegistrationNumber);
        } else {
            $('#ServerError').html("At least one field is required");
        }
    });
    $('#btnCancel').click(function () {
        $('#divTrademarkList').addClass('hide-kendotable');
        $('#divFilters').removeClass('d-none');
    });

    function OnTrademarkDetailBegin() {
        $("#imgTrademark").attr("src", ' ');
        $('#fetchingDataModal').modal('show');
    }

    function OnTrademarkUpdateBegin() {
        $("#imgTrademark").attr("src", ' ');
        $('#tmDetailModalCenter').modal('hide');
        $('#fetchingDataModal').modal('show');
    }

</script>