﻿@model TmManager.Trademarks.SearchTrademarkModel
@{
    ViewData["Title"] = "Admin";
    Layout = "~/Views/Shared/_MenuLayout.cshtml";
}

<div class="modal" id="fetchingDataModel" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">

            <div class="modal-body text-center">
                <i class="fas fa-pulse fa-sync-alt fa-2x"></i>
                <h4>Fetching data</h4>
                <p>Retrieving trademark data from the USPTO database. This may take few seconds.</p>
                <a class="btn btn-secondary text-light" data-dismiss="modal">Cancel Action</a>
            </div>

        </div>
    </div>
</div>

<div class="container">
    <div class="kww-sub-nav">
        <ul>
            <li><a href="/trademark">Trademarks</a></li>
            <li class="active"><a href="/trademark/newtrademark">New Trademark</a></li>
            <li><a href="/trademark/uploadfile">Upload File</a></li>
            <li><a href="/trademark/trademarkretrieved">Trademarks Retrieved</a></li>
            <li><a href="/trademark/trademarkarchieved">Archived Files</a></li>
            <li><a href="/trademark/trademarkdeadlist">Dead Trademarks</a></li>
            <li><a href="/trademark/unknownattorney">Unknown Attorney Trademarks </a></li>
        </ul>
    </div>
    <!--Form-->
    <div class="row">
        <div class="col-lg-12">
            <h2 class="mb-5">Trademarks</h2>

            <div class="row">
                <div class="kww-form-box col-xs" id="trademarkFetch">
                    <h3 class="text-center">Enter New Trademark</h3>
                    <p>Enter the USPTO trademark serial number and the client email in the field below to start the process of entering trademark into the system. The client email will be used only IF an email is not present in the USPTO database.</p>
                    <form method="post" asp-action="NewTrademark" class="formWrapper" asp-controller="Trademark" novalidate>
                        <div class="form-group">
                            <label for="tradeserial">Trademark Serial Number <span class="text-danger">*</span></label>
                            <input type="text" asp-for="SerialNumber" class="form-control" placeholder="88910043">
                            <span asp-validation-for="SerialNumber" class=""></span>
                        </div>
                        <div class="form-group">
                            <label for="email">Email <span class="text-danger">*</span></label>
                            <input type="email" asp-for="Email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="user@email.com">
                            <span asp-validation-for="Email" class=""></span>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Fetch Trademark from USPTO" role="button" class="btn btn-primary btn-xl" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script>

    $('.kww-main-nav ul').find('li').removeClass('active');
    $('#navTrademarks').parent().addClass('active');

    function OnBeginTrademark() {
        $('#fetchingDataModel').modal('show');
    };

    function OnTrademarkSaved(res) {
        if (res.isSuccess) {
            $('.trademarkGeneral').addClass('d-none');
            $('#trademarkLinked').removeClass('d-none');
        }
    }

    function OnSuccessTrademark(res) {
        $('#fetchingDataModel').modal('hide');
        $('.trademarkGeneral').addClass('d-none');
        console.log(res);
        if (res.isSuccess) {
            var name = res.trademarkResponse[0].name;
            var clientName = res.trademarkResponse[0].clientName;
            var serialNumber = res.trademarkResponse[0].serialNumber;
            var primaryEmail = res.trademarkResponse[0].primaryEmail;
            var primaryPhone = res.trademarkResponse[0].primaryPhone;
            var streetAddress = res.trademarkResponse[0].streetAddress;
            var city = res.trademarkResponse[0].city;
            var state = res.trademarkResponse[0].state;
            var zipCode = res.trademarkResponse[0].zipCode;
            var country = res.trademarkResponse[0].country;
            var statusnumber = res.trademarkResponse[0].statusNumber;
            var statusdescription = res.trademarkResponse[0].statusDescription;

            $('.lblName').html(name);
            $('.lblClientName').html(clientName);
            $('.lblPrimaryEmail').html(primaryEmail);
            $('.lblPrimaryPhone').html(primaryPhone);
            $('.lblStreetAddress').html(streetAddress);
            $('.lblCity').html(city);
            $('.lblState').html(state);
            $('.lblZipCode').html(zipCode);
            $('.lblCountry').html(country);
            $('.lblSerialNumber').html(serialNumber);

            if (statusnumber == 2) {
                $('#trademarkSuccess').removeClass('d-none');
            } else if (statusnumber == 10) {
                $('#trademarkDead').removeClass('d-none');
            }
        }
        else if (res.errors != undefined && res.errors.length > 0) {
            //$('#trademarkSearch').addClass('d-none');
            //$('#trademarkNotFound').removeClass('d-none');
            if (res.errors[0] == "Email field is required" || res.errors[0] == "Serial Number field is required") {
                $('#errorDiv').html(res.errors[0]);
            } else if (res.errors[0] == "Record already exists") {
                $('.lblSerialNumber').html(res.trademarkResponse[0].serialNumber);
                $('#trademarkAlreadyInSystem').removeClass('d-none');
            }
        }
    }
</script>