﻿@model TmManager.Trademarks.TrademarkResponse
@{
    ViewData["Title"] = "Admin";
    Layout = "~/Views/Shared/_MenuLayout.cshtml";
}

<div class="container">
    <div class="kww-sub-nav">
        <ul>
            <li><a href="/trademark">Trademarks</a></li>
            <li class="active"><a href="/trademark/newtrademark">New Trademark</a></li>
            <li><a href="/trademark/uploadfile">Upload File</a></li>
            <li><a href="/trademark/trademarkretrieved">Trademarks Retrieved</a></li>
            <li><a href="/trademark/trademarkarchieved">Archived Files</a></li>
            <li><a href="/trademark/trademarkdeadlist">Dead Trademarks</a></li>
            <li><a href="/trademark/unknownattorney">Unknown Attorney Trademarks </a></li>
        </ul>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <h2>New Trademarks</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-12 offset-lg-2 offset-md-2 offset-sm-0 text-center">
            <input type="hidden" id="SerialNumber" name="SerialNumber" value="@Model.SerialNumber" />
            <img src="~/images/Alerticon.png" />
            <h3>System Error!</h3>
            <p>Failed to add trademark with @Model.SerialNumber in the system.</p>
            <a href="/trademark/newtrademark" role="button" class="btn btn-primary btn-xl">Try again</a>
        </div>
    </div>
</div>