﻿@using Kendo.Mvc.UI
@model TmManager.Trademarks.TrademarkResponseForKendo

@{
    ViewData["Title"] = "Admin";
    Layout = "~/Views/Shared/_MenuLayout.cshtml";
}
<style>
    .k-grid td:first-child {
        word-break: break-all;
    }

    .rejectbtn {
        border: none;
        background: red;
        color: #fff;
        padding: 6px 5px;
        border: 1px solid red;
        cursor: pointer;
    }

    .acceptbtn {
        border: none;
        background: green;
        color: #fff;
        padding: 6px 5px;
        cursor: pointer;
        border: 1px solid green;
    }

        .acceptbtn:hover {
            background: #fff;
            color: green;
            border: 1px solid green;
        }

    .rejectbtn:hover {
        background: #fff;
        color: green;
        border: 1px solid green;
    }
</style>
<div class="modal" id="fetchingDataModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">

            <div class="modal-body text-center">
                <i class="fas fa-pulse fa-sync-alt fa-2x"></i>
                <h4>Fetching data from system...</h4>
                <p>Retrieving trademark data from the database. This may take few seconds.</p>
                <a class="btn btn-secondary text-light" data-dismiss="modal">Cancel Action</a>
            </div>

        </div>
    </div>
</div>

<input id="hdnId" type="hidden" value="@Model.Id" />

<div class="container">
    <div class="kww-sub-nav">
        <ul>
            <li><a href="/trademark">Trademarks</a></li>
            <li><a href="/trademark/newtrademark">New Trademark</a></li>
            <li><a href="/trademark/uploadfile">Upload File</a></li>
            <li class="active"><a href="/trademark/trademarkretrieved">Trademarks Retrieved</a></li>
            <li><a href="/trademark/trademarkarchieved">Archived Files</a></li>
            <li><a href="/trademark/trademarkdeadlist">Dead Trademarks</a></li>
            <li><a href="/trademark/unknownattorney">Unknown Attorney Trademarks </a></li>
        </ul>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <h2>Trademarks</h2>
        </div>
    </div>
    <div class="text-center">
        <h1 class="my-3 text-center">File: @Model.Name - @Model.ImportedDateString</h1>
    </div>
    <span>Number of Trademarks: @Model.Count</span>
    @* columns.Bound(c => c.Email).Title("Email").Width("15%"); *@

    <div class="k-overflow-grid trademarkdeadlist kww-custom-table">
        @(Html.Kendo().Grid<TmManager.Trademarks.TrademarkRetrievedItemReportModel>
    ()
    .Name("grid")
    .EnableCustomBinding(true)
    .Columns(columns =>
    {
        columns.Bound(c => c.TrademarkName).Title("Trademark Name").Width("30%");
        columns.Bound(c => c.SerialNumber).Title("Serial No").Width("15%");
        columns.Bound(c => c.ClientName).Title("Owner Name").Width("17%");
        columns.Bound(c => c.Created).Format("{0:yyyy.MM.dd HH:mm:ss}").Width("15%").Title("Date Imported");
        columns.Bound(c => c.StatusString).Title("Status").Width("15%").ClientTemplate("<img src='#=data.ImagePath#' height='15px' class='mx-2' /><span>#=data.StatusString#</span>");
        columns.Bound(x => x.Id).Title("Action").Width("8%").ClientTemplate("<a style='display: #=ShowDetails==true ? ' ': ' none'#;' class='kww-filled-btn-sm' data-ajax='true' data-ajax-method='GET' data-ajax-begin='OnTrademarkDetailBegin' data-ajax-success='OnTrademarkDetailSuccess' href='/trademark/gettrademarkdetail?id=#=TrademarkId#'><img src='../images/Icon-file.png' /></a> <button class='fas mr-2 fa-check acceptbtn' onclick=onAccept('#=Id#') style='display: #=IsActive==true ? ' ': ' none'#;')></button><button class = 'far mr-2 fa-times-circle rejectbtn' onclick=onReject('#=Id#') style='display: #=IsActive==true ? ' ': ' none'#;'></button>");
    })
    .Pageable(pager => pager
    .Input(false)
    .Numeric(true)
    .Info(true)
    .PreviousNext(true)
    .Refresh(true)
    )
    .AutoBind(true)
    .HtmlAttributes(new { style = "height:100%;" })
    .Sortable()
    .DataSource(dataSource => dataSource
    .Ajax()
    .PageSize(10)
    .Read(read => read.Action("TrademarkRetrievedItem", "Trademark", new { id = Model.Id }))
    .ServerOperation(true)
    ))
    </div>
</div>
<div class="modal" id="tmDetailModalCenter" tabindex="-1" role="dialog" aria-labelledby="tmModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
        <partial name="TrademarkDetailsPartial" />
    </div>
</div>
<script>
    $('.kww-main-nav ul').find('li').removeClass('active');
    $('#navTrademarks').parent().addClass('active');

    function onReject(id) {
        //$('#fetchingDataModal').modal('show');
        $.ajax(
            {
                type: 'GET',
                url: '/trademark/TrademarkReject',
                data: "id=" + id,
                success: function (data) {
                    $('#grid').data('kendoGrid').dataSource.read();
                    //$('#fetchingDataModal').modal('hide');
                },
                error: function (error) {
                    console.log(error);
                    //$('#fetchingDataModal').modal('hide');
                }
            }
        );
    }
    function onTryAgain(id) {
        //$('#fetchingDataModal').modal('show');
        $.ajax(
            {
                type: 'GET',
                url: '/trademark/TryAgain',
                data: "id=" + id,
                success: function (data) {
                    $('#grid').data('kendoGrid').dataSource.read();
                    //$('#fetchingDataModal').modal('hide');
                },
                error: function (error) {
                    console.log(error);
                    //$('#fetchingDataModal').modal('hide');
                }
            }
        );
    }
    function onAccept(id) {
        //$('#fetchingDataModal').modal('show');
        $.ajax(
            {
                type: 'GET',
                url: '/trademark/TrademarkAccept',
                data: "id=" + id,
                success: function (data) {
                    $('#grid').data('kendoGrid').dataSource.read();
                },
                error: function (error) {
                    console.log(error);
                }
            }
        );
    }
    function OnTrademarkDetailBegin() {
        $("#imgTrademark").attr("src", ' ');
        $('#fetchingDataModal').modal('show');
    }

    function OnTrademarkUpdateBegin() {
        $("#imgTrademark").attr("src", ' ');
        $('#tmDetailModalCenter').modal('hide');
        $('#fetchingDataModal').modal('show');
    }
</script>
