﻿@using Kendo.Mvc.UI
@model TmManager.Trademarks.TrademarkResponseForKendo

@{
    ViewData["Title"] = "Admin";
    Layout = "~/Views/Shared/_MenuLayout.cshtml";
}

<div class="container">
    <div class="kww-sub-nav">
        <ul>
            <li><a href="/trademark">Trademarks</a></li>
            <li><a href="/trademark/newtrademark">New Trademark</a></li>
            <li><a href="/trademark/uploadfile">Upload File</a></li>
            <li><a href="/trademark/trademarkretrieved">Trademarks Retrieved</a></li>
            <li><a href="/trademark/trademarkarchieved">Archived Files</a></li>
            <li class="active"><a href="/trademark/trademarkdeadlist">Dead Trademarks</a></li>
            <li><a href="/trademark/unknownattorney">Unknown Attorney Trademarks </a></li>
        </ul>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <h2>Trademarks</h2>
        </div>
    </div>
    <div class="text-center">
        <h1 class="my-3 text-center">Trademark Batch Groups (last 30 days)</h1>
    </div>


    <div class="k-overflow-grid trademarkdeadlist kww-custom-table">
        @(Html.Kendo().Grid<TmManager.Trademarks.TrademarkSearchReportModel>
        ()
        .Name("grid")
        .EnableCustomBinding(true)
        .Columns(columns =>
        {
            columns.Bound(c => c.Name).Title("Trademark Name").Width("15%");
            columns.Bound(c => c.SerialNumber).Title("Serial Number").Width("15%");
            columns.Bound(c => c.ClientName).Title("Client Name").Width("15%");
            columns.Bound(c => c.ClientEmail).Title("Client Email").Width("15%");
            columns.Bound(c => c.ImportedDate).Format("{0:yyyy.MM.dd HH:mm:ss}").Title("Date Abandoned").Width("15%");
            //columns.Bound(c => c.StatusDescription).Title("Click to change status").Width("15%").ClientTemplate("<div><img src='../images/icon_assign.png' /> <span>Assigned</span></div><div><img src='../images/icon-unassigned.png'/><span>Unassigned</span></div>");
            columns.Bound(c => c.StatusDescription).Title("Click to change status").Width("15%").ClientTemplate("<div class='d-flex align-items-center'><img class='mr-1' src='../images/icon_assign.png' /> <span>Assigned</span></div>");
        })
        .Pageable(pager => pager
        .Input(false)
        .Numeric(true)
        .Info(true)
        .PreviousNext(true)
        .Refresh(true)
        )
        //.Scrollable()
        .AutoBind(true)
        .HtmlAttributes(new { style = "height:100%;" })
        .Sortable()
        .DataSource(dataSource => dataSource
        .Ajax()
        .PageSize(10)
        .Read(read => read.Action("SearchTrademarkBatchList", "Trademark"))
        .ServerOperation(true)
        ))
    </div>

</div>
<script>
    $('.kww-main-nav ul').find('li').removeClass('active');
    $('#navTrademarks').parent().addClass('active');
</script>
