﻿@using Kendo.Mvc.UI
@{
    ViewData["Title"] = "Admin";
    Layout = "~/Views/Shared/_MenuLayout.cshtml";
}


<!--Form-->
<div class="container">
    <div class="kww-sub-nav">
        <ul>
            <li><a href="/trademark">Trademarks</a></li>
            <li><a href="/trademark/newtrademark">New Trademark</a></li>
            <li><a href="/trademark/uploadfile">Upload File</a></li>
            <li class="active"><a href="/trademark/trademarkretrieved">Trademarks Retrieved</a></li>
            <li><a href="/trademark/trademarkarchieved">Archived Files</a></li>
            <li><a href="/trademark/trademarkdeadlist">Dead Trademarks</a></li>
            <li><a href="/trademark/unknownattorney">Unknown Attorney Trademarks </a></li>
        </ul>
    </div>
    <div class="row">
        <div class="col-lg-12 mb-4">
            <h2>Trademarks</h2>
        </div>
    </div>
    <!--Grid-->
    <h1 class="my-3 text-center">Trademark Batch Groups (last 180 days)</h1>
    <div class="k-overflow-grid trademarkretrieved">
        @(Html.Kendo().Grid<TmManager.Trademarks.TrademarkRetrievedReportModel>
                    ()
                    .Name("Grid")
                    .EnableCustomBinding(true)
                    .Columns(columns =>
                    {
                        columns.Bound(c => c.Name).Title("File Name").Width("16%");
                        columns.Bound(c => c.Count).Title("TM Total").Width("16%");
                        columns.Bound(c => c.Processed).Title("TMs Processed").Width("16%");
                        columns.Bound(c => c.UnProcessed).Title("TMs Unprocessed").Width("16%");
                        columns.Bound(c => c.Created).Format("{0:yyyy.MM.dd HH:mm:ss}").Title("Date Imported").Width("20%");
                        if(ViewBag.ShowColumn == true){
                            columns.Bound(c => c.Id).Title(" ").ClientTemplate("<button width='40px' style='display:#=ShowButton==true ? ' ': ' none'#;' class='kww-filled-btn-sm' onclick=onSync('#=Id#')>Sync</button>").Width("5%");
                        }
                        columns.Bound(c => c.Id).Title("Status").ClientTemplate("<a class='kww-filled-btn-sm' href='/trademark/trademarkretrieveditem?id=#=data.Id#&batchName=#=data.Name#'>File Details</a>").Width("10%");
                    })
                    .Pageable(pager => pager
                    .Input(false)
                    .Numeric(true)
                    .Info(true)
                    .PreviousNext(true)
                    .Refresh(true)
                    )
                    .AutoBind(true)
                    .Sortable()
                    .DataSource(dataSource => dataSource
                    .Ajax()
                    .PageSize(10)
                    .Read(read => read.Action("TrademarkRetrieved", "Trademark"))
                    .ServerOperation(true)
                 ))
    </div>
</div>
<script>

    $('.kww-main-nav ul').find('li').removeClass('active');
    $('#navTrademarks').parent().addClass('active');

    function onSync(id) {
        //$('#fetchingDataModal').modal('show');
        $.ajax(
            {
                type: 'GET',
                url: '/trademark/tryagain',
                data: "id=" + id,
                success: function (data) {
                    //$('#grid').data('kendoGrid').dataSource.read();
                },
                error: function (error) {
                    console.log(error);
                }
            }
        );
    }
    function GetByDate() {
        var MyGrid = $("#Grid").data("kendoGrid");
        var arrayFilter = [];
        MyGrid.dataSource.filter(arrayFilter);
        $('#divTrademarkList').removeClass('hide-kendotable');
    }

    function GetStatusSrc(name) {
        switch (name) {
            case "Unavailable":
                return "abc.jpg";
            default:
                return "deafult.jpg";
        }
    }

</script>
