﻿@using Kendo.Mvc.UI
@model TmManager.Trademarks.TrademarkResponseForKendo

@{
    ViewData["Title"] = "Admin";
    Layout = "~/Views/Shared/_MenuLayout.cshtml";
}

<div class="modal" id="fetchingDataModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">

            <div class="modal-body text-center">
                <i class="fas fa-pulse fa-sync-alt fa-2x"></i>
                <h4>Wait for system processing...</h4>
                <a class="btn btn-secondary text-light" data-dismiss="modal">Cancel Action</a>
            </div>

        </div>
    </div>
</div>

<input id="hdnId" type="hidden" value="@Model.Id" />

<div class="container">
    <div class="kww-sub-nav">
        <ul>
            <li><a href="/trademark">Trademarks</a></li>
            <li><a href="/trademark/newtrademark">New Trademark</a></li>
            <li><a href="/trademark/uploadfile">Upload File</a></li>
            <li><a href="/trademark/trademarkretrieved">Trademarks Retrieved</a></li>
            <li class="active"><a href="/trademark/trademarkarchieved">Archived Files</a></li>
            <li><a href="/trademark/trademarkdeadlist">Dead Trademarks</a></li>
            <li><a href="/trademark/unknownattorney">Unknown Attorney Trademarks </a></li>
        </ul>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <h2>Trademarks</h2>
        </div>
    </div>
    <div class="text-center">
        <h1 class="my-3 text-center">Trademark Batch @Model.Name</h1>
    </div>


    <div class="k-overflow-grid trademarkdeadlist kww-custom-table">
        @(Html.Kendo().Grid<TmManager.Trademarks.TrademarkRetrievedItemReportModel>
    ()
    .Name("grid")
    .EnableCustomBinding(true)
    .Columns(columns =>
    {
        columns.Bound(c => c.Email).Title("Email").Width("20%");
        columns.Bound(c => c.ClientName).Title("Client Name").Width("20%");
        columns.Bound(c => c.SerialNumber).Title("Serial No").Width("15%");
        columns.Bound(c => c.TrademarkName).Title("Trademark Name").Width("15%");
        columns.Bound(c => c.Created).Format("{0:yyyy.MM.dd HH:mm:ss}").Width("15%").Title("Date Imported");
        columns.Bound(c => c.StatusString).Title("Status").Width("15%").ClientTemplate("<img src='#=data.ImagePath#' height='15px' class='mx-2' /><span>#=data.StatusString#</span>");
    })
    .Pageable(pager => pager
    .Input(false)
    .Numeric(true)
    .Info(true)
    .PreviousNext(true)
    .Refresh(true)
    )
    .AutoBind(true)
    .HtmlAttributes(new { style = "height:100%;" })
    .Sortable()
    .DataSource(dataSource => dataSource
    .Ajax()
    .PageSize(10)
    .Read(read => read.Action("TrademarkRetrievedItem", "Trademark", new { id = Model.Id }))
    .ServerOperation(true)
    ))
    </div>

</div>
<script>
    $('.kww-main-nav ul').find('li').removeClass('active');
    $('#navTrademarks').parent().addClass('active');

    //function GetByDate() {
    //    var MyGrid = $("#Grid").data("kendoGrid");
    //    var arrayFilter = [];
    //    arrayFilter.push({ field: "Id", operator: "eq", value: $('#hdnId').val() });
    //    MyGrid.dataSource.filter(arrayFilter);
    //}

    //$(document).ready(function () {
    //    GetByDate();
    //});


    function onReject(id) {
        //$('#fetchingDataModal').modal('show');
        $.ajax(
            {
                type: 'GET',
                url: '/trademark/TrademarkReject',
                data: "id=" + id,
                success: function (data) {
                    $('#grid').data('kendoGrid').dataSource.read();
                    //$('#fetchingDataModal').modal('hide');
                },
                error: function (error) {
                    console.log(error);
                    //$('#fetchingDataModal').modal('hide');
                }
            }
        );
    }
    function onAccept(id) {
        //$('#fetchingDataModal').modal('show');
        $.ajax(
            {
                type: 'GET',
                url: '/trademark/TrademarkAccept',
                data: "id=" + id,
                success: function (data) {
                    $('#grid').data('kendoGrid').dataSource.read();
                },
                error: function (error) {
                    console.log(error);
                }
            }
        );
    }

</script>
