﻿@using Kendo.Mvc.UI
@model TmManager.Trademarks.TrademarkResponseForKendo
@{ 
    ViewData["Title"] = "Trademark";
    Layout = "~/Views/Shared/_MenuLayout.cshtml";
}


<!--Form-->
<div class="container">
    <div class="kww-sub-nav">
        <ul>
            <li><a href="/trademark">Trademarks</a></li>
            <li><a href="/trademark/newtrademark">New Trademark</a></li>
            <li><a href="/trademark/uploadfile">Upload File</a></li>
            <li><a href="/trademark/trademarkretrieved">Trademarks Retrieved</a></li>
            <li class="active"><a href="/trademark/trademarkarchieved">Archived Files</a></li>
            <li><a href="/trademark/trademarkdeadlist">Dead Trademarks</a></li>
            <li><a href="/trademark/unknownattorney">Unknown Attorney Trademarks </a></li>
        </ul>
    </div>
    <div class="row">
        <div class="col-lg-12 mb-4">
            <h2>Trademarks</h2>
        </div>
    </div>
    <!--Grid-->
    <h3 class="my-3 text-center d-block">View Archived Trademark Import Batches (90 days max)</h3>
    
    <div class="row d-flex align-items-end">
        <div class="col-lg-4">
            <div class="dateSelectorW">
                <label class="m-0">Start Date <span class="text-danger">*</span></label>
                @Html.Kendo().DatePickerFor(model => model.StartDate).Format("MM/dd/yyyy").Value(DateTime.Now.AddDays(-90).Date).HtmlAttributes(new { @type = "text" })
            </div>
        </div>
        <div class="col-lg-4">
            <div class="dateSelectorW">
                <label class="m-0">End Date <span class="text-danger">*</span></label>
                @Html.Kendo().DatePickerFor(model => model.EndDate).Format("MM/dd/yyyy").Value(DateTime.Now.Date).HtmlAttributes(new { @type = "text" })
            </div>
        </div>
        <div class="col-lg-4">
            <input type="button" id="btnSearch" role="button" class="btn btn-primary btn-xl mt-5" value="Search for Trademark(s)" />
        </div>

    </div>
    <div class="k-overflow-grid trademarkretrieved">
        @(Html.Kendo().Grid<TmManager.Trademarks.TrademarkArchievedReportModel>
                    ()
                    .Name("Grid")
                    .EnableCustomBinding(true)
                    .Columns(columns =>
                    {
                        columns.Bound(c => c.Name).Title("Batch Name").Width("30%");
                        columns.Bound(c => c.Count).Title("Trademark Name").Width("30%");
                        columns.Bound(c => c.Created).Format("{0:yyyy.MM.dd HH:mm:ss}").Title("Date Imported").Width("30%"); ;
                        columns.Bound(c => c.Id).Title("Detail").ClientTemplate("<a class='kww-filled-btn-sm' href='/trademark/trademarkarchiveditem?id=#=data.Id#&batchName=#=data.Name#'>View Details</a>").Width("10%");
                    })
                    .Pageable(pager => pager
                    .Input(false)
                    .Numeric(true)
                    .Info(true)
                    .PreviousNext(true)
                    .Refresh(true)
                    )
                    .AutoBind(true)
                    .Sortable()
                    .DataSource(dataSource => dataSource
                    .Ajax()
                    .PageSize(10)
                    .Read(read => read.Action("TrademarkArchieved", "Trademark"))
                    .ServerOperation(true)
                 ))
    </div>
</div>
<script>
    $('.kww-main-nav ul').find('li').removeClass('active');
    $('#navTrademarks').parent().addClass('active');

    function GetByDate(fromdate, todate) {
        var MyGrid = $("#Grid").data("kendoGrid");
        var arrayFilter = [];
        arrayFilter.push({ field: "StartDate", operator: "ge", value: fromdate });
        arrayFilter.push({ field: "EndDate", operator: "le", value: todate });
        MyGrid.dataSource.filter(arrayFilter);
    }

    $('#btnSearch').click(function () {
        var FromDate = $('#StartDate').val();
        var ToDate = $('#EndDate').val();
        if (FromDate == "" || FromDate == null || ToDate == "" || ToDate == null) {
            $('#ServerError').html("Start and End date can not be empty");
        }
        else if (new Date(FromDate) > new Date(ToDate)) {
            $('#ServerError').html("Start date should not be greater than end date");
        }
        else {
            $('#divFilters').addClass('d-none');
            GetByDate(FromDate, ToDate);
        }
    });

</script>
