﻿@model TmManager.Trademarks.TrademarkResponse
@{
    ViewData["Title"] = "Admin";
    Layout = "~/Views/Shared/_MenuLayout.cshtml";
}
<div class="container">
    <div class="kww-sub-nav">
        <ul>
            <li class="active"><a href="/trademark">Trademarks</a></li>
            <li><a href="/trademark/newtrademark">New Trademark</a></li>
            <li><a href="/trademark/uploadfile">Upload File</a></li>
            <li><a href="/trademark/trademarkretrieved">Trademarks Retrieved</a></li>
            <li><a href="/trademark/trademarkarchieved">Archived Files</a></li>
            <li><a href="/trademark/trademarkdeadlist">Dead Trademarks</a></li>
            <li><a href="/trademark/unknownattorney">Unknown Attorney Trademarks </a></li>
        </ul>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <h2>Trademarks</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-12 offset-lg-2 offset-md-2 offset-sm-0">
            <input type="hidden" id="SerialNumber" name="SerialNumber" value="@Model.SerialNumber" />
            <input type="hidden" id="FallbackEmail" name="FallbackEmail" value="@Model.FallbackEmail" />
            <div class="text-center">
                <img class="mb-3" src="~/images/redalert.png" />
                <h3>Attorney of record issue!</h3>
                <p>Trademark with the serial number @Model.SerialNumber was found, But it is not listed in your attorney of records list.</p>
            </div>
            <div class="form-group row">
                <label class="col-6"><strong>Client Name</strong></label>
                <label class="col-6">@Model.ClientName</label>
            </div>
            <div class="form-group row">
                <label class="col-6"><strong>Primary Email</strong></label>
                <label class="col-6">@Model.PrimaryEmail</label>
            </div>
            <div class="form-group row">
                <label class="col-6"><strong>Primary Phone</strong></label>
                <label class="col-6 lblPrimaryPhone"></label>
            </div>
            <div class="form-group row">
                <label class="col-6"><strong>Street Address</strong></label>
                <label class="col-6">@Model.StreetAddress</label>
            </div>
            <div class="form-group row">
                <label class="col-6"><strong>City</strong></label>
                <label class="col-6">@Model.City</label>
            </div>
            <div class="form-group row">
                <label class="col-6"><strong>State/Province</strong></label>
                <label class="col-6">@Model.State</label>
            </div>
            <div class="form-group row">
                <label class="col-6"><strong>Zip Code</strong></label>
                <label class="col-6">@Model.ZipCode</label>
            </div>
            <div class="form-group row">
                <label class="col-6"><strong>Country</strong></label>
                <label class="col-6">@Model.Country</label>
            </div>

            <div class="row mx-3 action-buttons">
                <div class="col-12 text-center">
                    <a href="/trademark/newtrademark" role="button" class="btn btn-primary btn-xl">Continue</a>
                </div>
            </div>

        </div>
    </div>
</div>