﻿@using Kendo.Mvc.UI
@model TmManager.Trademarks.TrademarkResponseForKendo

@{
    ViewData["Title"] = "Admin";
    Layout = "~/Views/Shared/_MenuLayout.cshtml";
}

<div class="container">
    <div class="kww-sub-nav">
        <ul>
            <li><a href="/trademark">Trademarks</a></li>
            <li><a href="/trademark/newtrademark">New Trademark</a></li>
            <li><a href="/trademark/uploadfile">Upload File</a></li>
            <li><a href="/trademark/trademarkretrieved">Trademarks Retrieved</a></li>
            <li><a href="/trademark/trademarkarchieved">Archived Files</a></li>
            <li><a href="/trademark/trademarkdeadlist">Dead Trademarks</a></li>
            <li class="active"><a href="/trademark/unknownattorney">Unknown Attorney Trademarks </a></li>
        </ul>
    </div>
    <div class="row">
        <div class="col-lg-12 mb-4">
            <h2>Trademarks</h2>
        </div>
    </div>
    <div class="text-center">
        <img class="mb-2" src="~/images/redalert.png" />
        <h1 class="my-3 text-center">Trademarks with Unrecognized Attorney of Record</h1>
    </div>


    <div class="k-overflow-grid trademarkdeadlist  kww-custom-table">
        @(Html.Kendo().Grid<TmManager.Trademarks.TrademarkSearchReportModel>
            ()
            .Name("grid")
            .EnableCustomBinding(true)
            .Columns(columns =>
            {
                columns.Bound(c => c.Name).Title("Trademark Name").Width("20%");
                columns.Bound(c => c.SerialNumber).Title("Serial Number").Width("20%");
                columns.Bound(c => c.ClientName).Title("Client Name").Width("20%");
                columns.Bound(c => c.ClientEmail).Title("Client Email").Width("20%");
                columns.Bound(c => c.AttorneyName).Title("Attorney of Record").Width("20%");
                //columns.Bound(c => c.StatusDescription).Title("Click to change status").Width("20%").ClientTemplate("<div class='d-flex align-items-center'><img class='mr-1' src='../images/icon_assign.png' /> <span>Assigned</span></div>"); ;
            })
            .Pageable(pager => pager
            .Input(false)
            .Numeric(true)
            .Info(true)
            .PreviousNext(true)
            .Refresh(true)
            )
            .Scrollable()
            .AutoBind(true)
            .HtmlAttributes(new { style = "height:100%;" })
            .Sortable()
            .DataSource(dataSource => dataSource
            .Ajax()
            .PageSize(10)
            .Read(read => read.Action("SearchTrademarkUnknownAttorneyList", "Trademark"))
            .ServerOperation(true)
         ))
    </div>
</div>
<script>
    $('.kww-main-nav ul').find('li').removeClass('active');
    $('#navTrademarks').parent().addClass('active');
</script>
