﻿@model IList<TmManager.Trademarks.TrademarkImportItemsModel>
@{
    ViewData["Title"] = "Admin";
    Layout = "~/Views/Shared/_MenuLayout.cshtml";
}

<div class="modal" id="fetchingDataModel" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">

            <div class="modal-body text-center">
                <i class="fas fa-pulse fa-sync-alt fa-2x"></i>
                <h4>Checking for system duplicates...</h4>
                <p>Checking for trademarks already in the system. This may take few seconds.</p>
                <a class="btn btn-secondary text-light" data-dismiss="modal">Cancel Action</a>
            </div>

        </div>
    </div>
</div>

<div class="container">
    <div class="kww-sub-nav">
        <ul>
            <li><a href="/trademark">Trademarks</a></li>
            <li><a href="/trademark/newtrademark">New Trademark</a></li>
            <li class="active"><a href="/trademark/uploadfile">Upload File</a></li>
            <li><a href="/trademark/trademarkretrieved">Trademarks Retrieved</a></li>
            <li><a href="/trademark/trademarkarchieved">Archived Files</a></li>
            <li><a href="/trademark/trademarkdeadlist">Dead Trademarks</a></li>
            <li><a href="/trademark/unknownattorney">Unknown Attorney Trademarks </a></li>
        </ul>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <h2>Trademarks</h2>
        </div>
    </div>
    <form method="post" asp-action="duplicatecheck" asp-controller="trademark" novalidate>
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 offset-lg-3 offset-md-3 offset-sm-0">
                <div class="text-center">
                    <i class="fas fa-thumbs-up fa-3x text-success mb-3"></i>
                    <h3>Success!</h3>
                    <p>The list contains @Model.Count() properly formatted trademarks.</p>
                </div>
                
                <div class="row">
                    <div class="col-6">
                        <h6>Email</h6>
                    </div>
                    <div class="col-6">
                        <h6>Serial Number</h6>
                    </div>
                </div>

                @if (Model != null && Model.Any())
                {
                    //foreach (var item in Model)
                    for (int i = 0; i < Model.Count(); i++)
                    {
                        <div class="row">
                            <label class="col-6">@Model[i].Email</label>
                            <label class="col-6">@Model[i].SerialNumber</label>
                        </div>
                    }
                }

                <div class="row my-3 action-buttons">
                    <div class="col-sm-6 col-12">
                        <a href="/trademark/uploadfile" role="button" class="btn btn-danger btn-lg">Cancel</a>
                    </div>
                    <div class="col-sm-6 col-12">
                        <input type="submit" class="btn btn-success btn-lg fa-pull-right" data-toggle="modal" data-target="#fetchingDataModel" value="Duplicate Check" />
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<script>
    $('.kww-main-nav ul').find('li').removeClass('active');
    $('#navTrademarks').parent().addClass('active');
</script>