﻿@{
    ViewData["Title"] = "Admin";
    Layout = "~/Views/Shared/_MenuLayout.cshtml";
}

<script>
        function uploadFiles(inputId) {
            var input = document.getElementById("TrademarkFile");
            var files = input.files;
            var formData = new FormData();

            for (var i = 0; i != files.length; i++) {
                var type = files[i].name;
                type = type.substring(type.length - 3);
                formData.append("file", files[i]);
            }
            if (type == "csv") {
                $.ajax(
                    {
                        url: "/storage/uploadfile",
                        data: formData,
                        beforeSend: function () {
                            $('#uploadingFile').modal('show');
                        },
                        complete: function () {
                            $('#uploadingFile').modal('hide');
                        },
                        contentType: false,
                        processData: false,
                        type: "POST",
                        success: function (data) {
                            if (data.errors != undefined && data.errors.length > 0) {

                            } else {
                                window.location.href = "/Trademark/UploadFileSuccess?FileName=" + data.FileName + "";
                            }
                        }
                    }
                );
            } else {
                $('#errorDiv').html("Invalid file type, Please upload a proper CSV.");
            }
    }

    //function UploadSuccess(fileName) {
    //    $.ajax(
    //        {
    //            url: "/trademark/uploadfilesuccess",
    //            data: { 'fileName': fileName },
    //            type: "Get",
    //            dataType: 'JSON',
    //            success: function (data) {
    //                console.log(data);
    //            }
    //        }
    //    );
    //}
</script>

<div class="container">


    <div class="modal" id="uploadingFile" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">

                <div class="modal-body text-center">
                    <i class="fas fa-pulse fa-sync-alt fa-2x"></i>
                    <h4>Uploading File</h4>
                    <p>Uploading file to server. This may take few seconds.</p>
                    <a class="btn btn-secondary text-light" data-dismiss="modal">Cancel Action</a>
                </div>

            </div>
        </div>
    </div>

    <div class="kww-sub-nav">
        <ul>
            <li><a href="/trademark">Trademarks</a></li>
            <li><a href="/trademark/newtrademark">New Trademark</a></li>
            <li class="active"><a href="/trademark/uploadfile">Upload File</a></li>
            <li><a href="/trademark/trademarkretrieved">Trademarks Retrieved</a></li>
            <li><a href="/trademark/trademarkarchieved">Archived Files</a></li>
            <li><a href="/trademark/trademarkdeadlist">Dead Trademarks</a></li>
            <li><a href="">Unknown Attorney Trademarks </a></li>
        </ul>
    </div>
    <!--Upload-->
    <div class="row">
        <div class="col-lg-12">
            <div id="importtrademarks">
                <h2 class="mb-5">Trademarks</h2>
                <div class="text-center upload-box-wrapper">
                    <h3 class="font-weight-bold">Upload Trademark File</h3>
                    <p>Upload a list of trademarks with email owners.</p>
                    <div class="upload-btn-wrapper mt-4">
                        <div><a href="" class="btn btn-info btn-iconlft">
                                 <span class="iconimg"> <img src="~/images/icon_upload.png" /></span><span>Upload File</span>
</a></div>
                        <input type="file" name="TrademarkFile" id="TrademarkFile" onchange="uploadFiles('files');" />
                        <p id="errorDiv" class="text-danger"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Upload-->
</div>

<script>
    $('.kww-main-nav ul').find('li').removeClass('active');
    $('#navTrademarks').parent().addClass('active');
</script>