﻿@using Kendo.Mvc.UI
@model TmManager.Admin.ClientListModel
@{
    ViewData["Title"] = "Client";
    Layout = "~/Views/Shared/_MenuLayout.cshtml";
}


<div class="container">
    <div class="kww-sub-nav">
        <ul>
            <li><a href="/client">Search Clients</a></li>
            <li><a href="/client/useraccess">User Access Request</a></li>
            <li class="active"><a href="/client/clientlist">Client List</a></li>
        </ul>
    </div>

    <div class="row">
        <div class="col-lg-12 mb-4">
            <h2>Clients</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="DateRangeDiv text-center" id="divFilters">
                <h3>Enter Date Range</h3>
                <div id="mt-4">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="dateSelectorW">
                                <label class="k-label">Start Date <span class="text-danger">*</span></label>
                                @Html.Kendo().DatePickerFor(model => model.StartDate).Format("MM/dd/yyyy").Value(DateTime.Now.AddDays(-7).Date).HtmlAttributes(new { @type = "text" })
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="dateSelectorW">
                                <label class="k-label">End Date <span class="text-danger">*</span></label>
                                @Html.Kendo().DatePickerFor(model => model.EndDate).Format("MM/dd/yyyy").Value(DateTime.Now.Date).HtmlAttributes(new { @type = "text" })
                            </div>
                        </div>
                        <div class="col-lg-6 mt-2">
                            <div class="dateSelectorW">
                                <label class="m-0">Username </label>
                                <input type="text" asp-for="Username" class="form-control">
                            </div>
                        </div>
                        <div class="col-lg-6 mt-2">
                            <div class="dateSelectorW">
                                <label class="m-0">USPTO Owner Name</label>
                                <input type="text" asp-for="Name" class="form-control">
                            </div>
                        </div>
                    </div>
                </div>
                <input type="button" id="btnSearch" role="button" class="btn btn-primary btn-xl mt-5" value="Search" />
                <span class="field-validation-error mt-2" id="ServerError" data-valmsg-for="Password" data-valmsg-replace="true"></span>
            </div>

            <div id="divTrademarkList" class="hide-kendotable mt-4">
                <h4>Current Client Lists</h4>
                <div class="kww-custom-table">
                    @(Html.Kendo().Grid<TmManager.Admin.SearchClientListReportModel>
                    ()
                    .Name("Grid")
                    .Columns(columns =>
                    {
                        columns.Bound(c => c.Username).Title("Username").Width("40%");
                        columns.Bound(c => c.Name).Title("USPTO Owner Name").Width("30%");
                        columns.Bound(c => c.Registered).Title("Registered").Width("10%");
                        columns.Bound(c => c.Created).Title("Date Created").Width("30%");
                        columns.Bound(c => c.Id).Title("Action").ClientTemplate("<a class='kww-filled-btn-sm' data-ajax='true' data-ajax-method='GET' data-ajax-begin='OnClientDetailBegin' data-ajax-success='OnClientDetailSuccess' href='/trademark/getclientdetail?id=#=data.Id#'><i class='fas fa-user'></i></a>").Width("18.5%");
                    })
                    .Pageable(pager => pager
                    .Input(false)
                    .Numeric(true)
                    .Info(true)
                    .PreviousNext(true)
                    .Refresh(true))
                    .AutoBind(true)
                    .Sortable()
                    .DataSource(dataSource => dataSource
                    .Ajax()
                    .PageSize(10)
                    .Read(read => read.Action("GetClientList", "Client"))
                    .ServerOperation(true)
                 ))
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="ClientDetailModal" tabindex="-1" role="dialog" aria-labelledby="tmModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <header class="row">
                    <div class="col-lg-6"><h2>USPTO Name</h2></div>
                    <div class="col-lg-6 text-right">
                        <a href="#" class="ml-2 align-middle" data-dismiss="modal">
                            <svg style="width:20px" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512.001 512.001" style="enable-background:new 0 0 512.001 512.001;" xml:space="preserve"> <g> <g> <path d="M284.286,256.002L506.143,34.144c7.811-7.811,7.811-20.475,0-28.285c-7.811-7.81-20.475-7.811-28.285,0L256,227.717 L34.143,5.859c-7.811-7.811-20.475-7.811-28.285,0c-7.81,7.811-7.811,20.475,0,28.285l221.857,221.857L5.858,477.859 c-7.811,7.811-7.811,20.475,0,28.285c3.905,3.905,9.024,5.857,14.143,5.857c5.119,0,10.237-1.952,14.143-5.857L256,284.287 l221.857,221.857c3.905,3.905,9.024,5.857,14.143,5.857s10.237-1.952,14.143-5.857c7.811-7.811,7.811-20.475,0-28.285 L284.286,256.002z" /> </g> </g> </svg>
                        </a>
                    </div>
                </header>

                <div class="row">
                    <div class="col-lg-4">
                        <div class="two-lbl">
                            <label class="h-lbl">USPTO Owner Name</label>
                            <label id="ClientNameDetail"></label>
                        </div>
                        <div class="two-lbl">
                            <label class="h-lbl">USPTO Owner Address</label>
                            <label id="ClientAddress"></label>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="two-lbl">
                            <label class="h-lbl">Legal Entity Type</label>
                            <label id="ClientLegalEntity"></label>
                        </div>

                        <div class="two-lbl">
                            <label class="h-lbl">State or Country Where Organized</label>
                            <label id="ClientState"></label>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="two-lbl">
                            <label class="h-lbl">USPTO/Account Email</label>
                            <label id="ClientEmailDetail"></label>
                        </div>
                        <div class="two-lbl">
                            <label class="h-lbl">USPTO/Account Phone</label>
                            <label id="ClientPhone"></label>
                        </div>
                    </div>
                </div>

                <hr class="border-bottom-line" />

                <div class="row">
                    <div class="col-lg-12">
                        <h2>Account Trademarks</h2>
                        <table id="TblClientTrademarkList" class="w-100">
                            <thead>
                                <tr>
                                    <th class="py-2" style="width:23%">Trademark Name</th>
                                    <th style="width:23%">Serial Number</th>
                                    <th style="width:23%">Application Filing Date</th>
                                    <th style="width:23%">Date Imported</th>
                                    <th style="width:15%">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>

                <hr class="border-bottom-line" />
                <div class="row">
                    <div class="col-lg-12">
                        <h2>Contacts</h2>
                        <table id="TblClientContacts" class="w-100">
                            <thead>
                                <tr>
                                    <th class="py-2" style="width:10%">Type</th>
                                    <th style="width:15%">Name</th>
                                    <th style="width:35%">Address</th>
                                    <th style="width:20%">Phone</th>
                                    <th style="width:25%">Email</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal" id="tmDetailModalCenter" tabindex="-1" role="dialog" aria-labelledby="tmModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
        <div class="modal-content">
            <partial name="TrademarkDetailsPartial" />
        </div>
    </div>
</div>
<div class="modal" id="fetchingDataModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">

            <div class="modal-body text-center">
                <i class="fas fa-pulse fa-sync-alt fa-2x"></i>
                <h4>Fetching data from system...</h4>
                <p>Retrieving trademark data from the database. This may take few seconds.</p>
                <a class="btn btn-secondary text-light" data-dismiss="modal">Cancel Action</a>
            </div>

        </div>
    </div>
</div>
<script>

    $('.kww-main-nav ul').find('li').removeClass('active');
    $('#navClient').parent().addClass('active');


    $(document).ready(function () {
        $("#StartDate").kendoTextBox();
        $("#EndDate").kendoTextBox();

        var data = $.urlParam('load');
        if (data == "yes") {
            var MyGrid = $("#Grid").data("kendoGrid");
            var arrayFilter = [];
            var fromdate = "01/01/1990";
            var todate = $('#EndDate').val();
            var username = $('#Username').val();
            var name = $('#Name').val();
            arrayFilter.push({ field: "StartDate", operator: "ge", value: fromdate });
            arrayFilter.push({ field: "EndDate", operator: "le", value: todate });
            arrayFilter.push({ field: "Username", operator: "eq", value: username });
            arrayFilter.push({ field: "Name", operator: "eq", value: name });
            MyGrid.dataSource.filter(arrayFilter);
            $('#divFilters').addClass('hide-kendotable');
            $('#divTrademarkList').removeClass('hide-kendotable');
        }
    });

    function OnClientDetailBegin() {
        $('#fetchingDataModal').modal('show');
    }

    function GetByDate(fromdate, todate, username, name) {
        var MyGrid = $("#Grid").data("kendoGrid");
        var arrayFilter = [];
        arrayFilter.push({ field: "StartDate", operator: "ge", value: fromdate });
        arrayFilter.push({ field: "EndDate", operator: "le", value: todate });
        arrayFilter.push({ field: "Username", operator: "eq", value: username });
        arrayFilter.push({ field: "Name", operator: "eq", value: name });
        MyGrid.dataSource.filter(arrayFilter);
        $('#divTrademarkList').removeClass('hide-kendotable');
    }

    $('#btnSearch').click(function () {
        var FromDate = $('#StartDate').val();
        var ToDate = $('#EndDate').val();
        var UserName = $('#Username').val();
        var Name = $('#Name').val();
        if (FromDate == "" || FromDate == null || ToDate == "" || ToDate == null) {
            $('#ServerError').html("Start and End date can not be empty");
        }
        else if (new Date(FromDate) > new Date(ToDate)) {
            $('#ServerError').html("Start date should not be greater than end date");
        }
        else {
            $('#divFilters').addClass('d-none');
            GetByDate(FromDate, ToDate, UserName, Name);
        }
    });

    function OnClientDetailSuccess(res) {
        $('#fetchingDataModal').modal('hide');
        if (res.ClientDetail.ClientName != "") {
            var fulladdress = [];
            var address = res.ClientDetail.Address ?? 'N/A';
            if (address !== "")
                fulladdress.push(address);
            if (res.ClientDetail.State != null && res.ClientDetail.State != "") {
                address += ', ' + res.ClientDetail.State;
                fulladdress.push(res.ClientDetail.State);
            }
            if (res.ClientDetail.Country != null && res.ClientDetail.Country != "") {
                address += ' ' + res.ClientDetail.Country;
                fulladdress.push(res.ClientDetail.Country);
            }
            if (res.ClientDetail.ZipCode != null && res.ClientDetail.ZipCode != "") {
                address += ' ' + res.ClientDetail.ZipCode;
                fulladdress.push(res.ClientDetail.ZipCode);
            }
            address = fulladdress.join();

            $('#ClientNameDetail').html(res.ClientDetail.ClientName);
            $('#ClientAddress').html(address);
            $('#ClientLegalEntity').html(res.ClientDetail.LegalEntity);
            $('#ClientState').html(res.ClientDetail.State);
            $('#ClientEmailDetail').html(res.ClientDetail.Email);
            $('#ClientPhone').html(res.ClientDetail.Phone);

            var contactContent = "<tr><td>Primary</td><td>" + res.ClientDetail.ClientName + "</td><td>" + address + "</td><td>" + res.ClientDetail.Phone + "</td><td>" + res.ClientDetail.Email + "</td></tr>";
            var trademarkContent = "";
            if (res.ClientContacts != undefined && res.ClientContacts.length > 0) {
                for (var i = 0; i < res.ClientContacts.length; i++) {
                    var contactAddress = res.ClientContacts[i].StreetAddress != "" ? res.ClientContacts[i].StreetAddress + ", " : "";
                    contactAddress = contactAddress + (res.ClientContacts[i].State != "" ? res.ClientContacts[i].State + ", " : "");
                    contactAddress = contactAddress + (res.ClientContacts[i].Country != "" ? res.ClientContacts[i].Country + ", " : "");
                    contactAddress = contactAddress + (res.ClientContacts[i].ZipCode != "" ? res.ClientContacts[i].ZipCode : "");
                    contactContent += "<tr><td>Other</td><td>" + res.ClientContacts[i].LastName + " " + res.ClientContacts[i].FirstName + "</td><td>" + contactAddress + "</td><td>" + res.ClientContacts[i].Phone + "</td><td>" + res.ClientContacts[i].Email + "</td></tr>";
                }
            }

            if (res.ClientTrademarkList != undefined && res.ClientTrademarkList.length > 0) {
                for (var i = 0; i < res.ClientTrademarkList.length; i++) {
                    trademarkContent += "<tr><td>" + res.ClientTrademarkList[i].TrademarkName + "</td><td>" + res.ClientTrademarkList[i].SerialNumber + "</td><td>" + res.ClientTrademarkList[i].ApplicationFilingDate + "</td><td>" + res.ClientTrademarkList[i].DateImported + "</td><td><a class='kww-filled-btn-sm' data-ajax='true' data-ajax-method='GET' data-ajax-begin='OnTrademarkDetailBegin' data-ajax-success='OnTrademarkDetailSuccess' href='/trademark/gettrademarkdetail?id=" + res.ClientTrademarkList[i].Id + "'><i class='far fa-file-alt'></i></a></td></tr>";
                }
            }
            $('#TblClientContacts tbody').html(contactContent);
            $('#TblClientTrademarkList tbody').html(trademarkContent);
        }
        $('#ClientDetailModal').modal('show');
    }

    function OnClientUpdateBegin() {
        $('#tmDetailModalCenter').modal('hide');
        $('#fetchingDataModal').modal('show');
    }

    function OnTrademarkDetailBegin() {
        $('#ClientDetailModal').modal('hide');
        $("#imgTrademark").attr("src", ' ');
        $('#tmDetailModalCenter').modal('hide');
        $('#fetchingDataModal').modal('show');
    }
</script>