﻿@using Kendo.Mvc.UI
@model TmManager.Trademarks.TrademarkResponseForKendo
@{
    ViewData["Title"] = "Clients";
    Layout = "~/Views/Shared/_MenuLayout.cshtml";
}

<div class="modal" id="fetchingDataModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">

            <div class="modal-body text-center">
                <i class="fas fa-pulse fa-sync-alt fa-2x"></i>
                <h4>Fetching data from system...</h4>
                <p>Retrieving trademark data from the database. This may take few seconds.</p>
                <a class="btn btn-secondary text-light" data-dismiss="modal">Cancel Action</a>
            </div>

        </div>
    </div>
</div>

<input type="hidden" id="hdnId" />
<div class="container">
    <div class="kww-sub-nav">
        <ul>
            <li class="active"><a href="/client">Search Clients</a></li>
            <li><a href="/client/useraccess">User Access Request</a></li>
            <li><a href="/client/clientlist">Client List</a></li>
        </ul>
    </div>
    <div class="row">
        <div class="col-lg-12 mb-4">
            <h2>Clients</h2>

        </div>
    </div>



    <div class="row">
        <div class="col-lg-12">
            <div class="kww-form-box col-xs p-4" id="divFilters">
                <h3 class="text-center">Search Local Database</h3>
                <p class="mt-1 px-3">Enter a USPTO trademark serial number belonging to the target client OR the client account email OR the client name to search for a client account in the local database.</p>
                <div class="col-lg-12">

                    <div class="lbltextfield">
                        <label>Trademark Serial Number</label>
                        @Html.Kendo().TextBoxFor(model => model.SerialNumber).HtmlAttributes(new { @type = "text", placeholder = "88910043" })
                    </div>

                    <div class="text-center my-3">
                        <h4> OR </h4>
                    </div>
                    <div class="lbltextfield">
                        <label>USPTO Email</label>
                        @Html.Kendo().TextBoxFor(model => model.ClientEmail).HtmlAttributes(new { @type = "text", placeholder = "user@email.com" })
                    </div>

                    
                    <div class="text-center my-3">
                        <h4> OR </h4>
                    </div>
                    <div class="lbltextfield">
                        <label for="tradeserial">USPTO Owner</label>
                        @Html.Kendo().TextBoxFor(model => model.ClientName).HtmlAttributes(new { @type = "text", placeholder = "NIU BODY INC" })
                    </div>

                    <div class="text-center my-3">
                        <h4> OR </h4>
                    </div>
                    <div class="lbltextfield">
                        <label for="tradeserial">Primary Contact Name (Last Name, First Name)</label>
                        @Html.Kendo().TextBoxFor(model => model.PrimaryName).HtmlAttributes(new { @type = "text", placeholder = "Doe, John" })
                    </div>

                </div>
                <input type="button" id="btnSearch" role="button" class="btn btn-primary btn-xl mt-5" value="Search for Client" />
                <span class="field-validation-error text-center mt-1" id="ServerError" data-valmsg-for="Password" data-valmsg-replace="true"></span>
            </div>

            <div id="divTrademarkList" class="hide-kendotable mt-4">

                <h4 class="mb-3">Search Results</h4>
                <div class="kww-custom-table">
                    @(Html.Kendo().Grid<TmManager.Trademarks.TrademarkSearchReportModel>
                    ()
                    .Name("Grid")
                    .Columns(columns =>
                    {
                        columns.Bound(c => c.Name).Title("Client Name").Width("18.5%");
                        columns.Bound(c => c.ClientEmail).Title("Primary Email").Width("18.5%");
                        columns.Bound(c => c.SerialNumber).Title("Primary Phone").Width("18.5%");
                        columns.Bound(c => c.PrimaryPhone).Title("Primary Contact").Width("18.5%");
                        columns.Bound(c => c.ImportedDate).Format("{0:yyyy.MM.dd HH:mm:ss}").Title("Date Imported").Width("18.5%");
                        columns.Bound(c => c.Id).Title("Action").ClientTemplate("<a class='kww-filled-btn-sm' data-ajax='true' data-ajax-method='GET' data-ajax-begin='OnClientDetailBegin' data-ajax-success='OnClientDetailSuccess' href='/trademark/getclientdetail?id=#=data.ClientId#'><i class='fas fa-user'></i></a>").Width("18.5%");
                    })
                    .Pageable(pager => pager
                    .Input(false)
                    .Numeric(true)
                    .Info(true)
                    .PreviousNext(true)
                    .Refresh(true)
                    )
                    //.Scrollable()
                    .AutoBind(true)
                    .Sortable()
                    .DataSource(dataSource => dataSource
                    .Ajax()
                    .PageSize(10)
                    .Read(read => read.Action("SearchClient", "Client"))
                    .ServerOperation(true)
                 ))
                </div>
            </div>
        </div>
    </div>



    <div class="modal" id="ClientDetailModal" tabindex="-1" role="dialog" aria-labelledby="tmModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <header class="row">
                        <div class="col-lg-6"><h2>USPTO Name</h2></div>
                        <div class="col-lg-6 text-right">
                            <a href="#" class="ml-2 align-middle" data-dismiss="modal">
                                <svg style="width:20px" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512.001 512.001" style="enable-background:new 0 0 512.001 512.001;" xml:space="preserve"> <g> <g> <path d="M284.286,256.002L506.143,34.144c7.811-7.811,7.811-20.475,0-28.285c-7.811-7.81-20.475-7.811-28.285,0L256,227.717 L34.143,5.859c-7.811-7.811-20.475-7.811-28.285,0c-7.81,7.811-7.811,20.475,0,28.285l221.857,221.857L5.858,477.859 c-7.811,7.811-7.811,20.475,0,28.285c3.905,3.905,9.024,5.857,14.143,5.857c5.119,0,10.237-1.952,14.143-5.857L256,284.287 l221.857,221.857c3.905,3.905,9.024,5.857,14.143,5.857s10.237-1.952,14.143-5.857c7.811-7.811,7.811-20.475,0-28.285 L284.286,256.002z" /> </g> </g> </svg>
                            </a>
                        </div>
                    </header>

                    <div class="row">
                        <div class="col-lg-4">
                            <div class="two-lbl">
                                <label class="h-lbl">USPTO Owner Name</label>
                                <label id="ClientNameDetail"></label>
                            </div>
                            <div class="two-lbl">
                                <label class="h-lbl">USPTO Owner Address</label>
                                <label id="ClientAddress"></label>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="two-lbl">
                                <label class="h-lbl">Legal Entity Type</label>
                                <label id="ClientLegalEntity"></label>
                            </div>

                            <div class="two-lbl">
                                <label class="h-lbl">State or Country Where Organized</label>
                                <label id="ClientState"></label>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="two-lbl">
                                <label class="h-lbl">USPTO/Account Email</label>
                                <label id="ClientEmailDetail"></label>
                            </div>
                            <div class="two-lbl">
                                <label class="h-lbl">USPTO/Account Phone</label>
                                <label id="ClientPhone"></label>
                            </div>
                        </div>
                    </div>

                    <hr class="border-bottom-line" />

                    <div class="row">
                        <div class="col-lg-12">
                            <h2>Account Trademarks</h2>
                            <table id="TblClientTrademarkList" class="w-100">
                                <thead>
                                    <tr>
                                        <th class="py-2" style="width:23%">Trademark Name</th>
                                        <th style="width:23%">Serial Number</th>
                                        <th style="width:23%">Application Filing Date</th>
                                        <th style="width:23%">Date Imported</th>
                                        <th style="width:15%">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <hr class="border-bottom-line" />
                    <div class="row">
                        <div class="col-lg-12">
                            <h2>Contacts</h2>
                            <table id="TblClientContacts" class="w-100">
                                <thead>
                                    <tr>
                                        <th class="py-2" style="width:10%">Type</th>
                                        <th style="width:15%">Name</th>
                                        <th style="width:35%">Address</th>
                                        <th style="width:20%">Phone</th>
                                        <th style="width:25%">Email</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="modal" id="tmDetailModalCenter" tabindex="-1" role="dialog" aria-labelledby="tmModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
            <div class="modal-content">
                <partial name="TrademarkDetailsPartial" />
            </div>
        </div>
    </div>
    @* Trademark detail model end *@
</div>

<script>
    $('.kww-main-nav ul').find('li').removeClass('active');
    $('#navClient').parent().addClass('active');

    function GetByDate(serialNumber, clientEmail, clientName,primaryName) {
        var MyGrid = $("#Grid").data("kendoGrid");
        var arrayFilter = [];
        arrayFilter.push({ field: "SerialNumber", operator: "eq", value: serialNumber });
        arrayFilter.push({ field: "ClientEmail", operator: "eq", value: clientEmail });
        arrayFilter.push({ field: "ClientName", operator: "eq", value: clientName });
        arrayFilter.push({ field: "PrimaryName", operator: "eq", value: primaryName });
        MyGrid.dataSource.filter(arrayFilter);
        $('#divTrademarkList').removeClass('hide-kendotable');
    }

    $('#btnSearch').click(function () {
        var SerialNumber = $('#SerialNumber').val();
        var ClientEmail = $('#ClientEmail').val();
        var ClientName = $('#ClientName').val();
        var primaryName = $('#PrimaryName').val();
        if (SerialNumber != "" || ClientEmail != "" || ClientName != "" || primaryName != "") {
            $('#divFilters').addClass('d-none');
            GetByDate(SerialNumber, ClientEmail, ClientName, primaryName);
        } else {
            $('#ServerError').html("At least one field is required");
        }
    });
    $('#btnCancel').click(function () {
        $('#divTrademarkList').addClass('hide-kendotable');
        $('#divFilters').removeClass('d-none');
    });

    function OnClientDetailBegin() {
        $('#fetchingDataModal').modal('show');
    }

    function OnClientDetailSuccess(res) {
        $('#fetchingDataModal').modal('hide');
        if (res.ClientDetail.ClientName != "") {
            var fulladdress = [];
            var address = res.ClientDetail.Address ?? 'N/A';
            if (address !== "")
                fulladdress.push(address);
            if (res.ClientDetail.State != null && res.ClientDetail.State != "") {
                address += ', ' + res.ClientDetail.State;
                fulladdress.push(res.ClientDetail.State);
            }
            if (res.ClientDetail.Country != null && res.ClientDetail.Country != "") {
                address += ' ' + res.ClientDetail.Country;
                fulladdress.push(res.ClientDetail.Country);
            }
            if (res.ClientDetail.ZipCode != null && res.ClientDetail.ZipCode != "") {
                address += ' ' + res.ClientDetail.ZipCode;
                fulladdress.push(res.ClientDetail.ZipCode);
            }
            address = fulladdress.join();
            $('#ClientNameDetail').html(res.ClientDetail.ClientName);
            $('#ClientAddress').html(address);
            $('#ClientLegalEntity').html(res.ClientDetail.LegalEntity);
            $('#ClientState').html(res.ClientDetail.State);
            $('#ClientEmailDetail').html(res.ClientDetail.Email);
            $('#ClientPhone').html(res.ClientDetail.Phone);

            var contactContent = "<tr><td>Primary</td><td>" + res.ClientDetail.ClientName + "</td><td>" + address + "</td><td>" + res.ClientDetail.Phone + "</td><td>" + res.ClientDetail.Email + "</td></tr>";
            var trademarkContent = "";
            if (res.ClientContacts != undefined && res.ClientContacts.length > 0) {
                for (var i = 0; i < res.ClientContacts.length; i++) {
                    var contactAddress = res.ClientContacts[i].StreetAddress != "" ? res.ClientContacts[i].StreetAddress + ", " : "";
                    contactAddress = contactAddress + (res.ClientContacts[i].State != "" ? res.ClientContacts[i].State + ", " : "");
                    contactAddress = contactAddress + (res.ClientContacts[i].Country != "" ? res.ClientContacts[i].Country + ", " : "");
                    contactAddress = contactAddress + (res.ClientContacts[i].ZipCode != "" ? res.ClientContacts[i].ZipCode : "");
                    contactContent += "<tr><td>Other</td><td>" + res.ClientContacts[i].LastName + " " + res.ClientContacts[i].FirstName + "</td><td>" + contactAddress+ "</td><td>" + res.ClientContacts[i].Phone + "</td><td>" + res.ClientContacts[i].Email + "</td></tr>";
                }
            }

            if (res.ClientTrademarkList != undefined && res.ClientTrademarkList.length > 0) {
                for (var i = 0; i < res.ClientTrademarkList.length; i++) {
                    trademarkContent += "<tr><td>" + res.ClientTrademarkList[i].TrademarkName + "</td><td>" + res.ClientTrademarkList[i].SerialNumber + "</td><td>" + res.ClientTrademarkList[i].ApplicationFilingDate + "</td><td>" + res.ClientTrademarkList[i].DateImported + "</td><td><a class='kww-filled-btn-sm' data-ajax='true' data-ajax-method='GET' data-ajax-begin='OnTrademarkDetailBegin' data-ajax-success='OnTrademarkDetailSuccess' href='/trademark/gettrademarkdetail?id=" + res.ClientTrademarkList[i].Id + "'><i class='far fa-file-alt'></i></a></td></tr>";
                }
            }
            $('#TblClientContacts tbody').html(contactContent);
            $('#TblClientTrademarkList tbody').html(trademarkContent);
        }
        $('#ClientDetailModal').modal('show');
    }

    function OnClientUpdateBegin() {
        $('#tmDetailModalCenter').modal('hide');
        $('#fetchingDataModal').modal('show');
    }

    function OnTrademarkDetailBegin() {
        $('#ClientDetailModal').modal('hide');
        $("#imgTrademark").attr("src", ' ');
        $('#tmDetailModalCenter').modal('hide');
        $('#fetchingDataModal').modal('show');
    }

</script>