﻿@using Kendo.Mvc.UI
@model TmManager.AccountRequests.AccountRequestForKendo
@{
    ViewData["Title"] = "Clients";
    Layout = "~/Views/Shared/_MenuLayout.cshtml";
}

<div class="container">
    <div class="kww-sub-nav">
        <ul>
            <li><a href="/client">Search Clients</a></li>
            <li class="active"><a href="/client/useraccess">User Access Request</a></li>
            <li><a href="/client/clientlist">Client List</a></li>
        </ul>
    </div>
    <div class="row">
        <div class="col-lg-12 mb-4">
            <h2>User Access Requests</h2>
        </div>
    </div>


    <div class="row">
        <div class="col-lg-12">
            <div class="kww-custom-table">
                @(Html.Kendo().Grid<TmManager.AccountRequests.AccountRequestForKendo>
                ()
                .Name("grid")
                .EnableCustomBinding(true)
                .Columns(columns =>
                {
                    columns.Bound(c => c.Name).Width("20%").Title("First Name");
                    columns.Bound(c => c.Email).Width("20%").Title("Email");
                    columns.Bound(c => c.Company).Width("20%").Title("Company Name");
                    columns.Bound(c => c.TrademarkName).Width("20%").Title("Trademark Name");
                    columns.Bound(c => c.Created).Format("{0:MM/dd/yyyy}").Width("20%").Title("Requested Date");
                })
                .Pageable(pager => pager
                .Input(false)
                .Numeric(true)
                .Info(true)
                .PreviousNext(true)
                .Refresh(true)
                )
                .Scrollable()
                .AutoBind(true)
                .HtmlAttributes(new { style = "height:100%;" })
                .DataSource(dataSource => dataSource
                .Ajax()
                .PageSize(10)
                .Read(read => read.Action("SearchAccountRequestsList", "Client"))
                .ServerOperation(true)
                ))
            </div>
        </div>
    </div>
</div>

<script>
    $('.kww-main-nav ul').find('li').removeClass('active');
    $('#navClient').parent().addClass('active');
</script>