﻿@model TmManager.Attorneys.RecognizedAttorneyRequestModel
@{
    ViewData["Title"] = "Configure";
    Layout = "~/Views/Shared/_MenuLayout.cshtml";
}


<div class="modal fade" id="DeleteModal" tabindex="-1" role="dialog" aria-labelledby="cancelModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body p-4">
                <div class="text-center">
                    <img src="~/images/Alerticon.png" />
                    <h3>Delete Canceled</h3>
                    <p>Are you sure you want to delete?</p>
                </div>
                <footer class="mt-4 text-center">
                    <input type="button" class="btn btn-primary" id="btnDeleteAttorney" value="Yes" />
                    <input type="button" class="btn btn-primary" data-dismiss="modal" value="No" />
                </footer>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="kww-sub-nav">
        <ul>
            <li><a href="/configure">Admin Users</a></li>
            <li class="active"><a href="/configure/attorneyofrecord">Attorney of Record</a></li>
        </ul>
    </div>

    <input type="hidden" id="hdnId"/>

    <div class="row">
        <div class="col-lg-12 mb-4">
            <h2>Attorney of Record</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <h3 class="text-center mb-4">Recognized Attorneys of Record</h3>
            <div class="DateRangeDiv">

                <div class="row d-flex align-items-center mb-3">
                    <div class="col-lg-9">
                        <h4 class="m-0">Add Additional Attorneys</h4>
                        <p>Enter the name and email for additional attorneys of record.</p>
                    </div>
                    <div class="col-lg-3 text-right">
                        <button class="btn btn-success add-contract-btn" data-toggle="modal" onclick="ChangeBtnText('Add')" data-target="#addContactModalCenter"><i class="fas fa-plus"></i> Add Attorney</button>
                    </div>
                </div>

                <div class="kww-custom-table">
                    <h4>Attorney List</h4>
                    @(Html.Kendo().Grid<TmManager.Attorney.SearchRecognizedAttorneyReportModel>
                    ()
                    .Name("Grid")
                    .Columns(columns =>
                    {
                        columns.Bound(c => c.Name).Title("Name").Width("30%");
                        columns.Bound(c => c.Email).Title("Email").Width("50%");
                        columns.Bound(c => c.Id).Title("&nbsp").ClientTemplate("<a class='kww-filled-btn-sm kww-btn-pd mr-2' data-ajax='true' data-ajax-method='GET' data-ajax-begin='OnAttorneyDetailBegin' data-ajax-success='OnAttorneyDetailSuccess' href='/configure/getrecognizedattorney?email=#=data.Email#'>Edit</a><a class='btn btn-danger kww-btn-pd text-decoration-none' data-ajax='true' data-ajax-method='GET' data-ajax-begin='OnAttorneyDeleteBegin' id='#=data.Id#'>Delete</a>").Width("20%");
                    })
                    .Pageable(pager => pager
                    .Input(false)
                    .Numeric(true)
                    .Info(true)
                    .PreviousNext(true)
                    .Refresh(true))
                    .AutoBind(true)
                    .Sortable()
                    .DataSource(dataSource => dataSource
                    .Ajax()
                    .PageSize(10)
                    .Read(read => read.Action("GetRecognizedAttorneys", "Configure"))
                    .ServerOperation(true)
                 ))
                </div>

                <div class="modal fade" id="addContactModalCenter" tabindex="-1" role="dialog" aria-labelledby="cancelModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-body p-4">
                                <div class="text-center">
                                    <h3>Add Attorney of Record</h3>
                                </div>
                                <form class="formWrapper" method="post" asp-action="saverecognizedattorney" asp-controller="configure" data-ajax="true" data-ajax-success="OnSuccessSave" novalidate>
                                    @Html.HiddenFor(x => x.Id)
                                    <div class="form-group">
                                        <label for="exampleFormControlInput1">Name <span class="text-danger">*</span> </label>
                                        @*<input type="email" class="form-control" id="exampleFormControlInput1">*@
                                        <input asp-for="Name" autocomplete="off" placeholder="Enter name" class="form-control" />
                                        <span id="NameError" asp-validation-for="Name" class="emailError"></span>
                                    </div>
                                    <div class="form-group">
                                        <label for="exampleFormControlInput1">Email <span class="text-danger">*</span></label>
                                        <input asp-for="Email" autocomplete="off" placeholder="Enter name" class="form-control" />
                                        <span id="EmailError" asp-validation-for="Email" class="emailError"></span>
                                        @*<input type="email" class="form-control" id="exampleFormControlInput1">*@
                                    </div>
                                    <footer class="row mt-4">
                                        <div class="col-6"><input type="button" class="btn btn-danger w-100" data-toggle="modal" data-dismiss="modal" data-target="#cancelModalCenter" value="Cancel" /></div>
                                        <div class="col-6">
                                            <input type="submit" id="AddEditContact" class="btn btn-success w-100" value="Add Contact" />
                                        </div>
                                    </footer>
                                </form>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="modal fade" id="cancelModalCenter" tabindex="-1" role="dialog" aria-labelledby="cancelModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-body p-4">
                                <div class="text-center">
                                    <img src="~/images/Alerticon.png" />
                                    <h3>Operation Canceled</h3>
                                    <p>No data was changed in the system.</p>
                                </div>
                                <footer class="mt-4 text-center">
                                    <button type="button" class="btn btn-primary" data-dismiss="modal">continue</button>
                                </footer>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal fade" id="SuccessModal" tabindex="-1" role="dialog" aria-labelledby="cancelModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-body p-4">
                                <div class="text-center">
                                    <img src="~/images/thumsUp.png" />
                                    <h3>Success!</h3>
                                    <p id="SuccessContactText"></p>
                                </div>
                                <footer class="mt-4 text-center">
                                    <button type="button" class="btn btn-success" data-dismiss="modal">continue</button>
                                </footer>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<script>
    $('.kww-main-nav ul').find('li').removeClass('active');
    $('#navConfigure').parent().addClass('active');

    function ChangeBtnText(data, id) {
        if (data == "Add") {
            $('#NameError,#EmailError').html('');
            $('#Id').val('');
            $('#Name').val('');
            $('#Email').val('');
            $('#AddEditContact').val('Add Attorney');
            $('#SuccessContactText').html('A new attorney of record was added.');
        }
    }

    function OnAttorneyDetailBegin(res) {
        $('#NameError,#EmailError').html('');
        $('#AddEditContact').val('Update Attorney');
        $('#SuccessContactText').html('Attorney of record was updated!');
    }
    function OnAttorneyDetailSuccess(res) {
        $('#addContactModalCenter').modal('show');
        $('#Id').val(res.Id);
        $('#Name').val(res.Name);
        $('#Email').val(res.Email);
    }

    function OnAttorneyDeleteBegin(res) {
        $('#DeleteModal').modal('show');
        $('#hdnId').val($(this).attr('id'));
    }

    $(document).on('click', '#btnDeleteAttorney', function () {
        var id = $('#hdnId').val();
        $.ajax(
            {
                type: 'POST',
                url: '/configure/deleterecognizedattorney',
                data: "id=" + id,
                success: function (data) {
                    if (data.IsSuccess) {
                        var MyGrid = $("#Grid").data("kendoGrid");
                        var arrayFilter = [];
                        MyGrid.dataSource.filter(arrayFilter);
                    }
                },
                error: function (error) {
                    console.log(error);
                    //$('#fetchingDataModal').modal('hide');
                }
            }
        );
        $('#DeleteModal').modal('hide');
    });
    

    function OnSuccessSave(res) {
        $('#NameError,#EmailError').html('');
        if (res.Errors != undefined && res.Errors.length > 0) {
            for (var i = 0; i < res.Errors.length; i++) {
                if (res.Errors[i] == "Attorney Name field is required") {
                    $('#NameError').html(res.Errors[i]);
                }
                if (res.Errors[i] == "Primary Email field is required") {
                    $('#EmailError').html(res.Errors[i]);
                }
                else {
                    $('#EmailError').html(res.Errors[i]);
                }
            }
        } else {
            $('#Name').val('');
            $('#Email').val('');
            var MyGrid = $("#Grid").data("kendoGrid");
            var arrayFilter = [];
            MyGrid.dataSource.filter(arrayFilter);
            $('#addContactModalCenter').modal('hide');
            $('#SuccessModal').modal('show');
        }
    }
</script>
