﻿@model TmManager.Admin.AdminUserModel
@{
    ViewData["Title"] = "Configure";
    Layout = "~/Views/Shared/_MenuLayout.cshtml";
}


<div class="container">
    <div class="kww-sub-nav">
        <ul>
            <li class="active"><a href="/configure">Admin Users</a></li>
            <li><a href="/configure/attorneyofrecord">Attorney of Record</a></li>
        </ul>
    </div>

    <div class="row">
        <div class="col-lg-12 mb-4">
            <h2>Configure</h2>
        </div>
    </div>
    <div class="row d-flex align-items-center mb-4">
        <div class="col-lg-6">
            <h4 class="m-0">Add Additional Admin Users</h4>
            <p class="m-0">Create an admin user.</p>
        </div>
        <div class="col-lg-6 text-right">
            <button class="btn btn-success add-contract-btn" data-toggle="modal" onclick="ChangeBtnText('Add')" data-target="#addContactModalCenter"><i class="fas fa-plus"></i> Add Admin User</button>
        </div>
    </div>

    <input type="hidden" id="hdnDeleteId" />
    <h4>Current Admin Users</h4>
    <div class="kww-custom-table">
        @(Html.Kendo().Grid<TmManager.Admin.SearchAdminReportModel>
                    ()
                    .Name("Grid")
                    .Columns(columns =>
                    {
                        columns.Bound(c => c.Username).Title("Username").Width("25%");
                        columns.Bound(c => c.Email).Title("Email").Width("25%");
                        columns.Bound(c => c.Created).Title("Date Created").Width("25%");
                        //columns.Bound(c => c.Id).Title("Action").Sortable(false).Width("25%");
                        columns.Bound(x => x.Id).Title("Action").Width("8%").ClientTemplate("<a class='kww-filled-btn-sm' href='/admin/resetpasswordforadmin?id=#=data.Id#'><i class='fa fa-key'></i></a> <a class='kww-filled-btn-sm' type=button onclick=ConfirmDelete('#=data.Id#');><i class='fa fa-trash'></i></a>");
                        // columns.Bound(c => c.Id).Title("Action").ClientTemplate("<a class='kww-filled-btn-sm' data-ajax='true' data-ajax-method='GET' data-ajax-begin='OnTrademarkDetailBegin' data-ajax-success='OnTrademarkDetailSuccess' href='/trademark/gettrademarkdetail?id=#=data.Id#'><img src='../images/icon_assign.png' /></a>").Width("10%");
                    })
                    .Pageable(pager => pager
                    .Input(false)
                    .Numeric(true)
                    .Info(true)
                    .PreviousNext(true)
                    .Refresh(true))
                    .AutoBind(true)
                    .Sortable()
                    .DataSource(dataSource => dataSource
                    .Ajax()
                    .PageSize(10)
                    .Read(read => read.Action("GetUsers", "Admin"))
                    .ServerOperation(true)
                 ))
    </div>
    <div class="modal" id="changePasswordmodal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">

                <div class="modal-body text-center">
                    <div class="form-group">
                        <label for="exampleInputPassword1">New Password <span class="text-danger">*</span></label>
                        <input id="txtpassword" autocomplete="off" placeholder="Password" autofocus class="form-control" type="password" />
                        <span asp-validation-for="Password" class=""></span>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Confirm Password <span class="text-danger">*</span></label>
                        <input id="cnfpassword" autocomplete="off" placeholder="Password" autofocus class="form-control" type="password" />
                        <span asp-validation-for="Password" class=""></span>
                    </div>
                    <a class="btn btn-primary text-light">Save</a>
                    <a class="btn btn-secondary text-light" data-dismiss="modal">Cancel</a>
                </div>

            </div>
        </div>
    </div>
    <div class="modal fade" id="addContactModalCenter" tabindex="-1" role="dialog" aria-labelledby="cancelModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body p-4">
                    <div class="text-center">
                        <h3>Add Admin User</h3>
                    </div>
                    <form class="formWrapper" method="post" asp-action="saveadmin" asp-controller="configure" data-ajax="true" data-ajax-success="OnSuccessSave" novalidate>
                        @Html.HiddenFor(x => x.Id)
                        <div class="form-group">
                            <label for="exampleFormControlInput1">Name <span class="text-danger">*</span> </label>
                            <input asp-for="Name" autocomplete="off" placeholder="Enter name" class="form-control" />
                            <span id="NameError" asp-validation-for="Name" class="emailError"></span>
                        </div>
                        <div class="form-group">
                            <label for="exampleFormControlInput1">Email <span class="text-danger">*</span></label>
                            <input asp-for="Email" autocomplete="off" placeholder="Enter name" class="form-control" />
                            <span id="EmailError" asp-validation-for="Email" class="emailError"></span>
                        </div>
                        <div class="form-group">
                            <label for="exampleFormControlInput1">Password <span class="text-danger">*</span></label>
                            <input asp-for="Password" autocomplete="off" placeholder="Enter password" type="password" class="form-control" />
                            <span id="PasswordError" asp-validation-for="Password" class="emailError"></span>
                        </div>
                        <footer class="row mt-4">
                            <div class="col-6"><input type="button" class="btn btn-danger w-100" data-toggle="modal" data-dismiss="modal" data-target="#cancelModalCenter" value="Cancel" /></div>
                            <div class="col-6">
                                <input type="submit" id="AddEditContact" class="btn btn-success w-100" value="Add Admin" />
                            </div>
                        </footer>
                    </form>
                </div>

            </div>
        </div>
    </div>

    <div class="modal fade" id="cancelModalCenter" tabindex="-1" role="dialog" aria-labelledby="cancelModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body p-4">
                    <div class="text-center">
                        <img src="~/images/Alerticon.png" />
                        <h3>Operation Canceled</h3>
                        <p>No data was changed in the system.</p>
                    </div>
                    <footer class="mt-4 text-center">
                        <button type="button" class="btn btn-primary" data-dismiss="modal">continue</button>
                    </footer>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="SuccessModal" tabindex="-1" role="dialog" aria-labelledby="cancelModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body p-4">
                    <div class="text-center">
                        <img src="~/images/thumsUp.png" />
                        <h3>Success!</h3>
                        <p id="SuccessContactText"></p>
                    </div>
                    <footer class="mt-4 text-center">
                        <button type="button" class="btn btn-success" data-dismiss="modal">continue</button>
                    </footer>
                </div>
            </div>
        </div>
    </div>
    <div class="modal" id="tmDetailModalCenter" tabindex="-1" role="dialog" aria-labelledby="tmModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <header class="row">
                        <div class="col-lg-6"><h2>Client Name</h2></div>
                        <div class="col-lg-6 text-right">
                            <span class="ml-2 align-middle" data-dismiss="modal">
                                <svg style="width:20px" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512.001 512.001" style="enable-background:new 0 0 512.001 512.001;" xml:space="preserve"> <g> <g> <path d="M284.286,256.002L506.143,34.144c7.811-7.811,7.811-20.475,0-28.285c-7.811-7.81-20.475-7.811-28.285,0L256,227.717 L34.143,5.859c-7.811-7.811-20.475-7.811-28.285,0c-7.81,7.811-7.811,20.475,0,28.285l221.857,221.857L5.858,477.859 c-7.811,7.811-7.811,20.475,0,28.285c3.905,3.905,9.024,5.857,14.143,5.857c5.119,0,10.237-1.952,14.143-5.857L256,284.287 l221.857,221.857c3.905,3.905,9.024,5.857,14.143,5.857s10.237-1.952,14.143-5.857c7.811-7.811,7.811-20.475,0-28.285 L284.286,256.002z" /> </g> </g> </svg>
                            </span>
                        </div>
                    </header>

                    <div class="row">
                        <div class="col-lg-4">
                            <div class="two-lbl">
                                <label class="h-lbl">Client Name</label>
                                <label>Big Chino and Sons Outfitting LLC</label>
                            </div>
                            <div class="two-lbl">
                                <label class="h-lbl">Client Address</label>
                                <label>1403 Pinion Shadow Dr Prescott, ARIZONA UNITED STATES 86305</label>
                            </div>

                        </div>
                        <div class="col-lg-4">
                            <div class="two-lbl">
                                <label class="h-lbl">Legal Entity Type</label>
                                <label>LIMITED LIABILITY COMPANY</label>
                            </div>
                            <div class="two-lbl">
                                <label class="h-lbl">State or Country Where Organized</label>
                                <label>ARIZONA</label>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="two-lbl">
                                <label class="h-lbl">Primary Email</label>
                                <label id="PrimaryEmail">user@acme.com</label>
                            </div>
                            <div class="two-lbl">
                                <label class="h-lbl">Primary Phone</label>
                                <label id="PrimaryPhone">(734) 777-0000</label>
                            </div>
                        </div>


                    </div>

                    <hr class="border-bottom-line" />
                    <div class="row">
                        <div class="col-lg-12">
                            <h2>Account Trademarks</h2>
                            <table id="AccountTrademarks" class="w-100">
                                <thead>
                                    <tr>
                                        <th class="py-2" style="width:23%">Trademark Name</th>
                                        <th style="width:23%">Serial Number</th>
                                        <th style="width:23%">Application Filing Date</th>
                                        <th style="width:23%">Date Imported</th>
                                        <th style="width:15%">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Three Ships</td>
                                        <td>88910043</td>
                                        <td>2020.05.11</td>
                                        <td>2021.01.15</td>
                                        <td><a class='kww-filled-btn-sm' data-ajax='true' data-ajax-method='GET' data-ajax-begin='OnTrademarkDetailBegin' data-ajax-success='OnTrademarkDetailSuccess' href='/trademark/gettrademarkdetail?id=#=data.Id#'><i class='far fa-file-alt'></i></a></td>
                                    </tr>
                                    <tr>
                                        <td>Three Ships</td>
                                        <td>88910043</td>
                                        <td>2020.05.11</td>
                                        <td>2021.01.15</td>
                                        <td><a class='kww-filled-btn-sm' data-ajax='true' data-ajax-method='GET' data-ajax-begin='OnTrademarkDetailBegin' data-ajax-success='OnTrademarkDetailSuccess' href='/trademark/gettrademarkdetail?id=#=data.Id#'><i class='far fa-file-alt'></i></a></td>
                                    </tr>
                                    <tr>
                                        <td>Three Ships</td>
                                        <td>88910043</td>
                                        <td>2020.05.11</td>
                                        <td>2021.01.15</td>
                                        <td><a class='kww-filled-btn-sm' data-ajax='true' data-ajax-method='GET' data-ajax-begin='OnTrademarkDetailBegin' data-ajax-success='OnTrademarkDetailSuccess' href='/trademark/gettrademarkdetail?id=#=data.Id#'><i class='far fa-file-alt'></i></a></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <hr class="border-bottom-line" />


                    <div class="row">
                        <div class="col-lg-12">
                            <h2>Contacts</h2>
                            <table id="AccountTrademarks" class="w-100">
                                <thead>
                                    <tr>
                                        <th class="py-2" style="width:12%">Type</th>
                                        <th style="width:25%">Name</th>
                                        <th style="width:25%">Address</th>
                                        <th style="width:25%">Phone</th>
                                        <th style="width:25%">Email</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Primary</td>
                                        <td>Smith, John</td>
                                        <td>1403 Pinion Shadow Dr Prescott, AZ 12345</td>
                                        <td>(734) 777-0000 (Office)</td>
                                        <td>user@acme.com</td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal" id="tmDetailModalCenter" tabindex="-1" role="dialog" aria-labelledby="tmModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <header class="d-flex justify-content-between">
                        <div>
                            <h2 id="TrademarkName"></h2>
                        </div>
                        <div>
                            <a href="" data-ajax="true" data-ajax-method="POST" data-ajax-begin="OnTrademarkUpdateBegin" data-ajax-success="OnTrademarkDetailSuccess" style="z-index:1000;" class="btn btn-success btn-sm py-2 text-decoration-none" id="btnUpdateUSPTO"><img class="mr-2" src="~/images/Icon-reupdate.png" /> <span>Update TM from USPTO</span></a>
                            <a href="" class="ml-2 align-middle" data-dismiss="modal">
                                <svg style="width:20px" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512.001 512.001" style="enable-background:new 0 0 512.001 512.001;" xml:space="preserve"> <g> <g> <path d="M284.286,256.002L506.143,34.144c7.811-7.811,7.811-20.475,0-28.285c-7.811-7.81-20.475-7.811-28.285,0L256,227.717 L34.143,5.859c-7.811-7.811-20.475-7.811-28.285,0c-7.81,7.811-7.811,20.475,0,28.285l221.857,221.857L5.858,477.859 c-7.811,7.811-7.811,20.475,0,28.285c3.905,3.905,9.024,5.857,14.143,5.857c5.119,0,10.237-1.952,14.143-5.857L256,284.287 l221.857,221.857c3.905,3.905,9.024,5.857,14.143,5.857s10.237-1.952,14.143-5.857c7.811-7.811,7.811-20.475,0-28.285 L284.286,256.002z" /> </g> </g> </svg>
                            </a>
                        </div>
                    </header>
                    <div class="row">
                        <div class="col-lg-12 my-2">
                            <div class="head-box text-center">
                                <p class="mb-0" id="CurrentStatus"></p>
                                <small>USPTO approves trademark and publishes it for opposition.</small>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="two-lbl">
                                <label class="h-lbl">Mark</label>
                                <label class="TrademarkElement"></label>
                            </div>

                            <div class="two-lbl">
                                <label class="h-lbl">US Serial Number</label>
                                <label id="SerialNumber"></label>
                            </div>

                            <div class="two-lbl">
                                <label class="h-lbl">Register</label>
                                <label>Principal</label>
                            </div>

                            <div class="two-lbl">
                                <label class="h-lbl">Mark Type</label>
                                <label>Service Mark</label>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="two-lbl">
                                <label class="h-lbl">Last Updated USPTO</label>
                                <label>2021-02-24 06:39:10 EST</label>
                            </div>

                            <div class="two-lbl">
                                <label class="h-lbl">Application Filing Date</label>
                                <label id="FilingDate"></label>
                            </div>

                            <div class="two-lbl">
                                <label class="h-lbl">Status Date</label>
                                <label id="StatusDate"></label>
                            </div>
                            <div class="two-lbl">
                                <label class="h-lbl">Publication Date</label>
                                <label id="PublicationDate"></label>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="two-lbl">
                                <label class="h-lbl">TM5 Common Status</label>
                                <label id="tm5StatusDescription"></label>
                            </div>
                            <div class="two-lbl">
                                <label class="h-lbl">Status</label>
                                <label id="ExternalStatusDescription"></label>
                            </div>
                            <div class="two-lbl">
                                <label class="h-lbl">Descriptor</label>
                                <label id="statusDefination"></label>
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <img id="imgTrademark" class="w-100" src="" />
                        </div>

                    </div>

                    <hr class="border-bottom-line" />
                    <div>
                        <h2>Registration Declaration/Renewal Due Dates</h2>
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="two-lbl">
                                    <label class="h-lbl">Earliest date to file</label>
                                    <label>Mar, 02 2026</label>
                                </div>
                            </div>

                            <div class="col-lg-4">
                                <div class="two-lbl">
                                    <label class="h-lbl">Lastest date to file without fee</label>
                                    <label>Mar, 02 2027</label>
                                </div>
                            </div>

                            <div class="col-lg-4">
                                <div class="two-lbl">
                                    <label class="h-lbl">Lastest date to file with fee</label>
                                    <label>Sep, 02 2027</label>
                                </div>
                            </div>
                        </div>
                    </div>



                    <hr class="border-bottom-line" />
                    <div class="row">
                        <div class="col-lg-6">
                            <h2>Prosecution History</h2>
                            <table id="ProsecutionHistory" class="w-100">
                                <thead>
                                    <tr>
                                        <th class="py-2" style="width:20%">Date</th>
                                        <th>Description</th>
                                        <th>Proc.Num</th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                        <div class="col-lg-6">
                            <h4 class="m56top">Documents @*(<span id="DocumentCount"></span>)*@</h4>
                            <table class="w-100" id="DocumentUrl">
                                <thead>
                                    <tr>
                                        <th class="py-2">Date</th>
                                        <th>Description</th>
                                        <th>Type</th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <hr class="border-bottom-line" />

                    <div class="row">
                        <div class="col-lg-6">
                            <h1 class="color-primary">Mark Information</h1>
                            <div class="two-lbl">
                                <label class="h-lbl">Mark Literal Elements</label>
                                <label class="TrademarkElement"></label>
                            </div>

                            <div class="two-lbl">
                                <label class="h-lbl">Standard Character Claim</label>
                                <label class="IsStandard"></label>
                            </div>
                            <div class="two-lbl">
                                <label class="h-lbl">Standard Character Claim</label>
                                <label class="IsStandard">No</label>
                            </div>
                            <div class="two-lbl">
                                <label class="h-lbl">Description of Mark</label>
                                <label class="DescriptionOfMark">No</label>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="two-lbl">
                                <label class="h-lbl">Description of Mark</label>
                                <label class="TrademarkElement"></label>
                            </div>
                            <div class="two-lbl">
                                <label class="h-lbl">Design Search Code(s)</label>
                                <table id="DesignSearch">
                                    <tbody></tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                    <hr class="border-bottom-line" />

                    <div class="row">
                        <div class="col-lg-3">
                            <h1 class="color-primary">Current Owner</h1>
                            <div id="CurrentOwner">
                                <div class="two-lbl">
                                    <label class="h-lbl">Owner Name</label>
                                    <label id="OwnerName"></label>
                                </div>
                                <div class="two-lbl">
                                    <label class="h-lbl">Owner Address</label>
                                    <label id="OwnerAddress"></label>
                                </div>
                                <div class="two-lbl">
                                    <label class="h-lbl">Legal Entity Type</label>
                                    <label id="OwnerEntityType"></label>
                                </div>
                                <div class="two-lbl">
                                    <label class="h-lbl">State or Country where Organized</label>
                                    <label id="OwnerState"></label>
                                </div>
                            </div>

                            <h1 class="color-primary">Basis Information</h1>

                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="two-lbl">
                                        <label class="h-lbl">Filed Use</label>
                                        <label id="IsFileUsed"></label>
                                    </div>
                                    <div class="two-lbl">
                                        <label class="h-lbl">Filed ITU</label>
                                        <label id="IsFiledItu"></label>
                                    </div>
                                    <div class="two-lbl">
                                        <label class="h-lbl">Filed 44D</label>
                                        <label id="IsFile44D"></label>
                                    </div>
                                    <div class="two-lbl">
                                        <label class="h-lbl">Filed 44E</label>
                                        <label id="IsFile44E"></label>
                                    </div>
                                    <div class="two-lbl">
                                        <label class="h-lbl">Filed 66A</label>
                                        <label id="IsFile66A"></label>
                                    </div>
                                    <div class="two-lbl">
                                        <label class="h-lbl">Filed No Basis</label>
                                        <label id="IsFileNoBasis"></label>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="two-lbl">
                                        <label class="h-lbl">Currently Use</label>
                                        <label id="IsCurrentUse"></label>
                                    </div>
                                    <div class="two-lbl">
                                        <label class="h-lbl">Currently ITU</label>
                                        <label id="IsCurrentItu"></label>
                                    </div>
                                    <div class="two-lbl">
                                        <label class="h-lbl">Currently 44E</label>
                                        <label id="IsCurrent44E"></label>
                                    </div>
                                    <div class="two-lbl">
                                        <label class="h-lbl">Currently 66A</label>
                                        <label id="IsCurrent66A"></label>
                                    </div>
                                    <div class="two-lbl">
                                        <label class="h-lbl">Currently No Basis</label>
                                        <label id="IsCurrentNoBasis"></label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <h1 class="color-primary">Goods and Services</h1>
                            <div class="small-txt">
                                <p>
                                    The following symbols indicate that the registrant/ owner has amended the goods/sevices.
                                </p>
                                <ul>
                                    <li>Brackets [..] indicate deleted goods/services;</li>
                                    <li>Double parenthesis ((..)) identify any goods/services not claimed in a Section 15 affidavit of incontestability; and</li>
                                    <li>Asterisks *..* identify additional (new) wording in the goods/services.</li>
                                </ul>

                            </div>
                            <div class="two-lbl">
                                <label class="h-lbl">For</label>
                                <label>Recreational services in the nature of hiking, camping, and hunting guide and training services provided by a big game outfitter</label>
                            </div>
                            <div class="two-lbl">
                                <label class="h-lbl">International Class(es)</label>
                                <label id="PrimeClassCode"></label>
                            </div>
                            <div class="two-lbl">
                                <label class="h-lbl">Class Status</label>
                                <label id="StatusDescription"></label>
                            </div>
                            <div class="two-lbl">
                                <label class="h-lbl">Basis</label>
                                <label>1(a)</label>
                            </div>
                            <div class="two-lbl">
                                <label class="h-lbl">First Use</label>
                                <label id="FirstUse"></label>
                            </div>
                            <div class="two-lbl">
                                <label class="h-lbl">U.S Class(es)</label>
                                <label id="UsClasses"></label>
                            </div>
                            <div class="two-lbl">
                                <label class="h-lbl">Use in Commerce</label>
                                <label id="UseInCommerce"></label>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <h1 class="color-primary">Attorney Information</h1>
                            <p>Attorney of Record</p>

                            <div class="two-lbl">
                                <label class="h-lbl">Attorney Name</label>
                                <label id="AttorneyName"></label>
                            </div>

                            <div class="two-lbl">
                                <label class="h-lbl">Attorney Email</label>
                                <label id="AttorneyEmail"></label>
                            </div>
                            <div class="two-lbl">
                                <label class="h-lbl">Attorney Email Authorized</label>
                                <label id="IsEmailAuthorized"></label>
                            </div>

                            <div class="two-lbl">
                                <label class="h-lbl">Address</label>
                                <label id="AttorneyAddress"></label>
                            </div>

                            <p>Correspondent</p>
                            <div class="two-lbl">
                                <label class="h-lbl">Correspondent</label>
                                <label id="CorrespondnetName"></label>
                            </div>

                            <div class="two-lbl">
                                <label class="h-lbl">Name/Address</label>
                                <label id="CorrespondnetAddress"></label>
                            </div>

                            <div class="two-lbl">
                                <label class="h-lbl">Phone</label>
                                <label id="CorrespondnetPhone"></label>
                            </div>
                            <div class="two-lbl">
                                <label class="h-lbl">Correspondence e-mail</label>
                                <label class="d-block" id="CorrespondnetEmail"></label>
                                <label class="d-block" id="CorrespondnetEmailTwo"></label>
                            </div>

                            <div class="two-lbl">
                                <label class="h-lbl">Correspondent e-mail Authorized</label>
                                <label id="CorrespondnetEmailAuth"></label>
                            </div>

                        </div>
                        <div class="col-lg-3">
                            <h1 class="color-primary">TM Staff</h1>
                            <p>TM Staff Information</p>

                            <div class="two-lbl">
                                <label class="h-lbl">TM Attorney</label>
                                <label id="TMStaffAttorney"></label>
                            </div>
                            <div class="two-lbl">
                                <label class="h-lbl">Law Office Assigned</label>
                                <label id="LawOfficeAssigned"></label>
                            </div>

                            <p>File Location</p>

                            <div class="two-lbl">
                                <label class="h-lbl">Current Location</label>
                                <label id="CurrentLocation"></label>
                            </div>

                            <div class="two-lbl">
                                <label class="h-lbl">Date in Location</label>
                                <label id="DateInLocation"></label>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>


    <div class="modal fade" id="DeleteAdminModal" tabindex="-1" role="dialog" aria-labelledby="cancelModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body p-4">
                    <div class="text-center">
                        <img src="~/images/Alerticon.png" />
                        <h3>Delete</h3>
                        <p>Are you sure you want to delete</p>
                    </div>
                    <footer class="mt-4 text-center">
                        <button type="button" class="btn btn-danger" data-target="DeleteAdminModal" data-dismiss="modal">No</button>
                        <button type="button" class="btn btn-primary" onclick="DeleteYes();">Yes</button>
                    </footer>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="ErrorAdminModal" tabindex="-1" role="dialog" aria-labelledby="cancelModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body p-4">
                    <div class="text-center">
                        <img src="~/images/Alerticon.png" />
                        <h3>Failed</h3>
                        <p id="DivFailedError"></p>
                    </div>
                    <footer class="mt-4 text-center">
                        <button type="button" class="btn btn-danger" data-target="ErrorAdminModal" data-dismiss="modal">Continue</button>
                    </footer>
                </div>
            </div>
        </div>
    </div>

    @* Trademark detail model end *@
</div>
<style>
    .kww-filled-btn-sm:not(:hover) .fa{
        color: #FFFFFF;
    }
    .kww-filled-btn-sm:hover .fa{
        color: #842828;
    }
</style>
<script>
    $('.kww-main-nav ul').find('li').removeClass('active');
    $('#navConfigure').parent().addClass('active');

    function ChangeBtnText(data, id) {
        if (data == "Add") {
            $('#NameError,#EmailError, #PasswordError').html('');
            $('#Id').val('');
            $('#Name').val('');
            $('#Email').val('');
            $('#Password').val('');
            $('#AddEditContact').val('Add Admin');
            $('#SuccessContactText').html('A new admin was added.');
        }
    }

    function ConfirmDelete(id) {
        $('#hdnDeleteId').val(id);
        $('#DeleteAdminModal').modal('show');
    }

    function DeleteYes() {
        var id = $('#hdnDeleteId').val();
        $.ajax(
            {
                type: 'POST',
                url: '/Admin/deleteadmin',
                data: "id=" + id,
                success: function (data) {
                    $('#DeleteAdminModal').modal('hide');
                    if (data.IsSuccess) {
                        $('#SuccessModal').modal('show');
                        var MyGrid = $("#Grid").data("kendoGrid");
                        var arrayFilter = [];
                        MyGrid.dataSource.filter(arrayFilter);
                    } else {
                        $('#DivFailedError').html(data.Errors[0]);
                        $('#ErrorAdminModal').modal('show');
                    }
                },
                error: function (error) {
                    console.log(error);
                    $('#DeleteAdminModal').modal('hide');
                }
            }
        );
    }

    //function OnAttorneyDetailBegin(res) {
    //    $('#NameError,#EmailError').html('');
    //    $('#AddEditContact').val('Update Admin');
    //    $('#SuccessContactText').html('Admin was updated!');
    //}
    //function OnAttorneyDetailSuccess(res) {
    //    $('#addContactModalCenter').modal('show');
    //    $('#Id').val(res.Id);
    //    $('#Name').val(res.Name);
    //    $('#Email').val(res.Email);
    //}

    function OnSuccessSave(res) {
        console.log(res);
        $('#NameError,#EmailError, #PasswordError').html('');
        if (res.Errors != undefined && res.Errors.length > 0) {
            for (var i = 0; i < res.Errors.length; i++) {
                if (res.Errors[i] == "Name field is required") {
                    $('#NameError').html(res.Errors[i]);
                }
                else if (res.Errors[i] == "Email field is required") {
                    $('#EmailError').html(res.Errors[i]);
                }
                else if (res.Errors[i] == "Password field is required") {
                    $('#PasswordError').html(res.Errors[i]);
                } else {
                    $('#PasswordError').html(res.Errors[i]);
                }
            }
        } else {
            $('#Name').val('');
            $('#Email').val('');
            $('#Password').val('');
            var MyGrid = $("#Grid").data("kendoGrid");
            var arrayFilter = [];
            MyGrid.dataSource.filter(arrayFilter);
            $('#addContactModalCenter').modal('hide');
            $('#SuccessModal').modal('show');
        }
    }

    function OnChangePassword() {
        $('#changePasswordmodal').modal('show');
        //$.ajax(
        //    {
        //        type: 'GET',
        //        url: '/trademark/TrademarkReject',
        //        data: "id=" + id,
        //        success: function (data) {
        //            $('#grid').data('kendoGrid').dataSource.read();
        //            //$('#fetchingDataModal').modal('hide');
        //        },
        //        error: function (error) {
        //            console.log(error);
        //            //$('#fetchingDataModal').modal('hide');
        //        }
        //    }
        //);
    }
    function onDelete(id) {
        alert(id);
        //$('#fetchingDataModal').modal('show');
        //$.ajax(
        //    {
        //        type: 'GET',
        //        url: '/trademark/TryAgain',
        //        data: "id=" + id,
        //        success: function (data) {
        //            $('#grid').data('kendoGrid').dataSource.read();
        //            //$('#fetchingDataModal').modal('hide');
        //        },
        //        error: function (error) {
        //            console.log(error);
        //            //$('#fetchingDataModal').modal('hide');
        //        }
        //    }
        //);
    }
    function OnTrademarkDetailBegin() {
        $("#imgTrademark").attr("src", ' ');
        $('#fetchingDataModal').modal('show');
    }

    function OnTrademarkUpdateBegin() {
        $("#imgTrademark").attr("src", ' ');
        $('#tmDetailModalCenter').modal('hide');
        $('#fetchingDataModal').modal('show');
    }
</script>
