﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TM Manager</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    @*<link rel="stylesheet" href="~/css/site.css" />*@
    <link rel="icon" href="~/favicon.ico" type="image/x-icon" />
    <link rel="icon" href="~/images/favicon.png" type="image/png" sizes="16x16">
    <link rel="icon" href="~/images/favicon.png" type="image/png" sizes="32x32">
    <link href="https://kendo.cdn.telerik.com/2021.1.224/styles/kendo.bootstrap-v4.min.css" rel="stylesheet" type="text/css" />
    <link href="~/css/Layout.min.css" rel="stylesheet" />
    <link href="~/css/responsive.min.css" rel="stylesheet" />
    <link href="~/lib/font-awesome/css/all.css" rel="stylesheet" />
    <link href="~/css/TabsAccordion.min.css" rel="stylesheet" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
</head>
<body>
    @* Add the the jQuery script from the Telerik CDN: *@
    <script src="https://kendo.cdn.telerik.com/2021.1.224/js/jquery.min.js"></script>
    <script src="https://kendo.cdn.telerik.com/2021.1.224/js/kendo.all.min.js"></script>
    <script src="https://kendo.cdn.telerik.com/2021.1.224/js/kendo.aspnetmvc.min.js"></script>
    @RenderBody()
    <script src="~/lib/jquery-unobtrusive-ajax/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/jquery.slidereveal.js"></script>


    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)

    <script>
        jQuery(document).ready(function () {
            // Add minus icon for collapse element which is open by default
            jQuery(".collapse.show").each(function () {
                jQuery(this).prev(".card-header").find(".fas").addClass("fa-minus-square").removeClass("fa-plus-square");
            });

            // Toggle plus minus icon on show hide of collapse element
            jQuery(".collapse").on('show.bs.collapse', function () {
                jQuery(this).prev(".card-header").find(".fas").removeClass("fa-plus-square").addClass("fa-minus-square");
            }).on('hide.bs.collapse', function () {
                jQuery(this).prev(".card-header").find(".fas").removeClass("fa-minus-square").addClass("fa-plus-square");
            });
        });
    </script>

    <script type="text/javascript">
        $(function () {
            $('#kww-drawer').slideReveal({
                autoEscape: false,
                width: "260px",
                position: "right",
                speed: 600,
                trigger: $("#kww-drawer-toggle"),
                overlay: true,
                overlayColor: 'rgba(255,255,255,0.5)',
                show: function (slider, trigger) {
                    $("#kwwDrawer").show();
                    $('#kww-drawer-toggle').toggleClass('is-open is-close');
                    $('#kww-drawer-toggle').find('i').toggle();
                },
                hide: function (slider, trigger) {
                    $('#kww-drawer-toggle').toggleClass('is-open is-close');
                    $('#kww-drawer-toggle').find('i').toggle();
                },
            });
        });
    </script>

    <div class="fullpageloader">
        <svg version="1.1" id="L4" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 100 100" enable-background="new 0 0 0 0" xml:space="preserve"> <circle fill="#fff" stroke="none" cx="6" cy="50" r="6"> <animate attributeName="opacity" dur="1s" values="0;1;0" repeatCount="indefinite" begin="0.1" /> </circle> <circle fill="#fff" stroke="none" cx="26" cy="50" r="6"> <animate attributeName="opacity" dur="1s" values="0;1;0" repeatCount="indefinite" begin="0.2" /> </circle> <circle fill="#fff" stroke="none" cx="46" cy="50" r="6"> <animate attributeName="opacity" dur="1s" values="0;1;0" repeatCount="indefinite" begin="0.3" /> </circle></svg>
    </div>

</body>
</html>
