﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TM Manager</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    @*<link rel="stylesheet" href="~/css/site.css" />*@
    <link rel="icon" href="~/favicon.ico" type="image/x-icon" />
    <link rel="icon" href="~/images/favicon.png" type="image/png" sizes="16x16">
    <link rel="icon" href="~/images/favicon.png" type="image/png" sizes="32x32">
    <link href="~/kendo/styles/kendo.common.min.css" rel="stylesheet" />
    <link href="~/kendo/styles/kendo.default.min.css" rel="stylesheet" />
    <link href="~/kendo/styles/kendo.dataviz.min.css" rel="stylesheet" />
    <link href="~/css/Layout.min.css" rel="stylesheet" />
    <link href="~/css/responsive.min.css" rel="stylesheet" />
    <link href="~/lib/font-awesome/css/all.css" rel="stylesheet" />
    <link href="~/css/TabsAccordion.min.css" rel="stylesheet" />

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    @*<link href="~/lib/datatables/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
        <script src="~/lib/datatables/js/jquery.dataTables.min.js"></script>
        <script src="~/lib/datatables/js/dataTables.bootstrap4.min.js"></script>*@

    <script src="~/kendo/js/kendo.web.min.js"></script>
    <script src="~/kendo/js/kendo.all.min.js"></script>
    <script src="~/kendo/js/kendo.aspnetmvc.min.js"></script>

    <style>
        .addReadMore.showlesscontent .SecSec,
        .addReadMore.showlesscontent .readLess {
            display: none;
        }

        .addReadMore.showmorecontent .readMore {
            display: none;
        }

        .addReadMore .readMore,
        .addReadMore .readLess {
            font-weight: bold;
            margin-left: 2px;
            color: blue;
            cursor: pointer;
        }

        .addReadMoreWrapTxt.showmorecontent .SecSec,
        .addReadMoreWrapTxt.showmorecontent .readLess {
            display: block;
        }
    </style>

</head>
<body>
    <div class="app-wrapper">

        <div class="kww-mobile-menu">
            <div class="logo">
                <img src="~/images/Logo.Masked.png" />
            </div>
            <div class="menu-mobile">
                <button id="kww-drawer-toggle" class="kww-drawer-toggle hidden-lg hidden-md hidden-sm is-close">
                    <i class="fa fa-bars" aria-hidden="true"></i>
                    <i class="fa fa-times" aria-hidden="true" style="display: none;"></i>
                </button>
            </div>
            <div id='kww-drawer' class="kww-drawer-menu">
                <div class="navbar-collapse collapse show" id="main_nav" style="">
                    <ul class="navbar-nav">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="/admin" data-toggle="dropdown" aria-expanded="false">  Admin Home  </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="/admin/createdtrademark">Created Trademarks</a></li>
                                <li><a class="dropdown-item" href="/admin/registrationdeadline">Registration Deadlines</a></li>
                                <li><a href="/admin/tmevent">TM Events</a></li>
                                <li><a href="/admin/tmdocument">TM Documents</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="/trademark" data-toggle="dropdown" aria-expanded="false">Trademark </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="/trademark">Trademarks</a></li>
                                <li class="dropdown-item"><a href="/trademark/newtrademark">New Trademark</a></li>
                                <li><a class="dropdown-item" href="/trademark/uploadfile">Upload File</a></li>
                                <li><a class="dropdown-item" href="/trademark/trademarkretrieved">Trademarks Retrieved</a></li>
                                <li><a class="dropdown-item" href="">Archived Files</a></li>
                                <li><a class="dropdown-item" href="/trademark/trademarkdeadlist">Dead Trademarks</a></li>
                                <li><a class="dropdown-item" href="/trademark/unknownattorney">Unknown Attorney Trademarks </a></li>
                            </ul>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="/Client" data-toggle="dropdown" aria-expanded="false">Clients </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="/Client">Search Clients</a></li>
                                <li class="dropdown-item"><a href="/client/useraccess">User Access Request</a></li>

                            </ul>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="/Reports" data-toggle="dropdown" aria-expanded="false">Reports </a>
                            <ul class="dropdown-menu">
                           

                            </ul>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="/Reports" data-toggle="dropdown" aria-expanded="false">Configure </a>
                            <ul class="dropdown-menu">
                               

                            </ul>
                        </li>
                    </ul>

                </div>
            </div>
        </div>

        <div class="container header">
            <div class="admin-header d-flex justify-content-between align-items-end my-3">
                <img src="/images/logo-modern.png" alt="Logo">
                <a href="/home/logout" class="kww-outline-btn">
                    Logout
                    <img class="logout-icon" src="~/images/Icon-logout.png" />
                </a>
            </div>

            <div class="kww-main-nav">
                <ul>
                    <li class="active"><a href="/admin"><span>Admin Home</span> <i class="fas fa-home"></i></a></li>
                    <li><a href="/trademark" id="navTrademarks">Trademarks <i class="fas fa-trademark"></i></a></li>
                    <li><a href="/Client" id="navClient">Clients <i class="fas fa-user"></i></a></li>
                    <li><a href="" id="navReport">Reports<img src="~/images/metrotable.png" /></a></li>
                    <li><a href="/Configure" id="navConfigure">Configure <i class="fas fa-tools"></i></a></li>
                </ul>
            </div>


        </div>

        @RenderBody()

        <div class="container footer">
            <footer class="row">
                <div class="col-lg-12 text-right">
                    <img src="/images/Logo.Masked.png">
                </div>
            </footer>
        </div>

    </div>

    <script src="~/lib/jquery-unobtrusive-ajax/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/jquery.slidereveal.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)

    <script>
        jQuery(document).ready(function () {
            // Add minus icon for collapse element which is open by default
            jQuery(".collapse.show").each(function () {
                jQuery(this).prev(".card-header").find(".fas").addClass("fa-minus-square").removeClass("fa-plus-square");
            });

            // Toggle plus minus icon on show hide of collapse element
            jQuery(".collapse").on('show.bs.collapse', function () {
                jQuery(this).prev(".card-header").find(".fas").removeClass("fa-plus-square").addClass("fa-minus-square");
            }).on('hide.bs.collapse', function () {
                jQuery(this).prev(".card-header").find(".fas").removeClass("fa-minus-square").addClass("fa-plus-square");
            });
        });
    </script>

    <script type="text/javascript">
        $(function () {
            $('#kww-drawer').slideReveal({
                autoEscape: false,
                width: "260px",
                position: "right",
                speed: 600,
                trigger: $("#kww-drawer-toggle"),
                overlay: true,
                overlayColor: 'rgba(255,255,255,0.5)',
                show: function (slider, trigger) {
                    $("#kwwDrawer").show();
                    $('#kww-drawer-toggle').toggleClass('is-open is-close');
                    $('#kww-drawer-toggle').find('i').toggle();
                },
                hide: function (slider, trigger) {
                    $('#kww-drawer-toggle').toggleClass('is-open is-close');
                    $('#kww-drawer-toggle').find('i').toggle();
                },
            });
        });
    </script>

    <div class="fullpageloader">
        <svg version="1.1" id="L4" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 100 100" enable-background="new 0 0 0 0" xml:space="preserve"> <circle fill="#fff" stroke="none" cx="6" cy="50" r="6"> <animate attributeName="opacity" dur="1s" values="0;1;0" repeatCount="indefinite" begin="0.1" /> </circle> <circle fill="#fff" stroke="none" cx="26" cy="50" r="6"> <animate attributeName="opacity" dur="1s" values="0;1;0" repeatCount="indefinite" begin="0.2" /> </circle> <circle fill="#fff" stroke="none" cx="46" cy="50" r="6"> <animate attributeName="opacity" dur="1s" values="0;1;0" repeatCount="indefinite" begin="0.3" /> </circle></svg>
    </div>

</body>
</html>
