﻿<div class="modal-content">
    <div class="modal-body">
        <header class="d-flex justify-content-between">
            <div>
                <h2 id="TrademarkName"></h2>
            </div>
            <div>
                <a href="" data-ajax="true" data-ajax-method="POST" data-ajax-begin="OnTrademarkUpdateBegin" data-ajax-success="OnTrademarkDetailSuccess" style="z-index:1000;" class="btn btn-success btn-sm py-2 text-decoration-none" id="btnUpdateUSPTO"><img class="mr-2" src="~/images/Icon-reupdate.png" /> <span>Update TM from USPTO</span></a>
                <a href="" class="ml-2 align-middle" data-dismiss="modal">
                    <svg style="width:20px" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512.001 512.001" style="enable-background:new 0 0 512.001 512.001;" xml:space="preserve"> <g> <g> <path d="M284.286,256.002L506.143,34.144c7.811-7.811,7.811-20.475,0-28.285c-7.811-7.81-20.475-7.811-28.285,0L256,227.717 L34.143,5.859c-7.811-7.811-20.475-7.811-28.285,0c-7.81,7.811-7.811,20.475,0,28.285l221.857,221.857L5.858,477.859 c-7.811,7.811-7.811,20.475,0,28.285c3.905,3.905,9.024,5.857,14.143,5.857c5.119,0,10.237-1.952,14.143-5.857L256,284.287 l221.857,221.857c3.905,3.905,9.024,5.857,14.143,5.857s10.237-1.952,14.143-5.857c7.811-7.811,7.811-20.475,0-28.285 L284.286,256.002z" /> </g> </g> </svg>
                </a>
            </div>
        </header>

        <div class="row">
            <div class="col-lg-12 my-2" id="CurrentStatus">
                
            </div>
            <div class="col-lg-3">
                <div class="two-lbl">
                    <label class="h-lbl">Mark</label>
                    <label class="TrademarkElement"></label>
                </div>
                <div class="two-lbl">
                    <label class="h-lbl">US Serial Number</label>
                    <label id="UsSerialNumber"></label>
                </div>
                <div class="two-lbl">
                    <label class="h-lbl">US Registration Number</label>
                    <label id="UsRegistrationNumber"></label>
                </div>
                <div class="two-lbl">
                    <label class="h-lbl">Register</label>
                    <label>Principal</label>
                </div>
                <div class="two-lbl">
                    <label class="h-lbl">Status Date</label>
                    <label id="StatusDate"></label>
                </div>
                <div class="two-lbl">
                    <label class="h-lbl">Publication Date</label>
                    <label id="PublicationDate"></label>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="two-lbl">
                    <label class="h-lbl">Last Updated</label>
                    <label id="LastUpdatedDate"></label>
                </div>
                <div class="two-lbl">
                    <label class="h-lbl">Application Filing Date</label>
                    <label id="FilingDate"></label>
                </div>
                <div class="two-lbl">
                    <label class="h-lbl">Registration Date</label>
                    <label id="UsRegistrationDate"></label>
                </div>
                <div class="two-lbl">
                    <label class="h-lbl">Mark Type</label>
                    <label id="MarkType"></label>
                </div>
                <div class="two-lbl">
                    <label class="h-lbl">Notice of Allowance Date</label>
                    <label id="PublicationAllowanceDate"></label>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="two-lbl">
                    <label class="h-lbl">TM5 Common Status</label>
                    <label id="tm5StatusDescription"></label>
                </div>
                <div class="two-lbl">
                    <label class="h-lbl">Status</label>
                    <label id="ExternalStatusDescription"></label>
                </div>
                <div class="two-lbl">
                    <label class="h-lbl">Descriptor</label>
                    <label id="statusDefination"></label>
                </div>
            </div>
            <div class="col-lg-2">
                <img id="imgTrademark" class="w-100" src="" />
            </div>
        </div>

        <div id="divRegistrationDeclaration">
            <hr class="border-bottom-line" />
            <h2>Registration Declaration/Renewal Due Dates</h2>
            <div class="row">
                <div class="col-lg-4">
                    <div class="two-lbl">
                        <label class="h-lbl">Earliest date to file</label>
                        <label id="EarliestDateToFile"></label>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="two-lbl">
                        <label class="h-lbl">Lastest date to file without fee</label>
                        <label id="LatestDateToFileWithoutFee"></label>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="two-lbl">
                        <label class="h-lbl">Lastest date to file with fee</label>
                        <label id="LatestDateToFileWithFee"></label>
                    </div>
                </div>
            </div>
        </div>

        <hr class="border-bottom-line" />
        <div class="row">
            <div class="col-lg-6">
                <h2>Prosecution History</h2>
                <table id="ProsecutionHistory" class="w-100">
                    <thead>
                        <tr>
                            <th class="py-2" style="width:20%">Date</th>
                            <th>Description</th>
                            <th>Proc.Num</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
            <div class="col-lg-6">
                <h4 class="m56top">Documents @*(<span id="DocumentCount"></span>)*@</h4>
                <table class="w-100" id="DocumentUrl">
                    <thead>
                        <tr>
                            <th class="py-2">Date</th>
                            <th>Description</th>
                            <th>Type</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>

        <hr class="border-bottom-line" />

        <div class="row">
            <div class="col-lg-6">
                <h1 class="color-primary">Mark Information</h1>
                <div class="two-lbl">
                    <label class="h-lbl">Mark Literal Elements</label>
                    <label class="TrademarkElement"></label>
                </div>

                <div class="two-lbl">
                    <label class="h-lbl">Standard Character Claim</label>
                    <label class="IsStandard"></label>
                </div>
                <div class="two-lbl">
                    <label class="h-lbl">Mark Drawing Type</label>
                    <label id="MarkDrawingType"></label>
                </div>
                <div class="two-lbl">
                    <label class="h-lbl">Description of Mark</label>
                    <label class="DescriptionOfMark">No</label>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="two-lbl">
                    <label class="h-lbl">Description of Mark</label>
                    <label class="TrademarkElement"></label>
                </div>
                <div class="two-lbl">
                    <label class="h-lbl">Design Search Code(s)</label>
                    <table id="DesignSearch">
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>

        <hr class="border-bottom-line" />

        <div class="row">
            <div class="col-lg-12">
                <h1 class="color-primary">Goods and Services</h1>
                <div class="small-txt">
                    <p>
                        The following symbols indicate that the registrant/ owner has amended the goods/sevices.
                    </p>
                    <ul>
                        <li>Brackets [..] indicate deleted goods/services;</li>
                        <li>Double parenthesis ((..)) identify any goods/services not claimed in a Section 15 affidavit of incontestability; and</li>
                        <li>Asterisks *..* identify additional (new) wording in the goods/services.</li>
                    </ul>

                </div>

                <div id="divGoodAndServices"></div>

            </div>

        </div>

        <hr class="border-bottom-line" />
        <div class="row">
            <div class="col-lg-4">
                <h1 class="color-primary">Current Owner</h1>
                <div id="CurrentOwner">
                    <div class="two-lbl">
                        <label class="h-lbl">Owner Name</label>
                        <label id="OwnerName"></label>
                    </div>
                    <div class="two-lbl">
                        <label class="h-lbl">Owner Address</label>
                        <label id="OwnerAddress"></label>
                    </div>
                    <div class="two-lbl">
                        <label class="h-lbl">Legal Entity Type</label>
                        <label id="OwnerEntityType"></label>
                    </div>
                    <div class="two-lbl">
                        <label class="h-lbl">State or Country where Organized</label>
                        <label id="OwnerState"></label>
                    </div>
                </div>

                <h1 class="color-primary">Basis Information</h1>

                <div class="row">
                    <div class="col-lg-6">
                        <div class="two-lbl">
                            <label class="h-lbl">Filed Use</label>
                            <label id="IsFileUsed"></label>
                        </div>
                        <div class="two-lbl">
                            <label class="h-lbl">Filed ITU</label>
                            <label id="IsFiledItu"></label>
                        </div>
                        <div class="two-lbl">
                            <label class="h-lbl">Filed 44D</label>
                            <label id="IsFile44D"></label>
                        </div>
                        <div class="two-lbl">
                            <label class="h-lbl">Filed 44E</label>
                            <label id="IsFile44E"></label>
                        </div>
                        <div class="two-lbl">
                            <label class="h-lbl">Filed 66A</label>
                            <label id="IsFile66A"></label>
                        </div>
                        <div class="two-lbl">
                            <label class="h-lbl">Filed No Basis</label>
                            <label id="IsFileNoBasis"></label>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="two-lbl">
                            <label class="h-lbl">Currently Use</label>
                            <label id="IsCurrentUse"></label>
                        </div>
                        <div class="two-lbl">
                            <label class="h-lbl">Currently ITU</label>
                            <label id="IsCurrentItu"></label>
                        </div>
                        <div class="two-lbl">
                            <label class="h-lbl">Currently 44E</label>
                            <label id="IsCurrent44E"></label>
                        </div>
                        <div class="two-lbl">
                            <label class="h-lbl">Currently 66A</label>
                            <label id="IsCurrent66A"></label>
                        </div>
                        <div class="two-lbl">
                            <label class="h-lbl">Currently No Basis</label>
                            <label id="IsCurrentNoBasis"></label>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4">
                <h1 class="color-primary">Attorney Information</h1>
                <p id="attorneyOfRecord">Attorney of Record</p>
                
                <div class="two-lbl attorneydetails">
                    <label class="h-lbl">Attorney Name</label>
                    <label id="AttorneyName"></label>
                </div>

                <div class="two-lbl attorneydetails">
                    <label class="h-lbl">Attorney Primary Email</label>
                    <label id="AttorneyEmail"></label>
                </div>
                <div class="two-lbl attorneydetails">
                    <label class="h-lbl">Attorney Email Authorized</label>
                    <label id="IsEmailAuthorized"></label>
                </div>

                @*<div class="two-lbl attorneydetails">
                    <label class="h-lbl">Address</label>
                    <label id="AttorneyAddress"></label>
                </div>*@

                
                <div class="two-lbl">
                    <label class="h-lbl">Correspondent</label>
                    <label id="CorrespondnetName"></label>
                </div>

                <div class="two-lbl">
                    <label class="h-lbl">Name/Address</label>
                    <label id="CorrespondnetAddress"></label>
                </div>

                <div class="two-lbl">
                    <label class="h-lbl">Phone</label>
                    <label id="CorrespondnetPhone"></label>
                </div>
                <div class="two-lbl">
                    <label class="h-lbl">Correspondence e-mail</label>
                    <label class="d-block" id="CorrespondnetEmail"></label>
                    <label class="d-block" id="CorrespondnetEmailTwo"></label>
                </div>

                <div class="two-lbl">
                    <label class="h-lbl">Correspondent e-mail Authorized</label>
                    <label id="CorrespondnetEmailAuth"></label>
                </div>

            </div>
            <div class="col-lg-4">
                <h1 class="color-primary">USPTO Staff</h1>
                <p>USPTO Staff Information</p>

                <div class="two-lbl">
                    <label class="h-lbl">USPTO Attorney</label>
                    <label id="TMStaffAttorney"></label>
                </div>
                <div class="two-lbl">
                    <label class="h-lbl">Law Office Assigned</label>
                    <label id="LawOfficeAssigned"></label>
                </div>

                <p>File Location</p>

                <div class="two-lbl">
                    <label class="h-lbl">Current Location</label>
                    <label id="CurrentLocation"></label>
                </div>

                <div class="two-lbl">
                    <label class="h-lbl">Date in Location</label>
                    <label id="DateInLocation"></label>
                </div>
            </div>
        </div>
    </div>

</div>


<div class="modal fade" id="1ATimelineModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Section 1(a) timeline</h5>
                <button type="button" class="close" aria-label="Close" onclick="CloseTimelineModal('1a')">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <img class="w-100" src="~/images/1a.png" />
            </div>

        </div>
    </div>
</div>

<div class="modal fade" id="1BTimelineModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Section 1(b) timeline</h5>
                <button type="button" class="close"  aria-label="Close" onclick="CloseTimelineModal('1b')">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <img class="w-100" src="~/images/1b.png" />
            </div>

        </div>
    </div>
</div>



<script>


    $.urlParam = function (name) {
        var results = new RegExp('[\?&]' + name + '=([^&#]*)').exec(window.location.href);
        if (results == null) {
            return null;
        }
        return decodeURI(results[1]) || 0;
    }

    function CloseTimelineModal(str) {
        if (str == "1a") {
            $('#1ATimelineModal').modal('hide');
        } else if (str == "1b") {
            $('#1BTimelineModal').modal('hide');
        }
    }

    function OnTrademarkDetailSuccess(res) {
        $('#fetchingDataModal').modal('hide');
        if (res.SerialNumber > 0) {
            if (res.UsRegistrationDate != "" && res.NextDeadlineText != "") {
                $('#EarliestDateToFile').html(res.NextDeadlineText);
                $('#LatestDateToFileWithoutFee').html(res.MaxNextDeadline);
                $('#LatestDateToFileWithFee').html(res.MaxNextDeadlineWithFee);
            } else {
                $('#divRegistrationDeclaration').addClass('d-none');
            }
            var markType = "";
            if (res.IsTrademark) {
                markType = "Trademark";
            }
            if (res.ServiceMark) {
                markType = markType + " Service Mark";
            }

            $('#btnUpdateUSPTO').attr('href', '/trademark/updatetrademark?serialNumber=' + res.SerialNumber + '');
            $('#TrademarkName').html(res.ClientName);
            $('.TrademarkElement').html(res.TrademarkElement);
            $('#UsSerialNumber').html(res.SerialNumber);
            $('#UsRegistrationNumber').html(res.UsRegistrationNumber);
            $('#UsRegistrationDate').html(res.UsRegistrationDate);
            $('#FilingDate').html(res.FiliingDateText);
            $('#LastUpdatedDate').html(res.LastUpdateDate);
            $('#StatusDate').html(res.StatusDateText);
            $('#PublicationDate').html(res.PublicationDateText);
            $('#PublicationAllowanceDate').html(res.PublicationAllowanceDateText);
            $('#tm5StatusDescription').html(res.Tm5StatusDescription);
            $('#ExternalStatusDescription').html(res.ExternalStatusDescription);
            $('.DescriptionOfMark').html(res.DescriptionOfMark);
            $('#TrademarkNameTwo').html(res.ClientName);
            $('.IsStandard').html(res.IsStandard == true ? "Yes" : "No");
            $('#statusDefination').html(res.StatusDefination);
            $("#imgTrademark").attr("src", res.Image);
            $('#MarkType').html(markType);
            $('#MarkDrawingType').html(res.MarkDrawingCode + ' - ' + res.TrademarkDrawingDescription);


            //$("#CurrentStatusDescription").html(res.CurrentStatusDescription);
            $("#NextDeadline").html(res.NextDeadline);
            $("#StatusColor").html(res.StatusColor);

            if (res.CurrentStatus != "R" && res.CurrentStatus != "D") {
                if (res.IsFiledInternationLaw) {
                    $("#CurrentStatus").html('<div class="head-box text-center StatusBox" onclick="Show1BTimeline()"><p class="mb-0" >Stage ' + res.CurrentStatus + '</p><small>' + res.CurrentStatusDescription + '</small></div >');
                } else {
                    $("#CurrentStatus").html('<div class="head-box text-center StatusBox" onclick="Show1ATimeline()"><p class="mb-0" >Stage ' + res.CurrentStatus + '</p><small>' + res.CurrentStatusDescription + '</small></div >');
                }
            } else {
                if (res.CurrentStatus == "R") {
                    res.CurrentStatus = "Registered";
                } else {
                    res.CurrentStatus = "Stage " + res.CurrentStatus;
                }
                $("#CurrentStatus").html('<div class="head-box text-center"><p class="mb-0" >' + res.CurrentStatus + '</p><small>' + res.CurrentStatusDescription + '</small></div >');
            }
            if (res.Attorney.Email == "" || res.Attorney.FullName == "") {
                $(".attorneydetails").hide();
                $('#attorneyOfRecord').text('Attorney of Record - None')
            } else {
                $(".attorneydetails").show();
                $('#attorneyOfRecord').text('Attorney of Record')
            }
            $('#AttorneyName').html(res.Attorney.FullName);
            $('#AttorneyEmail').html(res.Attorney.Email);
            $('#IsEmailAuthorized').html(res.Attorney.IsEmailAuthticated == true ? "Yes" : "No");
            $('#AttorneyAddress').html('');

            $('#CorrespondnetName').html(res.Attorney.Firm.IndividualName);
            $('#CorrespondnetAddress').html(res.Attorney.Firm.Name + ' ' + res.Attorney.Line1 + ' ' + res.Attorney.City + ', ' + res.Attorney.CountryName + ' ' + res.Attorney.PostalCode);
            $('#CorrespondnetPhone').html(res.Attorney.Firm.Phone);
            $('#CorrespondnetEmail').html(res.Attorney.Firm.Email);
            $('#CorrespondnetEmailTwo').html(res.Attorney.EmailTwo);
            $('#CorrespondnetEmailAuth').html(res.Attorney.IsEmailAuthticated == true ? "Yes" : "No");

            if (res.OwnerGroup != null) {
                var addressString = "";
                if (res.OwnerGroup.Address != null && res.OwnerGroup.Address != "") {
                    addressString = res.OwnerGroup.Address;
                }
                if (res.OwnerGroup.City != null && res.OwnerGroup.City != "") {
                    addressString += ', ' + res.OwnerGroup.City;
                }
                if (res.OwnerGroup.State != null && res.OwnerGroup.State != "") {
                    addressString += ', ' + res.OwnerGroup.State;
                }
                if (res.OwnerGroup.IsoName != null && res.OwnerGroup.IsoName != "") {
                    addressString += ' ' + res.OwnerGroup.IsoName;
                }
                if (res.OwnerGroup.Country != null && res.OwnerGroup.Country != "") {
                    addressString += ' ' + res.OwnerGroup.Country;
                }
                if (res.OwnerGroup.ZipCode != null && res.OwnerGroup.ZipCode != "") {
                    addressString += ' ' + res.OwnerGroup.ZipCode;
                }
                $('#OwnerName').html(res.OwnerGroup.Name);
                $('#OwnerAddress').html(addressString);
                $('#OwnerEntityType').html(res.OwnerGroup.TypeDescription);
                $('#OwnerState').html(res.OwnerGroup.Country);
            }

            $('#IsCurrentUse').html(res.IsUseCurrent == true ? "Yes" : "No");
            $('#IsCurrentItu').html(res.IsInternationalLawCurrent == true ? "Yes" : "No");
            $('#IsCurrent44E').html(res.IsSect44eCurrent == true ? "Yes" : "No");
            $('#IsCurrent66A').html(res.IsSect66aCurrent == true ? "Yes" : "No");
            $('#IsCurrentNoBasis').html(res.IsNoBasisCurrent == true ? "Yes" : "No");
            $('#IsFileUsed').html(res.IsFiledUse == true ? "Yes" : "No");
            $('#IsFiledItu').html(res.IsFiledInternationLaw == true ? "Yes" : "No");
            $('#IsFile44D').html(res.IsFiled44d == true ? "Yes" : "No");
            $('#IsFile44E').html(res.IsFiled44e == true ? "Yes" : "No");
            $('#IsFile66A').html(res.IsFiled66a == true ? "Yes" : "No");
            $('#IsFileNoBasis').html(res.IsFileNoBasis == true ? "Yes" : "No");

            $('#TMStaffAttorney').html(res.ExaminerName);
            $('#LawOfficeAssigned').html(res.LawOffAssigned);
            $('#CurrentLocation').html(res.CurrentLocation);
            $('#DateInLocation').html(res.CurrentLocationDateString);

            var GoodAndServicesContent = '';
            if (res.GoodAndServices != null && res.GoodAndServices.length > 0) {
                for (var i = 0; i < res.GoodAndServices.length; i++) {
                    var PrimeClassCode = res.GoodAndServices[i].PrimeClassCode;
                    var Description = res.GoodAndServices[i].Description;
                    var StatusDescription = res.GoodAndServices[i].StatusDescription;
                    var FirstUseInCommerceDate = res.GoodAndServices[i].FirstUseInCommerceDate ?? 'N/A';
                    var FirstUseDate = res.GoodAndServices[i].FirstUseDate ?? 'N/A';

                    var InternationalClass = [];
                    //var UsClasses = [];
                    for (var j = 0; j < res.GoodAndServices[i].GoodAndServiceClasses.length; j++) {
                        if (res.GoodAndServices[i].GoodAndServiceClasses[j].Type == "UsClass") {
                            //UsClasses += res.GoodAndServices[i].GoodAndServiceClasses[j].Code + ', ';
                            //UsClasses.push(res.GoodAndServices[i].GoodAndServiceClasses[j].Code);
                        }
                        else {
                            //InternationalClass += res.GoodAndServices[i].GoodAndServiceClasses[j].Code + ', ';
                            InternationalClass.push(res.GoodAndServices[i].GoodAndServiceClasses[j].Code);
                        }
                    }

                    //var InternationalClassString = PrimeClassCode + ' ' + InternationalClass.join(',');
                    var InternationalClassString = PrimeClassCode;
                    //var UsClassesString = UsClasses.join();
                    GoodAndServicesContent += '<div class="row mb-3 pb-2 border-bottom"><div class="col-lg-3"><div class="two-lbl"><label class="h-lbl">Use in Commerce</label><label>' + FirstUseInCommerceDate + '</label></div></div><div class="col-lg-3"><div class="two-lbl"><label class="h-lbl">International Class(es)</label><label>' + InternationalClassString + '</label></div></div>';
                    GoodAndServicesContent += '<div class="col-lg-3"><div class="two-lbl"><label class="h-lbl">Class Status</label><label>' + StatusDescription + '</label></div></div>';
                    //GoodAndServicesContent += '<div class="col-lg-3"><div class="two-lbl"><label class="h-lbl">Basis</label><label>1(a)</label></div></div>';
                    GoodAndServicesContent += '<div class="col-lg-3"><div class="two-lbl"><label class="h-lbl">First Use</label><label>' + FirstUseDate + '</label></div></div>';
                    //GoodAndServicesContent += '<div class="col-lg-3"><div class="two-lbl"><label class="h-lbl">U.S Class(es)</label><label>' + UsClassesString + '</label></div></div>';
                    //GoodAndServicesContent += '<div class="col-lg-12"><div class="two-lbl"><label class="h-lbl showmore">For</label><label>' + Description + '</label></div></div></div>';
                    GoodAndServicesContent += '<div class="col-lg-12"><div class="two-lbl"><label class="h-lbl showmore">For</label><p class="addReadMore showlesscontent">' + Description + ' </p></div></div></div>';
                }
                $('#divGoodAndServices').html(GoodAndServicesContent);
            }


            var prosecutionHistory = "";
            for (var i = 0; i < res.ProsecutionHistorys.length; i++) {
                var proceddingNum = 0;
                if (res.ProsecutionHistorys[i].ProceedingNumber == 0) {
                    proceddingNum = "";
                } else {
                    proceddingNum = res.ProsecutionHistorys[i].ProceedingNumber;
                }
                prosecutionHistory += "<tr><td>" + res.ProsecutionHistorys[i].EntryDateText + "</td><td>" + res.ProsecutionHistorys[i].Description + "</td><td>" + proceddingNum + "</td></tr>";
            }
            $('#ProsecutionHistory tbody').html(prosecutionHistory);

            var designSearch = "";
            for (var i = 0; i < res.DesignSearch.length; i++) {
                var designSearchDescription = ""
                for (var j = 0; j < res.DesignSearch[i].DesignSearchDescriptions.length; j++) {
                    designSearchDescription += res.DesignSearch[i].DesignSearchDescriptions[j].Description + ";";
                }
                designSearchDescription = designSearchDescription.substr(0, designSearchDescription.length - 1);
                designSearch += "<tr><td>" + res.DesignSearch[i].Code + " - " + designSearchDescription + "</td></tr>";
            }

            var urlContent = "";
            for (var i = 0; i < res.DocumentModels.length; i++) {
                //for (var j = 0; j < res.DocumentModels[i].DocumentUrlModels.length; j++) {
                //    //if (res.documentModels[i].documentTypeModels[0].codeDescription == "Drawing") {
                //    //    $("#imgTrademark").attr("src", res.documentModels[i].image);
                //    //}
                //}
                //if (res.DocumentModels[i].DocumentTypeModels.length > 0) {
                //    urlContent += '<tr><td>' + res.DocumentModels[i].MailRoomDateString + '</td ><td><a target="_blank" rel="noopener noreferrer" class="text-primary" href="' + res.DocumentModels[i].Url + '">' + res.DocumentModels[i].Description + '</a></td><td>' + res.DocumentModels[i].DocumentType + '</td></tr >';
                //}
                urlContent += '<tr><td>' + res.DocumentModels[i].MailRoomDateString + '</td ><td><a target="_blank" rel="noopener noreferrer" class="text-primary" href="' + res.DocumentModels[i].Url + '">' + res.DocumentModels[i].Description + '</a></td><td>' + res.DocumentModels[i].DocumentType + '</td></tr >';
            }
            $('#DocumentCount').html(res.DocumentModels.length);
            $('#DesignSearch tbody').html(designSearch);
            $('#DocumentUrl tbody').html(urlContent);

            $('#tmDetailModalCenter').modal('show');
        } else {
            $('#ServerError').html(res.Errors[0]);
        }

        AddReadMore();
    }

    //

    function Show1ATimeline() {
        $('#1ATimelineModal').modal('show');
    }

    function Show1BTimeline() {
        $('#1BTimelineModal').modal('show');
    }

    document.addEventListener('click', function (event) {
        if ($(event.target.nextElementSibling).text().length < 527 && $(event.target).hasClass('showmore')) {
            $(event.target).addClass('hide')
        }
        else if ($(event.target).hasClass('showmore') && $(event.target.nextElementSibling).text().length > 527) {
            $(event.target).toggleClass('open')
        }
    });

    function AddReadMore() {
        var carLmt = 250;
        var readMoreTxt = " ... Read More";
        var readLessTxt = " Read Less";

        $.each($('.addReadMore'), function (index, value) {
            if ($(this).find(".firstSec").length)
                return;

            var allstr = $(this).text();
            if (allstr.length > carLmt) {
                var firstSet = allstr.substring(0, carLmt);
                var secdHalf = allstr.substring(carLmt, allstr.length);
                var strtoadd = firstSet + "<span class='SecSec'>" + secdHalf + "</span><span class='readMore'  title='Click to Show More'>" + readMoreTxt + "</span><span class='readLess' title='Click to Show Less'>" + readLessTxt + "</span>";
                $(this).html(strtoadd);
            }
        });

        $(document).on("click", ".readMore,.readLess", function () {
            $(this).closest(".addReadMore").toggleClass("showlesscontent showmorecontent");
        });
    }

</script>
