﻿@{
    ViewData["Title"] = "Admin";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container">
    <div class="admin-header d-flex justify-content-between my-3">
        <img src="~/images/logo.png" alt="Logo" />
        <a class="kww-outline-btn">Logout <i class="fas fa-sign-out-alt"></i></a>
    </div>
    <div class="admin-content">
        <ul class="nav nav-pills main-pills nav-justified my-3">
            <li class="active"><a data-toggle="tab" href="#home"><span>Home</span> <i class="fas fa-home"></i></a></li>
            <li><a data-toggle="tab" href="#trademarks">Trademarks <i class="fas fa-trademark"></i></a></li>
            <li><a data-toggle="tab" href="#clients">Clients <i class="fas fa-user"></i></a></li>
            <li><a data-toggle="tab" href="#reports">Reports <i class="fas fa-table"></i></a></li>
            <li><a data-toggle="tab" href="#config">Configure <i class="fas fa-tools"></i></a></li>
        </ul>

        <div class="tab-content">
            <div id="home" class="tab-pane fade in active">
                <ul class="nav nav-pills  breadcrumb">
                    <li><a data-toggle="pill" href="#KeyMatrics">Key Matrics</a></li>
                    <li><a data-toggle="pill" href="#Deadlines">Deadlines and Next Actions</a></li>
                </ul>

                <div class="tab-content">
                    <div id="KeyMatrics" class="tab-pane fade in active">
                        <h3>Key Matrics</h3>
                        <p>Some content.</p>
                    </div>
                    <div id="Deadlines" class="tab-pane fade">
                        <h3>Deadlines and Next Actions</h3>

                    </div>

                </div>


            </div>


            <div id="trademarks" class="tab-pane fade">

                <ul class="nav nav-pills breadcrumb">
                    <li class="active"><a data-toggle="pill" href="#Trademark">Trademarks</a></li>
                    <li><a data-toggle="pill" href="#newtrademarks">New Trademarks</a></li>
                    <li><a data-toggle="pill" href="#importtrademarks">Import Trademarks</a></li>
                    <li><a data-toggle="pill" href="#trademarksRetrieved">Trademarks Retrieved</a></li>
                    <li><a data-toggle="pill" href="#ArchivedImports">Archived TM Imports</a></li>

                </ul>

                <div class="tab-content">
                    <div id="Trademark" class="tab-pane fade in active">
                        <h3>Trademarks</h3>
                        <p>Some content.</p>
                    </div>
                    <div id="newtrademarks" class="tab-pane fade">
                        <h3>New Trademarks</h3>
                        <div class="row">
                            <div class="col-lg-12 text-center">
                                <h2 class="my-3 font-weight-bold">Enter New Trademark</h2>
                                <p>Welcome to TM Manager, Enter your email and password below to access the system.</p>
                            </div>

                            <div class="col-lg-4 col-md-4 col-sm-12 offset-lg-4 offset-md-4 offset-sm-0">

                                <form>
                                    <div class="form-group">
                                        <label for="tradeserial">Trademark Serial Number</label>
                                        <input type="email" class="form-control" id="tradeserial" aria-describedby="emailHelp" placeholder="88910043">
                                    </div>
                                    <div class="form-group">
                                        <label for="email">Email</label>
                                        <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="user@email.com">
                                    </div>
                                    <div class="form-group form-check">
                                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                        <label class="form-check-label" for="exampleCheck1">International TM</label>
                                    </div>

                                    <div class="form-group">
                                        <button type="submit" class="btn btn-block btn-primary kww-filled-btn" data-toggle="modal" data-target="#fetchingDataModel">Get Trademark</button>
                                    </div>

                                </form>
                            </div>

                            <div class="modal" id="fetchingDataModel" tabindex="-1" role="dialog">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">

                                        <div class="modal-body text-center">
                                            <i class="fas fa-sync-alt fa-2x"></i>
                                            <h5>Fetching data</h5>
                                            <p>Retrieving trademark data from the USPTO database. This may take a few seconds.</p>
                                            <a class="btn btn-secondary text-light" data-dismiss="modal">Cancel Action</a>
                                        </div>

                                    </div>
                                </div>
                            </div>


                        </div>

                        @* Already in System *@

                    
                    <div class="text-center">
                        <i class="fas fa-exclamation-circle fa-3x text-danger mb-3"></i>
                        <h4>Already in system!</h4>
                        <p>Trademark with the serial number 88910043 is already in the system.</p>
                        <button type="submit" class="btn btn-block btn-primary kww-filled-btn" >Try Again</button>
                    </div>
               
                        <div class="succes text-center">
                            <i class="fas fa-thumbs-up fa-3x text-success mb-3"></i>
                            <h4>Success!</h4>
                            <p>Trademark with the serial number 88910043 was found! This trademark is not yet present in the system</p>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <h3>Three Ships</h3>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label"><strong>Client Name</strong></label>
                            <label class="col-sm-10 col-form-label">Acme Industries, Inc.</label>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label"><strong>Primary Email</strong></label>
                            <label class="col-sm-10 col-form-label">user@email.com</label>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label"><strong>Primary Phone</strong></label>
                            <label class="col-sm-10 col-form-label">(734) 777-0000</label>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label"><strong>Street Address</strong></label>
                            <label class="col-sm-10 col-form-label">123 Elm</label>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label"><strong>City</strong></label>
                            <label class="col-sm-10 col-form-label">Ann Arbor</label>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label"><strong>State/Province</strong></label>
                            <label class="col-sm-10 col-form-label">MI</label>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label"><strong>Zip Code</strong></label>
                            <label class="col-sm-10 col-form-label">48105</label>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label"><strong>Country</strong></label>
                            <label class="col-sm-10 col-form-label">USA</label>
                        </div>

                        <div class="row">
                            <div class="col-lg-6"><button class="btn-danger border-0 px-5 py-2">Reject</button></div>
                            <div class="col-lg-6"><button class="btn-success border-0 px-5 py-2 float-right">Accept</button></div>
                            <label class="col-sm-10 col-form-label">NOTE: if you accept, a new trademark will be entered into the system, if you reject, a new trademark will NOT be created.</label>

                        </div>

                    </div>
                    <div id="importtrademarks" class="tab-pane fade">
                        <h3>Import Trademarks</h3>
                        <div class="text-center">
                            <h2 class="my-3 font-weight-bold">Import Trademark List</h2>
                            <p>Upload a list of trademarks with email owners.</p>

                            <div class="upload-btn-wrapper">
                                <i class="fas fa-upload"></i>
                                <button class="btn">Upload a file</button>
                                <input type="file" name="myfile" />
                            </div>
                        </div>
                    </div>
                    <div id="trademarksRetrieved" class="tab-pane fade">
                        <h3>Trademarks Retrieved</h3>
                        <h3 class="text-center">Trademarks Batch Groups (last 30 days)</h3>
                        <div class="accordion" id="accordionEx" role="tablist" aria-multiselectable="true">
                            <!-- Accordion card -->
                            <div class="card">

                                <!-- Card header -->
                                <div class="card-header" role="tab" id="headingOne1">
                                    <a data-toggle="collapse" data-parent="#accordionEx" href="#collapseOne1" aria-expanded="true"
                                       aria-controls="collapseOne1">
                                        <h5 class="mb-0">
                                            <i class="fas fa-plus-square"></i>
                                            TM Batch 2021-01-22 08:57
                                        </h5>
                                        <p>6 of 6 trademarks retrieved</p>
                                    </a>
                                </div>
                                <!-- Card body -->
                                <div id="collapseOne1" class="collapse show" role="tabpanel" aria-labelledby="headingOne1"
                                     data-parent="#accordionEx">
                                    <div class="card-body">
                                        <table class="w-100">
                                            <thead>
                                            <th scope="row">Email</th>
                                            <th>Client Name</th>
                                            <th>Serial Number</th>
                                            <th>Trademark Name</th>
                                            <th>Date Imported</th>
                                            <th>Status</th>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        user@email.com
                                                    </td>
                                                    <td>Acme Industries</td>
                                                    <td>8891004</td>
                                                    <td>Three Ships</td>
                                                    <td>2021.21 08:57:13</td>
                                                    <td><button class="btn kww-filled-btn w-100 p-0">Pending</button></td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        user@email.com
                                                    </td>
                                                    <td>Acme Industries</td>
                                                    <td>8891004</td>
                                                    <td>Three Ships</td>
                                                    <td>2021.21 08:57:13</td>
                                                    <td><i class="fas fa-check mr-2 text-success"></i><span>Accepted</span></td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        user@email.com
                                                    </td>
                                                    <td>Acme Industries</td>
                                                    <td>8891004</td>
                                                    <td>Three Ships</td>
                                                    <td>2021.21 08:57:13</td>
                                                    <td><i class="far fa-times-circle mr-2 text-danger"></i><span>Rejected</span></td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        user@email.com
                                                    </td>
                                                    <td>Acme Industries</td>
                                                    <td>8891004</td>
                                                    <td>Three Ships</td>
                                                    <td>2021.21 08:57:13</td>
                                                    <td><i class="fas fa-check mr-2 text-success"></i><span>Accepted</span></td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        user@email.com
                                                    </td>
                                                    <td>Acme Industries</td>
                                                    <td>8891004</td>
                                                    <td>Three Ships</td>
                                                    <td>2021.21 08:57:13</td>
                                                    <td><i class="fas fa-check mr-2 text-success"></i><span>Accepted</span></td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        user@email.com
                                                    </td>
                                                    <td>Acme Industries</td>
                                                    <td>8891004</td>
                                                    <td>Three Ships</td>
                                                    <td>2021.21 08:57:13</td>
                                                    <td><i class="far fa-times-circle mr-2 text-danger"></i><span>Rejected</span></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>

                            </div>
                            <!-- Accordion card -->
                            <!-- Accordion card -->
                            <div class="card">

                                <!-- Card header -->
                                <div class="card-header" role="tab" id="headingOne2">
                                    <a data-toggle="collapse" data-parent="#accordionEx" href="#collapseOne2" aria-expanded="false"
                                       aria-controls="collapseOne2">
                                        <h5 class="mb-0">
                                            <i class="fas fa-plus-square"></i>
                                            TM Batch 2021-01-22 08:57
                                        </h5>
                                        <p>6 of 6 trademarks retrieved</p>
                                    </a>
                                </div>
                                <!-- Card body -->
                                <div id="collapseOne2" class="collapse show" role="tabpanel" aria-labelledby="headingOne2"
                                     data-parent="#accordionEx">
                                    <div class="card-body">
                                        <table class="w-100">
                                            <thead>
                                            <th scope="row">Email</th>
                                            <th>Client Name</th>
                                            <th>Serial Number</th>
                                            <th>Trademark Name</th>
                                            <th>Date Imported</th>
                                            <th>Status</th>
                                            </thead>
                                            <tbody>

                                                <tr>
                                                    <td>
                                                        user@email.com
                                                    </td>
                                                    <td>Acme Industries</td>
                                                    <td>8891004</td>
                                                    <td>Three Ships</td>
                                                    <td>2021.21 08:57:13</td>
                                                    <td><i class="fas fa-check mr-2 text-success"></i><span>Accepted</span></td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        user@email.com
                                                    </td>
                                                    <td>Acme Industries</td>
                                                    <td>8891004</td>
                                                    <td>Three Ships</td>
                                                    <td>2021.21 08:57:13</td>
                                                    <td><i class="fas fa-exclamation-triangle mr-2 text-primary"></i><span>Unavailable</span></td>
                                                </tr>

                                                <tr>
                                                    <td>
                                                        user@email.com
                                                    </td>
                                                    <td>Acme Industries</td>
                                                    <td>8891004</td>
                                                    <td>Three Ships</td>
                                                    <td>2021.21 08:57:13</td>
                                                    <td><i class="far fa-times-circle mr-2 text-danger"></i><span>Rejected</span></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>

                            </div>
                            <!-- Accordion card -->
                        </div>
                    </div>

                    <div id="ArchivedImports" class="tab-pane fade">
                        <h3>Import Trademarks</h3>

                        <h2 class="my-3 font-weight-bold text-center">View Archived TM Import Batches (90 day max)</h2>


                        

                        <!-- Accordion card -->
                        <div class="card">

                            <!-- Card header -->
                            <div class="card-header" role="tab" id="headingOne2">
                                <a data-toggle="collapse" data-parent="#accordionEx" href="#collapseOne2" aria-expanded="false"
                                   aria-controls="collapseOne2">
                                    <h5 class="mb-0">
                                        <i class="fas fa-plus-square"></i>
                                        TM Batch 2021-01-22 08:57
                                    </h5>
                                    <p>2 of 3 trademarks retrieved</p>
                                </a>
                            </div>
                            <!-- Card body -->
                            <div id="collapseOne2" class="collapse show" role="tabpanel" aria-labelledby="headingOne2"
                                 data-parent="#accordionEx">
                                <div class="card-body">
                                    <table class="w-100">
                                        <thead>
                                        <th>Email</th>
                                        <th>Client Name</th>
                                        <th>Serial Number</th>
                                        <th>Trademark Name</th>
                                        <th>Date Imported</th>
                                        <th>Status</th>
                                        </thead>

                                        <tbody>
                                            <tr>
                                                <td>
                                                    user@email.com
                                                </td>
                                                <td>Acme Industries</td>
                                                <td>8891004</td>
                                                <td>Three Ships</td>
                                                <td>2021.21 08:57:13</td>
                                                <td><i class="fas fa-check mr-2 text-success"></i><span>Accepted</span></td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    user@email.com
                                                </td>
                                                <td>Acme Industries</td>
                                                <td>8891004</td>
                                                <td>Three Ships</td>
                                                <td>2021.21 08:57:13</td>
                                                <td><i class="fas fa-exclamation-triangle mr-2 text-primary"></i><span>Unavailable</span></td>
                                            </tr>

                                            <tr>
                                                <td>
                                                    user@email.com
                                                </td>
                                                <td>Acme Industries</td>
                                                <td>8891004</td>
                                                <td>Three Ships</td>
                                                <td>2021.21 08:57:13</td>
                                                <td><i class="far fa-times-circle mr-2 text-danger"></i><span>Rejected</span></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                        </div>
                        <!-- Accordion card -->

                    </div>
                </div>

            </div>
            <div id="clients" class="tab-pane fade">
                <ul class="breadcrumb">
                    <li><a href="#">sub nav link</a></li>
                    <li><a href="#">sub nav link</a></li>
                </ul>
                <h3>Clients</h3>
            </div>
            <div id="reports" class="tab-pane fade">
                <ul class="breadcrumb">
                    <li><a href="#">sub nav link</a></li>
                    <li><a href="#">sub nav link</a></li>
                </ul>
                <h3>reports</h3>
            </div>
            <div id="config" class="tab-pane fade">
                <ul class="breadcrumb">
                    <li><a href="#">sub nav link</a></li>
                    <li><a href="#">sub nav link</a></li>
                </ul>
                <h3>Configure</h3>
            </div>
        </div>
    </div>
    <div class="admin-footer-logo float-right mb-5">
        <img src="~/images/Logo.Masked.png" />
    </div>
</div>

