﻿@{
    ViewData["Title"] = "Registration";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container">
    <div class="row vh-100">
        <div class="col-lg-12">
            <div class="kww-registration-logo my-4">
                <img src="~/images/logo.png" />
            </div>
            <div class="kww-regist-outer-cont">
                <div class="kww-regist-inner-cont">
                    <div class="header">
                        <h2 class="text-white m-0 pr-5">TM Manager-Account Signup</h2>
                        <a href="#"><i class="fas fa-times"></i></a>
                    </div>
                    
                    <div class="content">
                        <h4>Your account has been set up!</h4>
                        <p>Congratulations! Your account in TM Manager has now been set up. You can now use your credentials to login to the system. </p>

                        <div class="row">
                            <div class="col-lg-4 col-md-4 col-sm-12">
                                <form>
                                    <div class="form-group row">
                                        <label for="Email" class="col-lg-6"><strong>Email</strong></label>
                                        <label for="Email" class="col-lg-6">user@gmail.com</label>

                                    </div>

                                    <div class="form-group row">
                                        <label for="Email" class="col-lg-6"><strong>Password</strong></label>
                                        <label for="Email" class="col-lg-6">*********</label>

                                    </div>

                                    <div class="form-group">
                                        <button type="submit" class="btn btn-primary btn-xl">Login to the System</button>

                                    </div>
                                </form>
                            </div>
                        </div>



                    


                    </div>

                </div>
            </div>
        </div>
    </div>
</div>



