﻿@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container mt-4">
    <div class="row">
        <div class="col-lg-4">  <img class="w-100" src="~/images/logo.png" alt="Logo" /></div>
        <div class="col-lg-8">
            <ul class="attorneyMenu">
                <li><a href="#">Trademarks</a></li>
                <li><a href="#">Clients</a></li>
                <li><a href="#">Attorneys</a></li>
                <li><a href="#">Custom Parameters</a></li>
                <li><a href="#">Logout</a></li>
            </ul>
        </div>
    </div>

    <div class="col-lg-4 col-md-4 col-sm-12 offset-lg-4 offset-md-4 offset-sm-0">

        <div class="kww-create-attorney">

            <h2 class="text-center my-3">Create New Attorney</h2>

            <form>
                <div class="form-group">
                    <label for="firstname">Attorney First Name</label>
                    <input type="email" class="form-control" id="firstname">
                </div>
                <div class="form-group">
                    <label for="lastname">Attorney Last Name</label>
                    <input type="email" class="form-control" id="lastname">
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Email Address</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-block btn-primary kww-filled-btn">Save</button>
                </div>

            </form>
        </div>

        </div>

    </div>



