﻿@model TmManager.Models.ResetPasswordModel
@{
    ViewData["Title"] = "Forgot Password";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container-fluid mt-4" id="divForgotPassword">
    <div class="row">
        <div class="col-xs kww-form-box">
            <img src="~/images/logo.png" class="fullwidth" />
            <h3 class="text-center my-3">Forgot Password?</h3>
            <p>Enter your email below and we'll send you reset instructions.</p>
            <form class="formWrapper" method="post" asp-action="forgotpassword" asp-controller="home" data-ajax="true" data-ajax-success="OnSuccessReset" novalidate>
                <div class="form-group">
                    <label for="exampleInputEmail1">Email <span class="text-danger">*</span></label>
                    <input asp-for="Email" autocomplete="off" aria-describedby="emailHelp" autofocus placeholder="Enter email" class="form-control" />
                    <span asp-validation-for="Email" class="emailError"></span>
                </div>

                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-xl">Reset Password</button>
                </div>

                <p class="text-center mt-4"><a href="/home/index"><b>Nevermind</b></a></p>
            </form>
        </div>
    </div>
</div>


<div class="container-fluid mt-4 d-none" id="divEmail">
    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-12 offset-lg-4 offset-md-4 offset-sm-0">
            <div class="kww-form-box">
                <img src="~/images/logo.png" class="fullwidth" />
                <h2 class="text-center my-3">Email Sent</h2>
                <p>An email has been sent to your inbox with directions to reset your password.</p>
                <form>
                    <div class="form-group">
                        <a href="/home/index" class="btn btn-primary btn-xl">Back to Login Screen</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    function OnSuccessReset(res) {
        if (res.IsSuccess == false) {
            if (res.Errors != undefined && res.Errors.length > 0) {
                $('.emailError').html(res.Errors[0]);
            }
        }
        else {
            $('#divForgotPassword').addClass("d-none");
            $('#divEmail').removeClass("d-none");
        }
    }
</script>
