﻿@model TmManager.Models.LoginViewModel
@using Kendo.Mvc.UI
@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container-fluid mt-4">
    <div class="row">
        <div class="col-xs kww-form-box">
            <img src="~/images/logo.png" class="fullwidth" />
            <h3 class="text-center my-3">Login</h3>
            <p>Welcome to TM Manager, Enter your email and password below to access the system.</p>
            <form class="formWrapper" method="post" asp-action="index" asp-controller="home" novalidate>
                <div class="form-group">
                    <label for="exampleInputEmail1">Email <span class="text-danger">*</span></label>
                    <input asp-for="Username" autocomplete="off" autofocus placeholder="Username" class="form-control" />
                    <span asp-validation-for="Username" class=""></span>
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Password <span class="text-danger">*</span></label>
                    <input asp-for="Password" autocomplete="off" placeholder="Password" autofocus class="form-control" type="password" />
                    <span asp-validation-for="Password" class=""></span>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-xl">Login</button>
                </div>
                <div class="m-login-btm text-center">
                    <div class="custom-checkbox-style">
                        <label class="checkbox-custome">
                            <input asp-for="RememberMe" name="RememberMe" type="checkbox" checked="checked">
                            <span class="checkmark"></span>
                            Stay Logged In?
                        </label>
                    </div>
                    <div class="">
                        <a href="/home/forgotpassword" class="forgot-pass"><strong>Forgot your password</strong></a>
                    </div>
                </div>
                <p class="text-center mt-4">Don't Have an account? <a href="#" class="d-sm-block"><b>Register</b></a></p>
            </form>
        </div>
    </div>
</div>



