﻿@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container mt-4">
    <div class="row">
        <div class="col-lg-4">  <img class="w-100" src="~/images/logo.png" alt="Logo" /></div>
        <div class="col-lg-8">
            <ul class="attorneyMenu">
                <li><a href="#">Dashboard</a></li>
                <li><a href="#">My Profile</a></li>
                <li><a href="#">Logout</a></li>
            </ul>
        </div>
    </div>


    <div class="row">
        <div class="col-lg-12">
            <h2 class="my-3">My Profile</h2>
        </div>
       
        <div class="col-lg-8 d-block mx-auto">

            <form class="formWrapper">
                <div class="row">
                    <div class="form-group col-lg-6">
                        <label class="d-block">Trademark Owner</label>
                        <label>KW Works LLC</label>
                    </div>
                    <div class="col-lg-6">
                        <label><i class="fas fa-exclamation-triangle"></i> If you need to update the trademark owner please contact us.</label>
                    </div>
                    <div class="form-group col-lg-6">
                        <label for="firstname">Contact Person's First Name</label>
                        <input type="text" class="form-control" id="firstname">
                    </div>
                    <div class="col-lg-6">
                   

                    </div>
                    <div class="form-group col-lg-6">
                        <label for="password">New Password</label>
                        <input type="password" id="password" class="form-control" aria-describedby="emailHelp">
                    </div>
                    <div class="col-lg-6"></div>
                    <div class="form-group col-lg-6">
                        <label for="confirmpassword">Confirm New Password</label>
                        <input type="password" id="confirmpassword" class="form-control" aria-describedby="emailHelp">
                    </div>
                    <div class="col-lg-6"></div>
                    <div class="form-group col-lg-6">
                        <label class="d-block">Company Street Address</label>
                        <label>1327 Jones Drive, STE 106</label>
                    </div>
                    <div class="col-lg-6"> 
                    <label><i class="fas fa-exclamation-triangle"></i> If you need to update your company street address,please contact us.</label>
                    </div>
                    <div class="form-group col-lg-6">
                        <label class="d-block">City</label>
                        <label>Ann Arbor</label>
                    </div>
                    <div class="col-lg-6"></div>
                    <div class="form-group col-lg-6">
                        <label class="d-block">State</label>
                        <label>MI</label>
                    </div>
                    <div class="col-lg-6"></div>
                    <div class="form-group col-lg-6">
                        <label class="d-block">Zip Code</label>
                        <label>48105</label>
                    </div>
                    <div class="col-lg-6"></div>
                    <div class="form-group col-lg-6">
                        <label for="address">Alternate Street Address</label>
                        <input type="text" id="address" class="form-control">
                    </div>
                    <div class="col-lg-6"></div>
                    <div class="form-group col-lg-6">
                        <label for="AlternateCity">Alternate City</label>
                        <input type="text" id="AlternateCity" class="form-control">
                    </div>
                    <div class="col-lg-6"></div>

                    <div class="form-group col-lg-6">
                        <label for="AlternateState">Alternate State</label>
                        <input type="text" id="AlternateState" class="form-control">
                    </div>
                    <div class="col-lg-6"></div>

                    <div class="form-group col-lg-6">
                        <label for="AlternateZip">Alternate Zip Code</label>
                        <input type="text" id="AlternateZip" class="form-control">
                    </div>
                    <div class="col-lg-6"></div>

                    <div class="form-group col-lg-6">
                        <label class="d-block">Primary Telephone Number</label>
                        <label>734.555.1234</label>
                    </div>
                    <div class="col-lg-6">
                        <label><i class="fas fa-exclamation-triangle"></i> If you need to update your primary telephone number,please contact us.</label>
                    </div>

                    <div class="form-group col-lg-6">
                        <label for="AlternateTelephone">Alternate Telephone Number</label>
                        <input type="text" id="AlternateTelephone" class="form-control">
                    </div>
                    <div class="col-lg-6">
                        <label for="Type">Type</label>
                        <select class="form-control">
                            <option>please select</option>
                        </select>
                    </div>

                    <div class="form-group col-lg-6">
                        <label for="AlternateTelephone2">Alternate Telephone Number</label>
                        <input type="text" id="AlternateTelephone2" class="form-control">
                    </div>
                    <div class="col-lg-6">
                        <label for="type">Type</label>
                        <select id="type" class="form-control">
                            <option>please select</option>
                        </select>
                    </div>

                    <div class="form-group col-lg-6">
                        <label class="d-block">Primary Email</label>
                        <label>kirk@kwworks.com</label>
                    </div>
                    <div class="col-lg-6">
                        <label><i class="fas fa-exclamation-triangle"></i> If you need to update your primary email address,please contact us.</label>
                    </div>

                    <div class="form-group col-lg-6">
                        <label for="AlternateEmail">Alternate Email Address</label>
                        <input type="text" id="AlternateEmail" class="form-control">
                    </div>
                    <div class="col-lg-6"></div>

                    <div class="form-group col-lg-6">
                        <label for="AlternateEmail2">Alternate Email Address</label>
                        <input type="text" id="AlternateEmail2" class="form-control">
                    </div>
                    <div class="col-lg-6"></div>

                    <div class="form-group col-lg-6">
                        <label for="AlternateEmail3">Alternate Email Address</label>
                        <input type="text" id="AlternateEmail3" class="form-control">
                    </div>
                    <div class="col-lg-6"></div>

                    <div class="form-group col-lg-6">
                        <label for="AlternateEmail4">Alternate Email Address</label>
                        <input type="text" id="AlternateEmail4" class="form-control">
                    </div>
                    <div class="col-lg-6"></div>


                    <div class="form-group col-lg-6">
                        <button type="submit" class="btn btn-block btn-primary kww-filled-btn">Save</button>
                    </div>


                </div>

            </form>
        </div>


</div>
          
        
</div>



