﻿@{
    ViewData["Title"] = "Registration";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container">
    <div class="row vh-100">
        <div class="col-lg-12">
            <div class="kww-registration-logo my-4">
                <img src="~/images/logo.png" />
            </div>
            <div class="kww-regist-outer-cont">
                <div class="kww-regist-inner-cont">
                    <div class="header">
                        <h1 class="text-white m-0 pr-5">TM Manager-Account Signup</h1>
                        <a href="#"><i class="fas fa-times"></i></a>
                    </div>
                    
                    <div class="content">
                        <h4>Verify your email</h4>
                        <p>Please enter your email. If your email is enabled for account access, you will need your access code to continue to your profile setup.</p>

                        <div class="row">
                            <div class="col-lg-4 col-md-4 col-sm-12">
                                <form class="formWrapper">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Email <span class="text-danger">*</span></label>
                                        <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="User@email.com">
                                    </div>

                                    <div class="form-group">
                                        <button type="submit" class="btn btn-primary btn-xl mt-3">Verify Email</button>
                                        <button type="button" class="btn btn-outline-secondary btn-xl mt-3" data-toggle="modal" data-target="#cancelModalCenter">Cancel</button>
                                    </div>
                                </form>
                            </div>
                        </div>



                        @* success email found *@
                        <h4>Success!</h4>
                        <p>
                            The email: <b>user@email.com</b> has been found! <br />
                            Please enter the access code you received and then select the button below to start creating your profile. <br />
                            Once your profile is set up you will be able to login to the system and access your dashboard.
                        </p>

                        <div class="row">
                            <div class="col-lg-4 col-md-4 col-sm-12">
                                <form class="formWrapper">
                                    <div class="form-group">
                                        <label for="accesscode">Access Code <span class="text-danger">*</span></label>
                                        <input type="text" class="form-control" id="accesscode">
                                    </div>

                                    <div class="form-group">
                                        <button type="submit" class="btn btn-primary btn-xl mt-5">Create Profile</button>
                                    </div>
                                </form>
                            </div>
                        </div>


                        @* Success validatoin *@

                    <h4>Success!</h4>
                    <p>Your access code is valid! Select continue to proceed with your account registration.</p>

                        <div class="row">
                            <div class="col-lg-4 col-md-4 col-sm-12">
                                <form class="formWrapper">
                                    <div class="form-group">
                                        <label for="email">Email <span class="text-danger">*</span></label>
                                        <input type="text" class="form-control" id="email" aria-describedby="emailHelp" placeholder="User@email.com">
                                    </div>

                                    <div class="form-group">
                                        <button type="submit" class="btn btn-primary btn-xl">Continue</button>
                                        <button type="button" class="btn btn-outline-secondary btn-xl mt-3">Cancel</button>
                                    </div>
                                </form>
                            </div>
                        </div>




                        <!-- Modal -->
                        <div class="modal fade" id="cancelModalCenter" tabindex="-1" role="dialog" aria-labelledby="cancelModalCenterTitle" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                    <div class="modal-body text-center">
                                        @*<i class="fas fa-exclamation-circle fa-2x"></i>*@
                                        <img class="mb-3" src="~/images/Alerticon.png" />
                                        <h5>Are you sure to want to stop?</h5>
                                        <p>All your changes will be lost. Select yes to proceed, no to cancel this action.</p>

                                        <footer class="d-flex justify-content-between">
                                            <button type="button" class="btn btn-dark" data-dismiss="modal">No, Cancel.</button>
                                            <button type="button" class="btn btn-danger">Yes, do it!</button>
                                        </footer>
                                    </div>

                                </div>
                            </div>
                        </div>


                    </div>

                </div>
            </div>
        </div>
    </div>
</div>



