﻿@{
    ViewData["Title"] = "Registration Steps";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container">
    <div class="row d-flex vh-100">
        <div class="col-lg-12">
            <div class="kww-registration-logo my-4">
                <img src="~/images/logo.png" />
            </div>
            <div class="kww-regist-outer-cont">
                <div class="kww-regist-inner-cont">
                    <div class="header">
                        <h2 class="text-white m-0 pr-5">TM Manager-Account Signup</h2>
                        <a href="#"><i class="fas fa-times"></i></a>
                    </div>
                    <div class="content">
                        <div class="progress-container mb-5">
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" style="width: 20%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <p class="text-center">Step 1 of 5</p>
                        </div>


                        <h4>Review your account information.</h4>
                        <p>Please enter your email. If your email is enabled for account access, you will need your access code to continue to your profile setup.</p>

                        <div class="row">
                            <label class="col-sm-3 col-form-label"><strong>Client Name</strong></label>
                            <label class="col-sm-9 col-form-label">Acme Industries, Inc.</label>
                        </div>
                        <div class="row">
                            <label class="col-sm-3 col-form-label"><strong>Primary Email</strong></label>
                            <label class="col-sm-9 col-form-label">Acme Industries, Inc.</label>
                        </div>
                        <div class="row">
                            <label class="col-sm-3 col-form-label"><strong>Primary Phone</strong></label>
                            <label class="col-sm-9 col-form-label">Acme Industries, Inc.</label>
                        </div>
                        <div class="row">
                            <label class="col-sm-3 col-form-label"><strong>Street Address</strong></label>
                            <label class="col-sm-9 col-form-label">Acme Industries, Inc.</label>
                        </div>
                        <div class="row">
                            <label class="col-sm-3 col-form-label"><strong>City</strong></label>
                            <label class="col-sm-9 col-form-label">Ann Arbor</label>
                        </div>
                    </div>
                    <div class="footer-btn-container">
                        <div class="footer-btn">
                            <div><a href="/home/registration" class="btn btn-info btn-iconlft"><i class="fas fa-arrow-left"></i><span>Last</span></a></div>
                            <div><a href="/home/registrationstep2" class="btn btn-info btn-iconrht"><span>Next</span><i class="fas fa-arrow-right"></i></a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



