﻿@{
    ViewData["Title"] = "Registration";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container">
    <div class="row vh-100">
        <div class="col-lg-12">
            <div class="kww-registration-logo my-4">
                <img src="~/images/logo.png" />
            </div>
            <div class="kww-regist-outer-cont">
                <div class="kww-regist-inner-cont">
                    <div class="header">
                        <h2 class="text-white m-0 pr-5">TM Manager-Account Signup</h2>
                        <a href="#"><i class="fas fa-times"></i></a>
                    </div>

                    <div class="content">
                        <h5>Request Account Access</h5>
                        <p>Fill out the form below to request account access. All fields are mandatory.</p>

                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-12">
                                <form>
                                    <div class="form-group">
                                        <label for="name">Name</label>
                                        <input type="text" class="form-control" id="name">
                                    </div>
                                    <div class="form-group">
                                        <label for="Company">Company</label>
                                        <input type="text" class="form-control" id="Company">
                                    </div>
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Email</label>
                                        <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="User@email.com">
                                    </div>
                                      <div class="form-group">
                                        <label for="Company">Company</label>
                                        <input type="text" class="form-control" id="Company">
                                    </div>


                                    <div class="form-group">
                                        <button type="submit" class="btn btn-primary btn-xl">Request Account Access</button>
                                         </div>
                                </form>
                            </div>
                        </div>




                      


                    </div>

                </div>
            </div>
        </div>
    </div>
</div>



