﻿@{
    ViewData["Title"] = "Registration Steps";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container">
    <div class="row d-flex vh-100">
        <div class="col-lg-12">
            <div class="kww-registration-logo my-4">
                <img src="~/images/logo.png" />
            </div>
            <div class="kww-regist-outer-cont">
                <div class="kww-regist-inner-cont w-100">
                    <div class="header">
                        <h2 class="text-white m-0 pr-5">TM Manager-Account Signup</h2>
                        <a href="#"><i class="fas fa-times"></i></a>
                    </div>

                    <div class="content">
                        <div class="progress-container">
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" style="width: 100%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <p class="text-center">Step 5 of 5</p>
                        </div>

                        <div class="form-group mt-3">
                            <h4>Create account password</h4>
                            <p>Create a password for the account.</p>

                            <div class="row">
                                <div class="col-lg-4" >
                                    
                                        <div class="form-group">
                                            <label for="username"><b>Email</b></label>
                                            <label for="username" class="d-block">User@email.com</label>
                                        </div>
                                   
                                    <form class="formWrapper">
                                        <div class="form-group">
                                            <label for="password">Password <span class="text-danger">*</span></label>
                                            <input type="password" class="form-control" id="password" aria-describedby="emailHelp" placeholder="Enter Password">
                                        </div>
                                        <div class="form-group">
                                            <label for="password">Confirm Password <span class="text-danger">*</span></label>
                                            <input type="password" class="form-control" id="password" aria-describedby="emailHelp" placeholder="Re-enter Password">
                                        </div>


                                    </form>
                                </div>
                            </div>


                        </div>
                     
                    </div>

                    <div class="footer-btn-container">
                        <div class="footer-btn">
                            <div><a href="#" class="btn btn-info btn-iconlft"><i class="fas fa-arrow-left"></i><span>Last</span></a></div>
                            <div><a href="#" class="btn btn-info btn-iconrht"><span>Next</span><i class="fas fa-arrow-right"></i></a></div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>



