﻿@{
    ViewData["Title"] = "Registration Steps";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container">
    <div class="row d-flex vh-100">
        <div class="col-lg-12">
            <div class="kww-registration-logo my-4">
                <img src="~/images/logo.png" />
            </div>
            <div class="kww-regist-outer-cont">
                <div class="kww-regist-inner-cont w-100">
                    <div class="header">
                        <h2 class="text-white m-0 pr-5">TM Manager-Account Signup</h2>
                        <a href="#"><i class="fas fa-times"></i></a>
                    </div>

                    <div class="content">
                        <div class="progress-container">
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" style="width: 40%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <p class="text-center">Step 2 of 5</p>
                        </div>

                        <div class="form-group mt-3">
                            <h4>Add Additional Contacts</h4>
                            <p>Enter the name and contact information for additoinal person for this account.</p>
                            <button class="btn btn-success add-contract-btn" data-toggle="modal" data-target="#addContactModalCenter"><i class="fas fa-plus"></i> Add Contact</button>
                            <hr />
                            <div class="row">
                                <div class="col-lg-3">
                                    <strong>Status</strong>
                                    <p>Primary</p>
                                </div>
                                <div class="col-lg-3">
                                    <strong>Name</strong>
                                    <p>Bill Smith</p>
                                </div>
                                <div class="col-lg-3">
                                    <strong>Email</strong>
                                    <p>user@gmail.com</p>
                                </div>
                                <div class="col-lg-3">
                                    <strong>Phone</strong>
                                    <p>(734)-777-0000</p>
                                </div>
                            </div>
                        </div>


                        <!-- Modal -->
                        <div class="modal fade" id="addContactModalCenter" tabindex="-1" role="dialog" aria-labelledby="cancelModalCenterTitle" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                    <div class="modal-body">
                                        <div class="text-center">
                                            <h2>Add Contact</h2>
                                            <p>Enter additional account contacts.</p>
                                        </div>
                                        <form class="formWrapper">
                                            <div class="row">
                                                <div class="col-lg-6">
                                                    <div class="form-group">
                                                        <label for="exampleFormControlInput1">First Name <span class="text-danger">*</span> </label>
                                                        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="First Name">
                                                    </div>
                                                </div>
                                                <div class="col-lg-6">
                                                    <div class="form-group">
                                                        <label for="exampleFormControlInput1">Last Name <span class="text-danger">*</span></label>
                                                        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Last Name">
                                                    </div>
                                                </div>

                                                <div class="col-lg-6">
                                                    <div class="form-group">
                                                        <label for="exampleFormControlInput1">Phone <span class="text-danger">*</span></label>
                                                        <input class="form-control" id="exampleFormControlInput1" placeholder="(000)-000-0000">
                                                    </div>
                                                </div>
                                                <div class="col-lg-6">
                                                    <div class="form-group">
                                                        <label for="exampleFormControlInput1">Phone Type <span class="text-danger">*</span></label>
                                                        <select class="form-control">
                                                            <option>Office</option>
                                                            <option>Home</option>
                                                            <option>Office</option>
                                                        </select>

                                                    </div>
                                                </div>

                                                <div class="col-lg-6">
                                                    <div class="form-group">
                                                        <label for="exampleFormControlInput1">Email address <span class="text-danger">*</span></label>
                                                        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
                                                    </div>
                                                </div>
                                                <div class="col-lg-6">  </div>



                                                <div class="col-lg-6">
                                                    <div class="form-group">
                                                        <label for="exampleFormControlInput1">Street Address</label>
                                                        <input class="form-control" id="exampleFormControlInput1" placeholder="Street Address">
                                                    </div>
                                                </div>
                                                <div class="col-lg-6">
                                                    <div class="form-group">
                                                        <label for="exampleFormControlInput1">City</label>
                                                        <input class="form-control" id="exampleFormControlInput1" placeholder="City">
                                                    </div>
                                                </div>

                                                <div class="col-lg-6">
                                                    <div class="form-group">
                                                        <label for="exampleFormControlInput1">State</label>
                                                        <input class="form-control" id="exampleFormControlInput1" placeholder="Status">
                                                    </div>
                                                </div>
                                                <div class="col-lg-6">
                                                    <div class="form-group">
                                                        <label for="exampleFormControlInput1">Zip Code</label>
                                                        <input class="form-control" id="exampleFormControlInput1" placeholder="Zip Code">
                                                    </div>
                                                </div>

                                                <div class="col-lg-6">
                                                    <div class="form-group">
                                                        <label for="exampleFormControlInput1">Country <span class="text-danger">*</span></label>
                                                        <select class="form-control">
                                                            <option>USA</option>
                                                            <option>Other Country</option>
                                                            <option>USA</option>
                                                        </select>

                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                        <footer class="d-flex justify-content-between">
                                            <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel.</button>
                                            <button type="button" class="btn btn-success">Add Contact</button>
                                        </footer>
                                    </div>

                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="footer-btn-container">
                        <div class="footer-btn">
                            <div><a href="/home/registrationstep" class="btn btn-info btn-iconlft"><i class="fas fa-arrow-left"></i><span>Last</span></a></div>
                            <div><a href="/home/registrationstep3" class="btn btn-info btn-iconrht"><span>Next</span><i class="fas fa-arrow-right"></i></a></div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>



