﻿@{
    ViewData["Title"] = "Registration Steps";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container">
    <div class="row d-flex vh-100">
        <div class="col-lg-12">
            <div class="kww-registration-logo my-4">
                <img src="~/images/logo.png" />
            </div>
            <div class="kww-regist-outer-cont">
                <div class="kww-regist-inner-cont w-100">
                    <div class="header">
                        <h2 class="text-white m-0 pr-5">TM Manager-Account Signup</h2>
                        <a href="#"><i class="fas fa-times"></i></a>
                    </div>

                    <div class="content">
                        <div class="progress-container">
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" style="width: 60%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <p class="text-center">Step 3 of 5</p>
                        </div>


                        <h4 class="mt-3">Primary Contacts</h4>
                        <p>Enter the name and contact information for the primary contact person for this account.</p>
                        <form class="formWrapper">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label for="exampleFormControlInput1">First Name <span class="text-danger">*</span></label>
                                        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="First Name">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label for="exampleFormControlInput1">Last Name <span class="text-danger">*</span></label>
                                        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Last Name">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label for="exampleFormControlInput1">Email address <span class="text-danger">*</span></label>
                                        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label for="exampleFormControlInput1">Phone <span class="text-danger">*</span></label>
                                        <input class="form-control" id="exampleFormControlInput1" placeholder="(000)-000-0000">
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label for="exampleFormControlInput1">Phone Type <span class="text-danger">*</span></label>
                                        <select class="form-control">
                                            <option>Office</option>
                                            <option>Home</option>
                                            <option>Office</option>
                                        </select>

                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label for="exampleFormControlInput1">Street Address</label>
                                        <input class="form-control" id="exampleFormControlInput1" placeholder="Street Address">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label for="exampleFormControlInput1">City</label>
                                        <input class="form-control" id="exampleFormControlInput1" placeholder="City">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label for="exampleFormControlInput1">Status</label>
                                        <input class="form-control" id="exampleFormControlInput1" placeholder="Status">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label for="exampleFormControlInput1">Zip Code</label>
                                        <input class="form-control" id="exampleFormControlInput1" placeholder="Zip Code">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label for="exampleFormControlInput1">Country <span class="text-danger">*</span></label>
                                        <select class="form-control">
                                            <option>USA</option>
                                            <option>Other Country</option>
                                            <option>USA</option>
                                        </select>

                                    </div>
                                </div>
                            </div>
                        </form>


                    </div>
                    <div class="footer-btn-container">
                        <div class="footer-btn">
                            <div><a href="/home/registrationstep2" class="btn btn-info btn-iconlft"><i class="fas fa-arrow-left"></i><span>Last</span></a></div>
                            <div><a href="/home/registrationstep4" class="btn btn-info btn-iconrht"><span>Next</span><i class="fas fa-arrow-right"></i></a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



