﻿@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container mt-4">
    <div class="row">
        <div class="col-lg-4">  <img class="w-100" src="~/images/logo.png" alt="Logo" /></div>
        <div class="col-lg-8">
            <ul class="attorneyMenu">
                <li><a href="#">Dashboard</a></li>
                <li><a href="#">My Profile</a></li>
                <li><a href="#">Logout</a></li>
            </ul>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <h2 class="my-3">SHIPP Detail</h2>
            <hr />
            <div class="logo mb-5">
                <img src="~/images/shipp.png" />
            </div>
        </div>




        <label class="col-sm-3 col-form-label"><strong>Trademark Name</strong></label>
        <label class="col-sm-9 col-form-label">SHIPP</label>

        <label class="col-sm-3 col-form-label"><strong>Trademark Owner</strong></label>
        <label class="col-sm-9 col-form-label">
            SHIPP CHEMICAL COMPANY, INC.
            GEORGIA CORPORATION
        </label>


        <label class="col-sm-3 col-form-label"><strong>Trademark</strong></label>
        <label class="col-sm-9 col-form-label">SHIPP</label>

        <label class="col-sm-3 col-form-label"><strong>Contact Information</strong></label>
        <label class="col-sm-9 col-form-label">
            1360 BUSINESS CENTER DRIVE, S.W.
            CONYERS, GEORGIA 30094
            Email Address
            Telephone Number
        </label>

        <label class="col-sm-3 col-form-label"><strong>Filing Date</strong></label>
        <label class="col-sm-9 col-form-label">07.10.2015</label>

        <label class="col-sm-3 col-form-label"><strong>Type of Registration</strong></label>
        <label class="col-sm-9 col-form-label">Principal</label>


        <label class="col-sm-3 col-form-label"><strong>Current Basis</strong></label>
        <label class="col-sm-9 col-form-label">1A - currently in use</label>


        <label class="col-sm-3 col-form-label"><strong>Status</strong></label>
        <label class="col-sm-9 col-form-label">RENEWED</label>


        <label class="col-sm-3 col-form-label"><strong>Trademark</strong></label>
        <label class="col-sm-9 col-form-label">SHIPP</label>

        <label class="col-sm-3 col-form-label"></label>
        <label class="col-sm-9 col-form-label">
            USPTO Status: REGISTERED AND RENEWED <br />
            USPTO Status Date: JAN 09, 2017
        </label>


        <label class="col-sm-3 col-form-label"></label>
        <label class="col-sm-9 col-form-label">
            <strong>Filed:</strong> SEP 27, 1985 Serial Number: 73−560,563<br />
            <strong>Published For Opposition:</strong> AUG 05, 1986<br />
            <strong>
                Registered:
            </strong> OCT 28, 1986 Registration Number: 1,414,669 <br />

            <strong>
                Last Renewed:
            </strong> OCT 28, 2016<br />
            <strong>
                Earliest Date in Record:
            </strong> MAR 1980 (First Used)<br />
        </label>


        <label class="col-sm-3 col-form-label">
            <a href="" class="btn kww-filled-btn-sm py-0">More Details</a>
            <a href="" class="btn kww-filled-btn-sm py-0">Back to List</a>
        </label>
        <label class="col-sm-9 col-form-label">
            </label>
    </div>

    


</div>



