﻿@{
    ViewData["Title"] = "Tabs Accordion";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container">
    <div class="row">
        <div class="col-md-12">
            <ul class="nav nav-tabs responsive-tabs my-3">
                <li class="active"><a href="#home"><span>Home</span> <i class="fas fa-home"></i></a></li>
                <li><a href="#trademarks">Trademarks <i class="fas fa-trademark"></i></a></li>
                <li><a href="#clients">Clients <i class="fas fa-user"></i></a></li>
                <li><a href="#reports">Reports <i class="fas fa-table"></i></a></li>
                <li><a href="#config">Configure <i class="fas fa-tools"></i></a></li>
            </ul>

            <div class="tab-content">
                <div class="tab-pane active" id="home">
                    <ul class="nav responsive-tabs my-3 breadcrumb">
                        <li><a href="#keym"><span>Key Matrics</span></a></li>
                        <li><a href="#deadline">Deadlines and Next Actions</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane" id="keym">
                            <p>
                                Key Matrics.....
                            </p>
                        </div>
                        <div class="tab-pane" id="deadline">
                            <p>deadline....</p>
                        </div>
                    </div>
                </div>

                <div class="tab-pane" id="trademarks">
                    <p>Trademark</p>
                </div>

                <div class="tab-pane" id="clients">
                    <p>clients....</p>
                </div>

                <div class="tab-pane" id="reports">
                    <p>reports ....</p>
                </div>

                <div class="tab-pane" id="config">
                    <p>config ....</p>
                </div>
            </div>

        </div>
    </div>
</div>

