﻿@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container mt-4">
    <div class="row">
        <div class="col-lg-4">  <img class="w-100" src="~/images/logo.png" alt="Logo" /></div>
        <div class="col-lg-8">
            <ul class="attorneyMenu">
                <li><a href="#">Dashboard</a></li>
                <li><a href="#">My Profile</a></li>
                <li><a href="#">Logout</a></li>
            </ul>
        </div>
    </div>
    <div class="mt-3">

        <h5 class="my-3">List View</h5>
        <h5 class="mb-0 float-left">
            Potential Threats
        </h5>
        <div class="float-right">
            <label>Threat Level:</label>
            <span>&#9679; High</span>
            <span>&#9679; Moderate</span>
            <span>&#9679; Low</span>

            <label><strong>Show Only:</strong></label>
            <select>
                <option>Status: All</option>
                <option>Status: All</option>
                <option>Status: All</option>
            </select>
        </div>


    </div>



    <table class="table table-sm border table-striped  mt-3 tbl-middle-align text-center">

        <thead>
            <tr>
                <th scope="col">Drawing</th>
                <th scope="col">Trademark Name </th>
                <th scope="col">Relation</th>
                <th scope="col">Status</th>
                <th scope="col">Owner</th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <img width="100%" src="~/images/drawing.png" />
                </td>
                <td valign="middle">3</td>
                <td>Ralph Lauren</td>
                <td>&#9679; Same</td>
                <td>90269610</td>
                <td>Live</td>
                <td>Office Action</td>
                <td class="tbl-date-red">05.05.2020</td>
                <td><a class="btn-sm kww-filled-btn-sm" href="#">View Details</a></td>
            </tr>

            <tr>
                <td>
                    <img width="100%" src="~/images/drawing.png" />
                </td>
                <td valign="middle">3</td>
                <td>Ralph Lauren</td>
                <td>&#9679; Coordinated</td>
                <td>90269610</td>
                <td>Live</td>
                <td>Office Action</td>
                <td class="tbl-date-yellow">05.05.2020</td>
                <td><a class="btn-sm kww-filled-btn-sm" href="#">View Details</a></td>
            </tr>


            <tr>
                <td>
                    <img width="100%" src="~/images/drawing.png" />
                </td>
                <td valign="middle">3</td>
                <td>Ralph Lauren</td>
                <td>&#9679; Non-Related</td>
                <td>90269610</td>
                <td>Live</td>
                <td>Office Action</td>
                <td class="tbl-date-yellow">05.05.2020</td>
                <td><a class="btn-sm kww-filled-btn-sm" href="#">View Details</a></td>
            </tr>



        </tbody>
    </table>


</div>



