﻿@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container mt-4">
    <div class="row">
        <div class="col-lg-4">  <img class="w-100" src="~/images/logo.png" alt="Logo" /></div>
        <div class="col-lg-8">
            <ul class="attorneyMenu">
                <li><a href="#">Dashboard</a></li>
                <li><a href="#">My Profile</a></li>
                <li><a href="/Home/Logout">Logout</a></li>
            </ul>
        </div>
        </div>
    <div class="mt-3">

        <h2 class="my-3">Dashboard</h2>


        <div class="accordion" id="accordionEx" role="tablist" aria-multiselectable="true">
            <!-- Accordion card -->
            <div class="card">

                <!-- Card header -->
                <div class="card-header" role="tab" id="headingOne1">
                    <a data-toggle="collapse" data-parent="#accordionEx" href="#collapseOne1" aria-expanded="true"
                       aria-controls="collapseOne1">
                        <h5 class="mb-0">
                            <i class="fas fa-plus-square"></i>
                            Trademark Applications
                        </h5>
                       
                    </a>
                </div>
                <!-- Card body -->
                <div id="collapseOne1" class="collapse show" role="tabpanel" aria-labelledby="headingOne1"
                     data-parent="#accordionEx">
                    <div class="card-body">
                        <table class="table table-sm  table-striped border mt-3 tbl-middle-align">

                            <thead>
                                <tr>
                                    <th scope="col">Drawing</th>
                                    <th scope="col">Trademark Name </th>
                                    <th scope="col">Owner</th>
                                    <th scope="col">Serial Number</th>
                                    <th scope="col">Registration Number</th>
                                    <th scope="col">Status</th>
                                    <th scope="col">Action</th>
                                    <th scope="col">Deadline</th>
                                    <th scope="col"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <img width="100%" src="~/images/drawing.png" />
                                    </td>
                                    <td valign="middle">3</td>
                                    <td>Ralph Lauren</td>
                                    <td></td>
                                    <td>90269610</td>
                                    <td>Live</td>
                                    <td>Office Action</td>
                                    <td class="tbl-date-red">05.05.2020</td>
                                    <td><a class="btn-sm kww-filled-btn-sm" href="#">View Overview</a></td>
                                </tr>

                                <tr>
                                    <td>
                                        <img width="100%" src="~/images/drawing.png" />
                                    </td>
                                    <td valign="middle">3</td>
                                    <td>Ralph Lauren</td>
                                    <td></td>
                                    <td>90269610</td>
                                    <td>Live</td>
                                    <td>Office Action</td>
                                    <td class="tbl-date-yellow">05.05.2020</td>
                                    <td><a class="btn-sm kww-filled-btn-sm" href="#">View Overview</a></td>
                                </tr>



                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
            <!-- Accordion card -->
            <!-- Accordion card -->
            <div class="card">

                <!-- Card header -->
                <div class="card-header" role="tab" id="headingOne2">
                    <a data-toggle="collapse" data-parent="#accordionEx" href="#collapseOne2" aria-expanded="false"
                       aria-controls="collapseOne2">
                        <h5 class="mb-0 float-left">
                            <i class="fas fa-plus-square"></i>
                            Trademark Registration Maintenance
                        </h5>
                        <div class="float-right">
                            <label>Renewal in:</label>
                            <span>&#9679; 7 days</span>
                            <span>&#9679; 30 days</span>
                            <span>&#9679; 90 days</span>
                        </div>
                    </a>
                </div>
                <!-- Card body -->
                <div id="collapseOne2" class="collapse show" role="tabpanel" aria-labelledby="headingOne2"
                     data-parent="#accordionEx">
                    <div class="card-body">
                        <table class="table table-sm  table-striped border mt-3 tbl-middle-align">

                            <thead>
                                <tr>
                                    <th scope="col">Drawing</th>
                                    <th scope="col">Trademark Name </th>
                                    <th scope="col">Owner</th>
                                    <th scope="col">Serial Number</th>
                                    <th scope="col">Registration Number</th>
                                    <th scope="col">Status</th>
                                    <th scope="col">Action</th>
                                    <th scope="col">Deadline</th>
                                    <th scope="col"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <img width="100%" src="~/images/drawing.png" />
                                    </td>
                                    <td valign="middle">3</td>
                                    <td>Ralph Lauren</td>
                                    <td></td>
                                    <td>90269610</td>
                                    <td>Live</td>
                                    <td>Office Action</td>
                                    <td class="tbl-date-red">05.05.2020</td>    
                                    <td><a class="btn-sm kww-filled-btn-sm" href="#">View Overview</a></td>
                                </tr>

                                <tr>
                                    <td>
                                        <img width="100%" src="~/images/drawing.png" />
                                    </td>
                                    <td valign="middle">3</td>
                                    <td>Ralph Lauren</td>
                                    <td></td>
                                    <td>90269610</td>
                                    <td>Live</td>
                                    <td>Office Action</td>
                                    <td><span class="tbl-date-yellow"></span>05.05.2020</td>
                                    <td><a class="btn-sm kww-filled-btn-sm" href="#">View Overview</a></td>
                                </tr>



                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
            <!-- Accordion card -->
        </div>

    


   
    </div>
       
    
</div>



