﻿@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container mt-4">
    <div class="row">
        <div class="col-lg-4">  <img class="w-100" src="~/images/logo.png" alt="Logo" /></div>
        <div class="col-lg-8">
            <ul class="attorneyMenu">
                <li><a href="#">Trademarks</a></li>
                <li><a href="#">Clients</a></li>
                <li><a href="#">Attorneys</a></li>
                <li><a href="#">Custom Parameters</a></li>
                <li><a href="#">Logout</a></li>
            </ul>
        </div>


    </div>
    <div class="row">
        <div class="col-lg-12 mt-3">
            <h2 class="float-left">Attorney List</h2>
            <div class="text-right">
                <a class="btn-sm  kww-filled-btn-sm" href="">Add New Attorney</a>
            </div>
        </div>
        <div class="col-lg-6">

            <table class="table table-sm table-striped  mt-3 tbl-middle-align">

                <thead>
                    <tr>
                        <th scope="col">First Name</th>
                        <th scope="col">Last Name </th>
                        <th scope="col">Email Address</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>3</td>
                        <td>Ralph Lauren</td>
                        <td>user@email</td>
                        <td></td>

                    </tr>

                    <tr>
                        <td>3</td>
                        <td>Ralph Lauren</td>
                        <td>user@email</td>
                        <td></td>

                    </tr>

                </tbody>
            </table>
        </div>
        <div class="col-lg-6">

        </div>

    </div>
      
  
</div>



