﻿@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container mt-4">
    <div class="row">
        <div class="col-lg-4">  <img class="w-100" src="~/images/logo.png" alt="Logo" /></div>
        <div class="col-lg-8">
            <ul class="attorneyMenu">
                <li><a href="#">Trademarks</a></li>
                <li><a href="#">Clients</a></li>
                <li><a href="#">Attorneys</a></li>
                <li><a href="#">Custom Parameters</a></li>  
                <li><a href="#">Logout</a></li>
            </ul>
        </div>
        </div>
            <div class="">
                
                <h2 class="my-3">Trademark List</h2>
                <div class="text-right">
                    <a class="btn-sm  kww-filled-btn-sm" href="">Add New Trademark</a>
                    <a class="btn-sm  kww-filled-btn-sm" href="">Export</a>
                </div>

                <table class="table table-sm table-striped  mt-3 tbl-middle-align border table-responsive-md">
                   
                    <thead>
                        <tr>
                            <th scope="col">Drawing</th>
                            <th scope="col">Trademark Name </th>
                            <th scope="col">Owner</th>
                            <th scope="col">Serial Number</th>
                            <th scope="col">Registration Number</th>
                            <th scope="col">Status</th>
                            <th scope="col">Action</th>
                            <th scope="col">Deadline</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <img width="100%" src="~/images/drawing.png" />
                            </td>
                            <td valign="middle">3</td>
                            <td>Ralph Lauren</td>
                            <td></td>
                            <td>90269610</td>
                            <td>Live</td>
                            <td>Office Action</td>
                            <td class="tbl-date-red">05.05.2020</td>
                            <td><a class="btn-sm kww-filled-btn-sm" href="#">View Details</a></td>
                        </tr>

                        <tr>
                            <td>
                                <img width="100%" src="~/images/drawing.png" />
                            </td>
                            <td valign="middle">3</td>
                            <td>Ralph Lauren</td>
                            <td></td>
                            <td>90269610</td>
                            <td>Live</td>
                            <td>Office Action</td>
                            <td class="tbl-date-yellow">05.05.2020</td>
                            <td><a class="btn-sm kww-filled-btn-sm" href="#">View Details</a></td>
                        </tr>



                    </tbody>
                </table>


                <div class="filter">
                    <div class="form-group row">
                        <label class="col-lg-3">Status:</label>
                        <select class="col-lg-3">
                            <option>Live</option>
                            <option>Live</option>
                            <option>Live</option>
                        </select>
                    </div>
                    <div class="form-group row">
                        <label class="col-lg-3">Registration:</label>
                        <select class="col-lg-3">
                            <option>Registered</option>
                            <option>Registered</option>
                            <option>Registered</option>
                        </select>
                    </div>

                    <div class="form-group row">
                        <label class="col-lg-3">Action Type:</label>
                        <select class="col-lg-3">
                            <option>Registered</option>
                            <option>Registered</option>
                            <option>Registered</option>
                        </select>
                    </div>

                    <div class="form-group row">
                        <label class="col-lg-3">Activity:</label>
                        <select class="col-lg-3">
                            <option>Active</option>
                            <option>Active</option>
                            <option>Active</option>
                        </select>
                    </div>

                    <div class="form-group row">
                        <label class="col-lg-3">Deadline:</label>
                        <select class="col-lg-3">
                            <option>7 days</option>
                            <option>7 days</option>
                            <option>7 days</option>
                        </select>
                    </div>

                    <div class="form-group row">
                        <label class="col-lg-3">Publication Period:</label>
                        <select class="col-lg-3">
                            <option>Status All</option>
                            <option>7 days</option>
                            <option>7 days</option>
                        </select>
                    </div>

                    <div class="form-group row">
                        <label class="col-lg-3">:</label>
                        <a class="col-lg-3 btn-sm kww-filled-btn-sm text-center" href="">Generate Report</a>
                    </div>

                </div>
            </div>
       
    
</div>



